Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

Update test_dependencies.py
  libs/langchain_v1/tests/unit_tests/test_dependencies.py
Due: none

11
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/test_dependencies.py
Due: none

refactor(agents): improve HITL edit notification clarity and documentation
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

00
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/test_dependencies.py
Due: none

Update factory.py
  libs/langchain_v1/langchain/agents/factory.py
Due: none

Fix typos in some files
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/core/langchain_core/messages/content.py
Due: core

Update base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

docs: fix typos in some files (#33867)
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/core/langchain_core/messages/content.py
Due: core

docs: expand "Why use LangChain?" section in README (#33846)
  README.md
Due: none

update
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_incomplete_response.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

feat: The response.incomplete event is not handled when using stream_mode=['messages'] (#33871)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_incomplete_response.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

add failing test
  libs/core/tests/unit_tests/prompts/test_loading.py
Due: core

feat(perplexity): Created Dedicated Output Parser to Support Reasoning Model Output for perplexity (#33670)
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/langchain_perplexity/output_parsers.py
  libs/partners/perplexity/tests/unit_tests/test_output_parsers.py
Due: none

Fix typos in libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/function_calling.py
Due: core

Fix typos in libs/core/tests/unit_tests/indexing/test_hashed_document.py
  libs/core/tests/unit_tests/indexing/test_hashed_document.py
Due: core

Fix typos in libs/core/tests/unit_tests/utils/test_strings.py
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

Fix typos in libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

Fix typos in libs/langchain/langchain_classic/chains/summarize/chain.py
  libs/langchain/langchain_classic/chains/summarize/chain.py
Due: langchain

Fix typos in libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

fix(langchain): Update langchain-core dependency version (#33775)
  libs/langchain_v1/pyproject.toml
Due: none

docs: fix typos in libs/partners/groq/langchain_groq/chat_models.py (#33878)
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

docs: fix typos in libs/core/tests/unit_tests/test_tools.py (#33876)
  libs/core/tests/unit_tests/test_tools.py
Due: core

docs: fix typos in libs/core/tests/unit_tests/indexing/test_hashed_document.py (#33874)
  libs/core/tests/unit_tests/indexing/test_hashed_document.py
Due: core

docs: fix typos in libs/langchain/langchain_classic/chains/summarize/chain.py (#33877)
  libs/langchain/langchain_classic/chains/summarize/chain.py
Due: langchain

docs: fix typos in libs/core/tests/unit_tests/utils/test_strings.py (#33875)
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

docs: fix typos in libs/core/langchain_core/utils/function_calling.py (#33873)
  libs/core/langchain_core/utils/function_calling.py
Due: core

delete unused function
  libs/partners/chroma/langchain_chroma/vectorstores.py
Due: chroma

fix(chroma): pydantic validation error when using `retriever.invoke()` (#31377)
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: chroma

refactor(langchain): use `create_importer` for `HypotheticalDocumentEmbedder` (#32078)
  libs/langchain/langchain_classic/embeddings/__init__.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
  libs/langchain/tests/unit_tests/test_imports.py
Due: langchain

cr
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

cr
  libs/core/langchain_core/runnables/base.py
Due: core

fix(core): fix `Runnable` parallel schema being empty when children runnable input schemas use `TypedDict` (#28196)
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

expand docstring
  libs/core/langchain_core/runnables/passthrough.py
Due: core

fix(core): `RunnablePick` may not return a dict if keys is a string (#31321)
  libs/core/langchain_core/runnables/passthrough.py
Due: core

fix(core): context preservation in shielded async callbacks (#32163)
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
Due: core

lint
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

chore(langchain): Support for SystemMessage in create_agent (#33640)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/test_context_editing_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_todo_middleware.py
Due: none

tests
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface
