Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

chore(core): drop `gpt-3.5-turbo` from docstrings
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/fallbacks.py
Due: core

chore(core): drop `gpt-3.5-turbo` from docstrings (#36497)
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/fallbacks.py
Due: core

x
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

ci: re-run `require_issue_link check` after PR reopen
  .github/workflows/reopen_on_assignment.yml
Due: none

ci: re-run `require_issue_link check` after PR reopen (#36499)
  .github/workflows/reopen_on_assignment.yml
Due: none

fix(openai,groq,openrouter): use is-not-None checks in usage metadata token extraction
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/groq/uv.lock
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
Due: groq, openai

bump OR timeout
  libs/partners/openrouter/Makefile
Due: none

fix(openai,groq,openrouter): use is-not-None checks in usage metadata token extraction (#36500)
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/groq/uv.lock
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
  libs/partners/openrouter/Makefile
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
Due: groq, openai

fix(text-splitters): preserve content from unclosed markdown code blocks
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(openai): fix broken vcr cassette playback and add ci guard
  .github/scripts/check_diff.py
  .github/workflows/_test_vcr.yml
  .github/workflows/check_diffs.yml
  libs/partners/openai/Makefile
  libs/partners/openai/tests/conftest.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

chore(openai): fix broken vcr cassette playback and add ci guard (#36502)
  .github/scripts/check_diff.py
  .github/workflows/_test_vcr.yml
  .github/workflows/check_diffs.yml
  libs/partners/openai/Makefile
  libs/partners/openai/tests/conftest.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

fix(core): skip empty reasoning_content strings in _extract_reasoning_from_additional_kwargs
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(core): forward detail field in convert_to_openai_image_block
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
Due: core

fix(core): respect include_injected=False when filter_args is provided in create_schema_from_function
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(openai): preserve non-strict tool default when converting to Responses API payload
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(text-splitters): replace O(n²) list.pop(0) with deque.popleft() in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

feat(core): add `ChatBaseten` to serializable mapping
  libs/core/langchain_core/load/mapping.py
Due: core

feat(core): add `ChatBaseten` to serializable mapping (#36510)
  libs/core/langchain_core/load/mapping.py
Due: core

cr
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/validators.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

cr
  libs/core/langchain_core/load/validators.py
Due: core

cr
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

fix(core): add init validator and serialization mappings for Bedrock models (#34510)
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/mapping.py
  libs/core/langchain_core/load/validators.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

release(core): 1.2.26
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/text-splitters/uv.lock
Due: core, text-splitters, core-version

release(core): 1.2.26 (#36511)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/text-splitters/uv.lock
Due: core, text-splitters, core-version

Technical Fix #36517
  solution.py
Due: none

add demo
  examples/headless-langgraph-e2e/.env.example
  examples/headless-langgraph-e2e/.gitignore
  examples/headless-langgraph-e2e/README.md
  examples/headless-langgraph-e2e/agent.py
  examples/headless-langgraph-e2e/frontend/index.html
  examples/headless-langgraph-e2e/frontend/package-lock.json
  examples/headless-langgraph-e2e/frontend/package.json
  examples/headless-langgraph-e2e/frontend/src/App.tsx
  examples/headless-langgraph-e2e/frontend/src/LocationMap.tsx
  examples/headless-langgraph-e2e/frontend/src/index.css
  examples/headless-langgraph-e2e/frontend/src/main.tsx
  examples/headless-langgraph-e2e/frontend/src/tools.ts
  examples/headless-langgraph-e2e/frontend/tsconfig.json
  examples/headless-langgraph-e2e/frontend/vite.config.ts
  examples/headless-langgraph-e2e/langgraph.json
  examples/headless-langgraph-e2e/pyproject.toml
  examples/headless-langgraph-e2e/uv.lock
Due: none

fix(text-splitters): use deque to fix O(n²) performance in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters

fix(core): ignore empty reasoning_content in _extract_reasoning_from_additional_kwargs
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(text-splitters): use deque to fix O(n²) in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters

fix(core): ignore empty reasoning_content in additional_kwargs extraction
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

partners: add langchain-avian package
  libs/partners/avian/LICENSE
  libs/partners/avian/Makefile
  libs/partners/avian/README.md
  libs/partners/avian/langchain_avian/__init__.py
  libs/partners/avian/langchain_avian/chat_models.py
  libs/partners/avian/langchain_avian/data/__init__.py
  libs/partners/avian/langchain_avian/data/_profiles.py
  libs/partners/avian/langchain_avian/py.typed
  libs/partners/avian/pyproject.toml
  libs/partners/avian/scripts/check_imports.py
  libs/partners/avian/scripts/lint_imports.sh
  libs/partners/avian/tests/__init__.py
  libs/partners/avian/tests/integration_tests/__init__.py
  libs/partners/avian/tests/integration_tests/test_chat_models.py
  libs/partners/avian/tests/integration_tests/test_compile.py
  libs/partners/avian/tests/unit_tests/__init__.py
  libs/partners/avian/tests/unit_tests/test_chat_models.py
Due: none

fix(huggingface): support pydantic structured output
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface

feat: add state_schema parameter to @wrap_tool_call decorator
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_wrap_tool_call.py
Due: none

fix(langchain-huggingface): Support Pydantic schema for structured output (#32197)
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/unit_tests/test_structured_output.py
Due: huggingface

fix(core): allow Anthropic Thinking with structured output by relaxing tool_choice
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/test_anthropic_thinking.py
Due: none

Add fix for issue #36418
  libs/langchain_v1/langchain/agents/fix #36418.md
Due: none

feat(huggingface): add chat_template_kwargs to ChatHuggingFace
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface

chore(model-profiles): refresh model profile data
  libs/partners/openai/langchain_openai/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: openai

Fix AzureChatOpenAI http client reuse
  libs/partners/openai/langchain_openai/chat_models/azure.py
Due: openai

fix(text-splitters): replace list.pop(0) with deque.popleft() in markdown splitter
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters
