Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

feat(seo): enforce comprehensive SEO blog standards across all sites
  CLAUDE.md
  agents/seo_agent/config.py
  agents/seo_agent/tools/github_tools.py
Due: none

fix(langchain): recognize ChatAnthropicVertex in _get_approximate_token_counter (#36320)
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

Revert "fix(core): trace invocation params in metadata (#36080)"
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

revert: Revert "fix(core): trace invocation params in metadata" (#36322)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

release(core): 1.2.23 (#36323)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

fix(core): ignore empty strings in _extract_reasoning_from_additional_kwargs
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/block_translators/test_groq.py
Due: core

core: forward detail field in convert_to_openai_image_block
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
Due: core

fix(core): ignore empty string reasoning_content in additional_kwargs
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

fix(text-splitters): preserve content from unclosed code blocks in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(anthropic): read args['path'] in _handle_rename instead of args['old_path']
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

fix(infra): correct lint_diff relative paths in package makefiles
  libs/langchain_v1/Makefile
  libs/partners/mistralai/Makefile
  libs/text-splitters/Makefile
Due: text-splitters, mistralai

fix(infra): correct lint_diff relative paths in package makefiles (#36333)
  libs/langchain_v1/Makefile
  libs/partners/mistralai/Makefile
  libs/text-splitters/Makefile
Due: text-splitters, mistralai

chore(model-profiles): refresh model profile data
  libs/partners/groq/langchain_groq/data/_profiles.py
Due: groq

fix(openai): stringify responses function_call_output tool blocks
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(openai): harden tool block validation for responses output
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

feat(seo): add autonomous content quality review before blog publishing
  agents/seo_agent/config.py
  agents/seo_agent/tools/content_review.py
  agents/seo_agent/tools/file_tools.py
  agents/seo_agent/tools/github_tools.py
  agents/seo_agent/tools/llm_router.py
Due: none

fix(core): preserve detail parameter in openai image blocks
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
Due: core

feat(seo_agent): add DB-backed activity schedule with Telegram management
  agents/seo_agent/pulse.py
  agents/seo_agent/skills.py
  agents/seo_agent/strategy.py
  agents/seo_agent/telegram_bot.py
  agents/seo_agent/tests/__init__.py
  agents/seo_agent/tests/test_activity_schedule.py
  agents/seo_agent/tools/supabase_tools.py
  agents/seo_agent/worker.py
Due: none

cookbook: add multilingual RAG evaluation with LangChain + RAGAS
  cookbook/multilingual_rag_evaluation_langchain_ragas.ipynb
Due: none

fix(seo-agent): handle day names in schedule_edit and add cadence support
  agents/seo_agent/strategy.py
  agents/seo_agent/telegram_bot.py
  agents/seo_agent/tests/test_activity_schedule.py
Due: none

feat(frontend): add Railway deployment config
  frontend/package.json
  frontend/railway.toml
  frontend/vite.config.ts
Due: none

fix(seo-agent): use partial update for schedule edits to preserve `skill` column
  agents/seo_agent/strategy.py
  agents/seo_agent/tests/test_activity_schedule.py
  agents/seo_agent/tools/supabase_tools.py
Due: none

fix(openrouter): support both old and new SDK param names for x_title
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(openrouter): add tests for both old and new SDK param names
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(seo-agent): resolve natural language skill names in schedule edits
  agents/seo_agent/telegram_bot.py
  agents/seo_agent/tests/test_activity_schedule.py
Due: none

feat(anthropic): support adaptive thinking mode
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(core): handle AttributeError when accessing profile in chat_models
  libs/core/langchain_core/language_models/chat_models.py
Due: core

fix(openai): ensure tool output is string for Responses API function_call_output
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix: update x_title to x_open_router_title for openrouter SDK 0.8.0 compatibility
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

feat(frontend): add skill descriptions and frequency selector to schedule page
  frontend/src/components/schedules/ScheduleDashboard.tsx
  frontend/src/components/schedules/SkillCard.tsx
  frontend/src/components/schedules/SkillSchedulePanel.tsx
  frontend/src/data/skills.ts
  frontend/src/hooks/useScheduleEntries.ts
  frontend/src/hooks/useSupabase.ts
  frontend/src/types/database.ts
  frontend/src/utils/supabase.ts
Due: none

fix(seo-agent): support multiple actions per message for bulk operations
  agents/seo_agent/telegram_bot.py
Due: none

fix(seo-agent): handle None day values in schedule sort and display
  agents/seo_agent/strategy.py
  agents/seo_agent/tests/test_activity_schedule.py
Due: none

feat(frontend): add keywords tracking page
  frontend/src/App.tsx
  frontend/src/components/keywords/KeywordStatsCards.tsx
  frontend/src/components/keywords/KeywordsDashboard.tsx
  frontend/src/components/keywords/KeywordsTable.tsx
  frontend/src/components/keywords/RankMovers.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/types/database.ts
Due: none

fix(core): forward detail field in convert_to_openai_image_block
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

fix(openai): reuse default httpx clients in AzureChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
Due: openai

fix(openrouter): pass attribution headers via httpx `default_headers`
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
Due: none

fix(openrouter): pass attribution headers via httpx `default_headers` (#36347)
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
