Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

🦍
  libs/partners/openai/Makefile
Due: openai

bump core and increment version
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

qxqx
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Due: none

further namespace clean up
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/embeddings/cache.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Due: none

x
  libs/langchain_v1/langchain/storage/__init__.py
  libs/langchain_v1/langchain/storage/encoder_backed.py
  libs/langchain_v1/langchain/storage/exceptions.py
  libs/langchain_v1/langchain/storage/in_memory.py
Due: none

release(anthropic): 1.0.0a4 (#33427)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

x
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_imports.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Due: none

x
  libs/langchain_v1/tests/unit_tests/storage/__init__.py
  libs/langchain_v1/tests/unit_tests/storage/test_imports.py
Due: none

x
  libs/langchain_v1/langchain/documents/__init__.py
Due: none

x
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

chore(langchain_v1): further namespace clean up (#33428)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/documents/__init__.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/embeddings/cache.py
  libs/langchain_v1/langchain/storage/__init__.py
  libs/langchain_v1/langchain/storage/encoder_backed.py
  libs/langchain_v1/langchain/storage/exceptions.py
  libs/langchain_v1/langchain/storage/in_memory.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_imports.py
  libs/langchain_v1/tests/unit_tests/storage/__init__.py
  libs/langchain_v1/tests/unit_tests/storage/test_imports.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Due: none

add pytest-xdist
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

chore(langchain_v1): stricter handling of sync vs. async for wrap_model_call and wrap_tool_call (#33429)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Due: none

conditionally skip test
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

Revert "🦍"
  libs/partners/openai/Makefile
Due: openai

chore(langchain_v1): remove langchain_text_splitters from test group (#33425)
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

chore(anthropic): speed up integration tests (#33430)
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(openai): conditionally skip test (#33431)
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

chore: Added a warning in case of nested variables
  libs/core/langchain_core/prompts/string.py
Due: core

Added 2 Stringify functions with unit tests
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/strings.py
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

x
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

chore(langchain_v1): improve error message (#33433)
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

Update default model
  libs/langchain_v1/langchain/agents/deepagents.py
Due: none

Test Commands
  libs/core/langchain_core/utils/strings.py
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

docs: mustache_template_vars
  libs/core/langchain_core/prompts/string.py
Due: core

x
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

chore(langchain_v1): bump release version (#33440)
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

args not arguments
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

chore(langchain_v1): use args for HITL (#33442)
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

new typing
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

initial pass
  libs/langchain_v1/docs/middleware_diagrams/README.md
  libs/langchain_v1/docs/middleware_diagrams/diagrams.json
  libs/langchain_v1/docs/middleware_diagrams/index.html
  libs/langchain_v1/docs/middleware_diagrams/svgs/after_agent_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/after_model_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/base_no_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/base_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/before_agent_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/before_model-after_model_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/before_model_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/wrap_model_with_tools.svg
  libs/langchain_v1/docs/middleware_diagrams/svgs/wrap_tool_with_tools.svg
  libs/langchain_v1/scripts/generate_middleware_diagrams.py
Due: none

Fix "No call message found" bug with gpt-oss-120b when using responses API
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

chore: Added all keys for usage metadata
  libs/partners/perplexity/langchain_perplexity/chat_models.py
Due: none

fix(ci): harden pydantic test workflow against command injection
  .github/workflows/_test_pydantic.yml
Due: none

fix(google-gemini): handle unrecognized FinishReason enum gracefully
  libs/community/langchain_community/chat_models/google_gemini.py
  libs/community/langchain_community/fix-handle-unknown-finish-reason.rst
Due: none

Update docs.mdx
  docs/docs/contributing/tutorials/docs.mdx
Due: none

Update changelog entry with PR reference #33448.
  libs/community/langchain_community/fix-handle-unknown-finish-reason.rst
Due: none

test(google-gemini): add regression test for unknown FinishReason (#33448)
  libs/community/langchain_community/chat_models/libs/community/tests/unit_tests/chat_models/test_google_gemini_finish_reason.py
Due: none

Add google_gemini module to CI validation script for library recognition
  .github/scripts/check_diff.py
Due: none
