Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

nits
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
Due: none

refactor
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/_context.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(core): fix Pydantic v1 support in tools/runnable
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/langchain/langchain_classic/chains/hyde/base.py
Due: core, langchain

lint
  libs/langchain_v1/langchain/agents/middleware/_context.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

min diff
  libs/langchain_v1/langchain/agents/middleware/_context.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

lint
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
Due: none

refactor
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

fix(huggingface): handle reasoning content in message chunk conversion
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

cleaner sa
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
Due: none

style(huggingface): fix formatting in chunk conversion check
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix BasechatOpenAI lower case
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

chore(infra): disable new discussion posts
  .github/DISCUSSION_TEMPLATE/announcements-archived.yaml
  .github/DISCUSSION_TEMPLATE/ask-dosu-archived.yaml
  .github/DISCUSSION_TEMPLATE/docs-discussions-archived.yaml
  .github/DISCUSSION_TEMPLATE/general-archived copy.yaml
  .github/DISCUSSION_TEMPLATE/ideas-archived.yaml
  .github/DISCUSSION_TEMPLATE/q-a-archived.yaml
  .github/DISCUSSION_TEMPLATE/show-and-tell-archived.yaml
Due: none

fix(huggingface): remove unnecessary blank lines in chunk conversion functions
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

patch
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

release: langchain-core 1.0.6 (#34018)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

checking versions
  .github/workflows/check_versions.yml
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

temp skip openai
  .github/workflows/_release.yml
Due: none

chore: temporarily skip openai integration tests (#34020)
  .github/workflows/_release.yml
Due: none

skip text completion tests
  libs/partners/openai/tests/integration_tests/llms/test_azure.py
Due: openai

release: langchain 1.0.8 (#34019)
  .github/workflows/check_versions.yml
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

chore(openai): skip Azure text completions tests (#34021)
  libs/partners/openai/tests/integration_tests/llms/test_azure.py
Due: openai

override
  .gitignore
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_composition.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_tools.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_fallback.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_todo.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

fix ordering on hitl
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

lint
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

simplify
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

add profile module to langchain-core
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/profile/__init__.py
  libs/core/langchain_core/language_models/profile/_data_loader.py
  libs/core/langchain_core/language_models/profile/_loader_utils.py
  libs/core/langchain_core/language_models/profile/model_profile.py
Due: core

more friendly deprecation
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_fallback.py
Due: none

fix for a
  libs/partners/anthropic/langchain_anthropic/middleware/prompt_caching.py
Due: anthropic

anthropic tests
  libs/partners/anthropic/langchain_anthropic/middleware/prompt_caching.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_prompt_caching.py
Due: anthropic

linter
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_fallback.py
Due: none

lint
  libs/partners/anthropic/uv.lock
Due: anthropic

add tomli to core deps
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

deepcopy
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
Due: none

Update libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

turn langchain-model-profiles into cli tool for refreshing data
  libs/model-profiles/langchain_model_profiles/__init__.py
  libs/model-profiles/langchain_model_profiles/_data_loader.py
  libs/model-profiles/langchain_model_profiles/cli.py
  libs/model-profiles/langchain_model_profiles/data/ATTRIBUTION.txt
  libs/model-profiles/langchain_model_profiles/data/augmentations/README.md
  libs/model-profiles/langchain_model_profiles/data/augmentations/models/openai/gpt-3.5-turbo.toml
  libs/model-profiles/langchain_model_profiles/data/augmentations/providers/amazon-bedrock.toml
  libs/model-profiles/langchain_model_profiles/data/augmentations/providers/anthropic.toml
  libs/model-profiles/langchain_model_profiles/data/augmentations/providers/google.toml
  libs/model-profiles/langchain_model_profiles/data/augmentations/providers/google_vertexai.toml
  libs/model-profiles/langchain_model_profiles/data/augmentations/providers/openai.toml
  libs/model-profiles/langchain_model_profiles/data/models.json
  libs/model-profiles/langchain_model_profiles/model_profile.py
  libs/model-profiles/pyproject.toml
  libs/model-profiles/scripts/refresh_data.py
  libs/model-profiles/uv.lock
Due: none

add data to anthropic
  libs/partners/anthropic/langchain_anthropic/data/augmentations/profiles.toml
  libs/partners/anthropic/langchain_anthropic/data/models.json
Due: anthropic

retain order
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

fix(anthropic): prevent crash with cache_control and empty message content
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
