Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

huggingface[patch]: ruff fixes and rules (#31912)
  libs/cli/pyproject.toml
  libs/langchain/pyproject.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/utils/import_utils.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/tests/integration_tests/test_compile.py
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
  libs/partners/huggingface/tests/unit_tests/test_huggingface_pipeline.py
Due: langchain, anthropic, huggingface

undo
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

more undo
  libs/partners/groq/tests/unit_tests/fake/callbacks.py
Due: groq

groq[patch]: ruff fixes and rules (#31904)
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/groq/scripts/check_imports.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/integration_tests/test_compile.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/groq/tests/unit_tests/fake/callbacks.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/test_standard.py
Due: groq

docs: update tbs parameter (#31905)
  docs/docs/integrations/tools/google_serper.ipynb
Due: root

langchain: Use pytest.raises and pytest.fail to handle exceptions in tests (#31911)
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
  libs/langchain/tests/unit_tests/output_parsers/test_datetime_parser.py
  libs/langchain/tests/unit_tests/output_parsers/test_enum_parser.py
  libs/langchain/tests/unit_tests/output_parsers/test_pandas_dataframe_parser.py
Due: langchain

langchain: Fix Evaluator's _check_evaluation_args (#31910)
  libs/langchain/langchain/evaluation/schema.py
Due: langchain

lint
  docs/docs/integrations/chat/huggingface.ipynb
  docs/docs/integrations/text_embedding/huggingfacehub.ipynb
Due: root

docs: update huggingface inference to latest usage (#31906)
  docs/docs/integrations/chat/huggingface.ipynb
  docs/docs/integrations/llms/huggingface_endpoint.ipynb
  docs/docs/integrations/providers/huggingface.mdx
  docs/docs/integrations/text_embedding/huggingfacehub.ipynb
Due: root

core: docs: clarify where the kwargs in on_tool_start and on_tool_end go (#31909)
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/tools/base.py
Due: core

cli: bugbear
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
Due: none

langchain[patch]: harden xml parser for xmloutput agent (#31859)
  libs/langchain/langchain/agents/format_scratchpad/xml.py
  libs/langchain/langchain/agents/output_parsers/xml.py
  libs/langchain/tests/unit_tests/agents/format_scratchpad/test_xml.py
  libs/langchain/tests/unit_tests/agents/output_parsers/test_xml.py
Due: langchain

tigris: remove integration as the product has changed
  docs/docs/integrations/providers/tigris.mdx
  docs/docs/integrations/vectorstores/tigris.ipynb
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/tigris.py
Due: langchain, root

cli: ensure the connection always get closed in github.py
  libs/cli/langchain_cli/utils/github.py
Due: none

exception: update Exception to ValueError for clearer error handling
  libs/langchain/langchain/retrievers/multi_vector.py
Due: langchain

cli: ensure the connection always get closed in github.py (#31914)
  libs/cli/langchain_cli/utils/github.py
Due: none

exception: update Exception to ValueError for clearer error handling (#31915)
  libs/langchain/langchain/retrievers/multi_vector.py
Due: langchain

fix: add UP007 to ignore list for pyupgrade non-pep604 annotation union
  libs/langchain/pyproject.toml
Due: langchain

anthropic: bugbear
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

chroma: bugbear
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: chroma

text splitters: add chunk_size and chunk_overlap validations
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

groq: bugbear
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
Due: groq

huggingface: bugbear
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/pyproject.toml
Due: huggingface

remove duplicate
  libs/langchain/langchain/tools/__init__.py
Due: langchain

text splitters: add chunk_size and chunk_overlap validations (#31916)
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

ruff: add bugbear across packages (#31917)
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/llm_checker/base.py
  libs/langchain/langchain/chains/llm_math/base.py
  libs/langchain/langchain/chains/llm_summarization_checker/base.py
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/chains/qa_with_sources/vector_db.py
  libs/langchain/langchain/chains/query_constructor/parser.py
  libs/langchain/langchain/evaluation/schema.py
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/memory/chat_memory.py
  libs/langchain/langchain/memory/combined.py
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/pyproject.toml
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/pyproject.toml
Due: langchain, anthropic, chroma, groq, huggingface

mistralai: add ruff rules
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_compile.py
  libs/partners/mistralai/tests/integration_tests/test_embeddings.py
  libs/partners/mistralai/tests/integration_tests/test_standard.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_standard.py
  libs/partners/mistralai/uv.lock
Due: mistralai

fix stacklevels back to previous values, make rule unfixable across packages
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/llm_checker/base.py
  libs/langchain/langchain/chains/llm_math/base.py
  libs/langchain/langchain/chains/llm_summarization_checker/base.py
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/chains/qa_with_sources/vector_db.py
  libs/langchain/langchain/chains/query_constructor/parser.py
  libs/langchain/langchain/evaluation/schema.py
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/memory/chat_memory.py
  libs/langchain/langchain/memory/combined.py
  libs/langchain/pyproject.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
Due: langchain, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai

mistralai[patch]: ruff fixes and rules (#31918)
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_compile.py
  libs/partners/mistralai/tests/integration_tests/test_embeddings.py
  libs/partners/mistralai/tests/integration_tests/test_standard.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_standard.py
  libs/partners/mistralai/uv.lock
Due: mistralai

add back unfixable
  libs/core/pyproject.toml
Due: core

core: Put back unfixable PLW1510
  libs/core/pyproject.toml
Due: core

fix typos
  libs/langchain/pyproject.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
Due: langchain, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai

ruff: restore stacklevels, disable autofixing (#31919)
  libs/core/pyproject.toml
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/llm_checker/base.py
  libs/langchain/langchain/chains/llm_math/base.py
  libs/langchain/langchain/chains/llm_summarization_checker/base.py
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/chains/qa_with_sources/vector_db.py
  libs/langchain/langchain/chains/query_constructor/parser.py
  libs/langchain/langchain/evaluation/schema.py
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/memory/chat_memory.py
  libs/langchain/langchain/memory/combined.py
  libs/langchain/pyproject.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
Due: core, langchain, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai

nomic ruff rules and fixes
  libs/partners/nomic/Makefile
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/tests/integration_tests/test_compile.py
  libs/partners/nomic/uv.lock
Due: nomic

langchain: Add ruff rules TC
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/callbacks/streaming_aiter.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/llm.py
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/chains/router/llm_router.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/document_loaders/blob_loaders/schema.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/evaluation/parsing/base.py
  libs/langchain/langchain/retrievers/document_compressors/chain_extract.py
  libs/langchain/langchain/retrievers/ensemble.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/llms/fake_chat_model.py
  libs/langchain/tests/unit_tests/llms/fake_llm.py
  libs/langchain/tests/unit_tests/storage/test_lc_store.py
Due: langchain

bump lockfiles
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
  libs/partners/deepseek/uv.lock
  libs/partners/exa/langchain_exa/tools.py
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/__init__.py
  libs/partners/huggingface/langchain_huggingface/chat_models/__init__.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Due: chroma, exa, fireworks, groq, huggingface

nomic[patch]: ruff fixes and rules (#31922)
  libs/partners/nomic/Makefile
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/tests/integration_tests/test_compile.py
  libs/partners/nomic/uv.lock
Due: nomic

add rule to deepseek
  libs/partners/deepseek/pyproject.toml
Due: none
