Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix(core): add more sanitization to templates (#36612)
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_dict.py
  libs/core/tests/unit_tests/prompts/test_image.py
  libs/core/tests/unit_tests/prompts/test_string.py
Due: core

x
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

x
  libs/core/langchain_core/version.py
Due: core, core-version

release(core): release 1.2.28 (#36614)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

x
  libs/core/langchain_core/prompts/image.py
  libs/core/tests/unit_tests/prompts/test_image.py
Due: core

fix(core): sanitize prompts more (#36613)
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_dict.py
  libs/core/tests/unit_tests/prompts/test_image.py
  libs/core/tests/unit_tests/prompts/test_string.py
Due: core

x
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

release(core): 0.3.84 (#36616)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

Fix #36606: Remove PydanticSerializationUnexpectedValue warning for AzureChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/uv.lock
Due: openai

ci: pin all actions to full-length commit SHAs
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_refresh_model_profiles.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/_test_vcr.yml
  .github/workflows/auto-label-by-package.yml
  .github/workflows/check_agents_sync.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_diffs.yml
  .github/workflows/close_unchecked_issues.yml
  .github/workflows/codspeed.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
  .github/workflows/reopen_on_assignment.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-issues.yml
  .github/workflows/v03_api_doc_build.yml
Due: none

ci: pin all actions to full-length commit SHAs (#36621)
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_refresh_model_profiles.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/_test_vcr.yml
  .github/workflows/auto-label-by-package.yml
  .github/workflows/check_agents_sync.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_diffs.yml
  .github/workflows/close_unchecked_issues.yml
  .github/workflows/codspeed.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
  .github/workflows/reopen_on_assignment.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-issues.yml
  .github/workflows/v03_api_doc_build.yml
Due: none

docs(infra): note sha pinning requirement in agent files
  AGENTS.md
  CLAUDE.md
Due: none

docs(infra): note sha pinning requirement in agent files (#36625)
  AGENTS.md
  CLAUDE.md
Due: none

docs(infra): add model reference freshness guidelines
  AGENTS.md
  CLAUDE.md
Due: none

docs(infra): add model reference freshness guidelines (#36626)
  AGENTS.md
  CLAUDE.md
Due: none

core: normalize same-index tool call chunks
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks

foo
  libs/standard-tests/pyproject.toml
Due: standard-tests

uodated conditions for stream_usage
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(add_texts): keep traceback in add_texts
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix(core): skip empty string reasoning_content in _extract_reasoning_from_additional_kwargs
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(core): avoid reviving runtime payloads in RunnableWithMessageHistory
  libs/core/langchain_core/runnables/history.py
  libs/core/tests/unit_tests/runnables/test_history.py
Due: core

x
  libs/core/Makefile
Due: core

x
  libs/langchain_v1/Makefile
Due: none

x
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_config.py
Due: core

x
  libs/langchain_v1/Makefile
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/benchmarks/__init__.py
  libs/langchain_v1/tests/benchmarks/test_create_agent.py
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

perf(langchain): add benchmark command (#36641)
  libs/langchain_v1/Makefile
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/benchmarks/__init__.py
  libs/langchain_v1/tests/benchmarks/test_create_agent.py
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

x
  libs/core/tests/unit_tests/runnables/test_config.py
Due: core

docs(security): add threat models for langchain-core and langchain_v1
  .github/THREAT_MODEL_CORE.md
  .github/THREAT_MODEL_V1.md
Due: none

docs(security): reference threat models from CLAUDE.md and AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

x
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

x
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Due: none

x
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

x
  libs/langchain_v1/tests/benchmarks/test_create_agent.py
Due: none

Update utils.py
  libs/core/langchain_core/runnables/utils.py
Due: core

Docs: update quickstart model in README for clarity
  README.md
Due: none

core: validate batch_size > 0 in _batch and _abatch
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_public_api.py
Due: core

x
  libs/core/langchain_core/runnables/config.py
Due: core

x
  libs/langchain_v1/langchain/agents/factory.py
Due: none
