Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

fix(core): handle missing StructuredPrompt schema
  libs/core/langchain_core/prompts/structured.py
Due: core

fix
  libs/core/tests/unit_tests/prompts/test_structured.py
Due: core

fix(core): handle missing `StructuredPrompt` schema (#34096)
  libs/core/langchain_core/prompts/structured.py
  libs/core/tests/unit_tests/prompts/test_structured.py
Due: core

test(core): add regression test for list-index resolution (MCP-style schema)
  libs/core/tests/unit_tests/utils/test_json_schema.py
Due: core

fix(tests): satisfy ruff E501 in MCP-style regression test
  libs/core/tests/unit_tests/utils/test_json_schema.py
Due: core

chore(core): apply ruff formatting to json schema regression test
  libs/core/tests/unit_tests/utils/test_json_schema.py
Due: core

Update SECURITY.md
  SECURITY.md
Due: none

feat(langchain): Add ConditionalModelSettingsMiddleware for easier setting model_settings
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/conditional_model_settings.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_conditional_model_setting.py
Due: none

refactor: make this middleware immutable with constructor-based configuration
  libs/langchain_v1/langchain/agents/middleware/conditional_model_settings.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_conditional_model_setting.py
Due: none

Fix CI lint errors in ollama partner package
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/tests/unit_tests/test_reasoning.py
Due: ollama

fix: support Gemini structured output in ProviderStrategy
  libs/langchain/uv.lock
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/structured_output.py
Due: langchain

fix linter errors
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

docs: add env note for %pip command in chatbot tutorial
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
Due: none

chore(infra): update PR template, agent files
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CLAUDE.md
Due: none

style(core,langchain,qdrant): fix some docstrings for refs
  libs/core/langchain_core/vectorstores/base.py
  libs/langchain/langchain_classic/retrievers/multi_vector.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
Due: core, langchain, qdrant

chore(infra): update PR template, agent files (#34104)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CLAUDE.md
Due: none

style(core,langchain,qdrant): fix some docstrings for refs (#34105)
  libs/core/langchain_core/vectorstores/base.py
  libs/langchain/langchain_classic/retrievers/multi_vector.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
Due: core, langchain, qdrant

docs(anthropic,core,langchain): updates
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/content.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
  libs/partners/anthropic/langchain_anthropic/middleware/prompt_caching.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: core, anthropic

docs(anthropic,core,langchain): updates (#34106)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/content.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
  libs/partners/anthropic/langchain_anthropic/middleware/prompt_caching.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: core, anthropic

fix(tools): add validation for reserved 'config' argument (#34029)
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

style(tools): fix linting errors in structured.py
  libs/core/langchain_core/tools/structured.py
Due: core

feat(anthropic): auto append relevant beta headers
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(ollama): filter out strict argument in ChatOllama
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

style(ollama): fix linting issues
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

chore(infra): updated allowed scopes in PR lint configuration
  .github/workflows/pr_lint.yml
Due: none

chore(infra): updated allowed scopes in PR lint configuration (#34115)
  .github/workflows/pr_lint.yml
Due: none

feat(anthropic,model-profiles): add `effort` support
  libs/core/langchain_core/language_models/model_profile.py
  libs/model-profiles/uv.lock
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
  libs/partners/anthropic/langchain_anthropic/data/profile_augmentations.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: core, anthropic

int test
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

feat(anthropic): automatic computer use beta appending
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

fix ext tests
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Due: langchain

.
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: langchain

.
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/uv.lock
Due: langchain

feat(anthropic): document and test fine grained tool streaming
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

feat(anthropic): tool search support
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

docs
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

feat(core,anthropic): `extras` on `BaseTool`
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: core, anthropic

fix(core): fix for `exclude_inputs` `POST`
  libs/core/langchain_core/tracers/langchain.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Due: core

docs: Add complete runnable examples to tool decorator docstrings
  libs/langchain_v1/langchain/tools/__init__.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
