Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

core[patch]: release 0.3.46 (#30383)
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

update extract-docs
  docs/docs/integrations/tools/tavily_extract.ipynb
Due: root

Docs: Fix deprecated initialize agent in ainetwork (#30355)
  docs/docs/integrations/tools/ainetwork.ipynb
Due: root

docs: update contextual.ipynb
  docs/docs/integrations/providers/contextual.ipynb
Due: root

nit
  libs/partners/deepseek/langchain_deepseek/chat_models.py
Due: none

reasoning -> reasoning_content in additional_kwargs
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

docs: update contextual.ipynb (#30384)
  docs/docs/integrations/providers/contextual.ipynb
Due: root

fix links
  docs/docs/integrations/providers/tavily.mdx
Due: root

add to package registry
  libs/packages.yml
Due: none

adding to packages.yml + updating tavily.mdx
  docs/docs/integrations/providers/tavily.mdx
  libs/packages.yml
Due: root

support strict and method
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, fireworks, groq, mistralai

update
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
Due: fireworks, groq

community[minor]: PlaywrightURLLoader can take stored session file (#30152)
  libs/community/langchain_community/document_loaders/url_playwright.py
Due: community

Integration update (#30381)
  docs/docs/integrations/providers/tavily.mdx
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
  libs/packages.yml
Due: root

use langgraph examples in guides
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
Due: root

fix typo
  docs/docs/integrations/providers/tavily.mdx
Due: root

fix
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
Due: root

update package registry
  libs/packages.yml
Due: none

format
  docs/docs/integrations/retrievers/zotero.ipynb
Due: root

docs: update tavily guides (#30387)
  docs/docs/integrations/providers/tavily.mdx
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
Due: root

fix links
  docs/docs/integrations/retrievers/zotero.ipynb
Due: root

fix heading
  docs/docs/integrations/retrievers/zotero.ipynb
Due: root

fix
  docs/docs/integrations/retrievers/zotero.ipynb
Due: root

fix
  docs/docs/integrations/providers/zotero.ipynb
  docs/docs/integrations/retrievers/zotero.ipynb
Due: root

fix markdown
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Due: root

community: add ZoteroRetriever (#30270)
  docs/docs/integrations/providers/zotero.ipynb
  docs/docs/integrations/retrievers/zotero.ipynb
  libs/packages.yml
Due: root

Update MLflow integration docs with concise examples and external links (#30082)
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Due: root

[fix]
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

[fix]
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

nit
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

(Ollama) Fix String Value parsing in _parse_arguments_from_tool_call (#30154)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

Update docs/docs/integrations/providers/netmind.ipynb
  docs/docs/integrations/providers/netmind.ipynb
Due: root

doc: netmind doc
  docs/docs/integrations/text_embedding/netmind.ipynb
Due: root

doc: netmind doc
  docs/docs/integrations/chat/netmind.ipynb
Due: root

core(mermaid): use frontmatter format
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

typo: Update gigachat_functions_agent.ipynb
  cookbook/gigachat_functions_agent.ipynb
Due: root

deepseek: support json mode
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

xai: handle strict when method=function_calling
  libs/partners/xai/langchain_xai/chat_models.py
Due: none

kwargs.pop
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Due: fireworks, groq, mistralai
