Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

ss
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

ss
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/__snapshots__/test_framework.ambr
  libs/langchain_v1/uv.lock
Due: none

ss
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/__snapshots__/test_framework.ambr
Due: none

more
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
Due: core

chore(docs): fix a few refs syntax errors (#34044)
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/langchain/langchain_classic/chat_models/base.py
  libs/langchain_v1/uv.lock
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: core, langchain, standard-tests, anthropic, fireworks, groq, mistralai, ollama, openai

fix: don't reorder tool calls in HITL middleware (#34023)
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

run integration tests in parallel
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
Due: fireworks

update models for integration tests
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_standard.py
Due: fireworks

chore(fireworks): update tested models (#34070)
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_standard.py
  libs/partners/fireworks/uv.lock
Due: fireworks

bump core and increment version
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

x
  libs/core/langchain_core/prompts/string.py
Due: core

x
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

release(standard-tests): 1.0.2 (#34071)
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

style(core,langchain-classic,openai): fix griffe warnings
  libs/core/langchain_core/prompts/chat.py
  libs/core/uv.lock
  libs/langchain/langchain_classic/smith/evaluation/progress.py
  libs/langchain/langchain_classic/smith/evaluation/runner_utils.py
  libs/langchain/langchain_classic/smith/evaluation/string_run_evaluator.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
Due: core, langchain, openai

fix(openai): add missing `tools` param to `ChatOpenAI` `with_structured_output`
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

style(core,langchain-classic,openai): fix griffe warnings (#34074)
  libs/core/langchain_core/prompts/chat.py
  libs/core/uv.lock
  libs/langchain/langchain_classic/smith/evaluation/progress.py
  libs/langchain/langchain_classic/smith/evaluation/runner_utils.py
  libs/langchain/langchain_classic/smith/evaluation/string_run_evaluator.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
Due: core, langchain, openai

test(core): update test expectations for llm_output in streaming mode
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
Due: core

fix(core): ensure llm_output is always dict in all code paths
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/llms.py
Due: core

style: fix line length in fake_chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
Due: core

fix(text-splitters): add MySQL text splitter support and improve delimiter handling
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

reordered the text splitters logic for MYSQL
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

made proper regex according to the required MYSQL partitions script made
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

removed multiple used imports and ordered the test function for MYSQL along with other Language test functions
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

implemented proper test script inorder to pass the line limits
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

reduced the test script lines to less than 88
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

removed the /s sequences
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

test fixes
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

left 2 lines for proper formatting
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

wrote proper test script
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

updates
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_dynamic_system_prompt.py
  libs/langchain_v1/tests/unit_tests/agents/test_agent_system_message.py
  libs/langchain_v1/tests/unit_tests/agents/test_system_message_support.py
  libs/langchain_v1/tests/unit_tests/messages/__init__.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/prompt_caching.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
  libs/partners/anthropic/uv.lock
Due: anthropic

cleaning up tests
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_dynamic_system_prompt.py
  libs/langchain_v1/tests/unit_tests/agents/test_agent_system_message.py
  libs/langchain_v1/tests/unit_tests/agents/test_system_message.py
  libs/langchain_v1/tests/unit_tests/agents/test_system_message_support.py
  libs/langchain_v1/tests/unit_tests/messages/__init__.py
Due: none

Create JOCK
  JOCK
Due: none

nits from review
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

fix tests
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
Due: none

fix
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
Due: anthropic

fix(text-splitters): reverse preserved elements iterator in HTMLSemanticPreservingSplitter
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(core): Decouple provider prefix from model name in init_chat_mode… (#34046)
  libs/langchain/langchain_classic/chat_models/base.py
Due: langchain
