Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

Revert "chore(infra): drop anthropic from core test matrix (#32146)"
  .github/workflows/_release.yml
Due: none

.
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/content_blocks.py
Due: core

revert: drop anthropic from core test matrix (#32152)
  .github/workflows/_release.yml
Due: none

lint
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

lint
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

fix test
  libs/core/tests/unit_tests/utils/test_imports.py
Due: core

lint
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
Due: openai

chore: update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

chore: update `copilot-instructions.md` (#32159)
  .github/copilot-instructions.md
Due: none

.
  libs/langchain/langchain/agents/agent.py
  libs/langchain/tests/unit_tests/agents/test_early_stopping_generate.py
  libs/langchain/uv.lock
Due: langchain

lint
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

docs: fix vectorstore feature table - correct "IDs in add Documents" values (#32153)
  docs/src/theme/FeatureTables.js
Due: root

feat(core): add `sanitize_for_postgres` utility to fix PostgreSQL NUL byte DataError (#32157)
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/strings.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

Update libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

.
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

bump lock
  libs/core/uv.lock
Due: core

remove beta_content
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

format
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

bump
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/uv.lock
Due: ollama

bump + lint
  libs/langchain/langchain/output_parsers/yaml.py
  libs/langchain/uv.lock
Due: langchain

format
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
Due: core

lint
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
Due: core

fix: replace deprecated `Pydantic .schema()` calls with v1/v2 compatible pattern (#32162)
  libs/langchain/langchain/chains/openai_functions/citation_fuzzy_match.py
  libs/langchain/langchain/evaluation/parsing/json_schema.py
  libs/langchain/langchain/output_parsers/yaml.py
  libs/langchain/uv.lock
Due: langchain

fix: add type ignore for asyncio.create_task to support Python 3.9 and 3.10
  libs/core/langchain_core/callbacks/manager.py
Due: core

fix: CVE-2024-6345-libs-langchain-uv.lock
  .trivyignore
  pyproject.toml
  uv.lock
Due: none

add documentation about how to use extended thinking with langchain-aws
  docs/docs/integrations/chat/bedrock.ipynb
Due: root

update RAG tutorials link to point to correct path
  docs/docs/integrations/text_embedding/cohere.ipynb
  docs/docs/integrations/text_embedding/databricks.ipynb
  docs/docs/integrations/text_embedding/fireworks.ipynb
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
  docs/docs/integrations/text_embedding/lindorm.ipynb
  docs/docs/integrations/text_embedding/mistralai.ipynb
  docs/docs/integrations/text_embedding/modelscope_embedding.ipynb
  docs/docs/integrations/text_embedding/naver.ipynb
  docs/docs/integrations/text_embedding/netmind.ipynb
  docs/docs/integrations/text_embedding/nomic.ipynb
  docs/docs/integrations/text_embedding/openai.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
  docs/docs/integrations/text_embedding/sambastudio.ipynb
  docs/docs/integrations/text_embedding/together.ipynb
  docs/docs/integrations/text_embedding/zhipuai.ipynb
Due: root

feat(langchain): add ruff rules PL
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/agents/format_scratchpad/xml.py
  libs/langchain/langchain/agents/openai_assistant/base.py
  libs/langchain/langchain/agents/react/base.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/combine_documents/map_reduce.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/combine_documents/reduce.py
  libs/langchain/langchain/chains/combine_documents/refine.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/natbot/crawler.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/base.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/globals.py
  libs/langchain/langchain/output_parsers/combining.py
  libs/langchain/langchain/output_parsers/pandas_dataframe.py
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/retrievers/test_multi_query.py
  libs/langchain/tests/unit_tests/stubs.py
Due: langchain

32097-distance-in-metadata
  libs/langchain_community/langchain_community/vectorstores/clickhouse.py
  libs/langchain_community/langchain_community/vectorstores/test_clickhouse.py
Due: none

docs: add documentation about how to use extended thinking with ChatBedrockConverse (#32168)
  docs/docs/integrations/chat/bedrock.ipynb
Due: root

x
  libs/core/langchain_core/messages/v2.py
Due: core

qx
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/messages/v2.py
Due: core

allow overriding id
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/pyproject.toml
Due: core

x
  libs/core/langchain_core/messages/v2.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

x
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/messages/v1.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

refactor(core): standard content blocks (#32085)
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/uv.lock
Due: core

add index to content blocks
  libs/core/langchain_core/messages/content_blocks.py
Due: core

remove call_id
  libs/core/langchain_core/messages/content_blocks.py
Due: core

lint
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/v1.py
  libs/core/pyproject.toml
Due: core

x
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
