Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

fix: rename parameter in magic_function to prevent issue with redefinition of built-in function
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

test: add type ignores for TypedDict access in tool call validation
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

test: move error status tool test to be with rest of tool test group
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

test: add straggler type ignore
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

nit
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

test: further type ignores and some pylint appeasement
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

fix: correct typo in test description for HumanMessage
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

docs: test updating link formatting in troubleshooting section of ChatModelIntegrationTests
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

core[patch]: check before removing tags
  libs/core/langchain_core/callbacks/base.py
Due: core

docs: Add section on tool choice to guide model decision-making
  docs/docs/concepts/tool_calling.mdx
Due: root

core: release 0.3.66 (#31690)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

core[patch]: check before removing tags (#31691)
  libs/core/langchain_core/callbacks/base.py
Due: core

fix: correct link formatting in troubleshooting section of ChatModelIntegrationTests
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

drop openai from test matrix
  .github/workflows/_release.yml
Due: none

fix: consistent colon usage
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

fix: correct double underscore formatting in VCR documentation links
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

fix: remove redundant line breaks in tool calling documentation
  docs/docs/concepts/tool_calling.mdx
Due: root

infra: temporarily drop OpenAI from core release test matrix (#31693)
  .github/workflows/_release.yml
Due: none

Revert "infra: temporarily drop OpenAI from core release test matrix (#31693)"
  .github/workflows/_release.yml
Due: none

bump core and increment version
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

Revert "infra: temporarily drop OpenAI from core release test matrix" (#31694)
  .github/workflows/_release.yml
Due: none

langchain: release 0.3.26 (#31695)
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

fix: "ToolMessage: contains..." was incorrectly bolded due to whitespace issue
  libs/core/langchain_core/utils/function_calling.py
Due: core

fix: correct typo in height description from "METERs" to "METERS"
  libs/core/langchain_core/utils/function_calling.py
Due: core

fix: move test for structured few-shot examples with tool calls to follow similar positioning as js
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

test: move test for binding runnables to more logical place
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

core: fix `get_buffer_string` output for structured message content (#31600)
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

langchain[patch]: smith.evaluation.progress.ProgressBarCallback: Make output after progress bar ends configurable (#31583)
  libs/langchain/langchain/smith/evaluation/progress.py
Due: langchain

docs: reword header, hyperlink OpenAI specific api ref
  docs/docs/concepts/tool_calling.mdx
  docs/docs/how_to/tool_choice.ipynb
Due: root

anthropic: insert default HumanMessage if missing (#31657)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

raise TypeError for null choices
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

openai[patch]: Improve error message when response type is malformed (#31619)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

add test
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

implement fix
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

refactor
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

added think paramater for ollama
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

Fixed tests
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

add to docstrings
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
Due: openai

openai[patch]: fix client caching when request_timeout is specified via httpx.Timeout (#31698)
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai
