Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

update
  docs/docs/integrations/providers/permit.ipynb
Due: root

add langchain-permit yml file
  libs/packages.yml
Due: none

update provider markdown
  docs/docs/integrations/providers/permit.ipynb
Due: root

add provider docs
  docs/docs/integrations/providers/permit.ipynb
Due: root

updates
  docs/docs/integrations/providers/permit.ipynb
  docs/docs/integrations/providers/permit.mdx
Due: root

core: basemessage.text() (#29078)
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/xai/langchain_xai/chat_models.py
Due: core, anthropic, groq, ollama, openai

Add and fix tests
  libs/community/tests/unit_tests/document_loaders/test_lakefs.py
Due: community

remove dead link
  docs/docs/integrations/providers/permit.mdx
Due: root

Handled a bug around empty query results differently
  libs/community/langchain_community/vectorstores/kinetica.py
Due: community

Made some Jira fields optional for agent to work correctly
  libs/community/langchain_community/utilities/jira.py
Due: community

docs: fixed typos in reporter and added description to README.md
  cookbook/README.md
  cookbook/reporter/part_1.ipynb
  cookbook/reporter/part_2.ipynb
Due: root

update notebooks
  docs/docs/integrations/providers/cognee.ipynb
  docs/docs/integrations/retrievers/cognee.ipynb
Due: root

update style
  docs/docs/integrations/providers/cognee.ipynb
  docs/docs/integrations/retrievers/cognee.ipynb
Due: root

registering and documenting azure_ai package.
  docs/docs/integrations/chat/azure_ai.ipynb
  docs/docs/integrations/providers/azure_ai.mdx
  libs/packages.yml
Due: root

update permut.mdx
  docs/docs/integrations/providers/permit.mdx
Due: root

Add user-level metadata
  libs/community/langchain_community/document_loaders/lakefs.py
  libs/community/tests/unit_tests/document_loaders/test_lakefs.py
Due: community

add dependency and format
  libs/community/langchain_community/document_loaders/lakefs.py
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/document_loaders/test_lakefs.py
Due: community

update provider docs
  docs/docs/integrations/providers/permit.mdx
Due: root

community: ConfluenceLoader: add a filter method for attachments
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

add tools doc
  docs/docs/integrations/tools/permit.ipynb
Due: root

add docs
  docs/docs/integrations/tools/permit.ipynb
Due: root

Add dependency to test_dependencies
  libs/community/tests/unit_tests/test_dependencies.py
  libs/community/uv.lock
Due: community

added test cases
  libs/community/langchain_community/vectorstores/vectara.py
  libs/community/tests/integration_tests/vectorstores/test_vectara.py
Due: community

remove pinecone env vars from monorepo
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
Due: none

pinecone: delete from monorepo (#29889)
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  libs/partners/pinecone/LICENSE
  libs/partners/pinecone/Makefile
  libs/partners/pinecone/README.md
  libs/partners/pinecone/langchain_pinecone/__init__.py
  libs/partners/pinecone/langchain_pinecone/_utilities.py
  libs/partners/pinecone/langchain_pinecone/embeddings.py
  libs/partners/pinecone/langchain_pinecone/py.typed
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/scripts/check_imports.py
  libs/partners/pinecone/scripts/lint_imports.sh
  libs/partners/pinecone/tests/__init__.py
  libs/partners/pinecone/tests/integration_tests/__init__.py
  libs/partners/pinecone/tests/integration_tests/test_compile.py
  libs/partners/pinecone/tests/integration_tests/test_embeddings.py
  libs/partners/pinecone/tests/integration_tests/test_vectorstores.py
  libs/partners/pinecone/tests/unit_tests/__init__.py
  libs/partners/pinecone/tests/unit_tests/test_embeddings.py
  libs/partners/pinecone/tests/unit_tests/test_imports.py
  libs/partners/pinecone/tests/unit_tests/test_vectorstores.py
  libs/partners/pinecone/uv.lock
Due: pinecone

remove guide on runnable and update provider page
  docs/docs/integrations/providers/swi-prolog.md
  docs/docs/integrations/tools/prolog_runnable.ipynb
Due: root

add headers to tool doc
  docs/docs/integrations/tools/prolog_tool.ipynb
Due: root

add to package registry
  libs/packages.yml
Due: none

🦍
  .pre-commit-config.yaml
Due: none

fix package registry
  libs/packages.yml
Due: none
