Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

use session name insted of project name
  libs/core/tests/unit_tests/tracers/test_langchain.py
Due: core

fix unit test
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

anthropic
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: anthropic

chroma
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Due: chroma

x
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

infra: relax types-requests version range (#31504)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Due: anthropic, chroma

anthropic[patch]: cache tokens nit (#31484)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

uv lock
  libs/partners/huggingface/uv.lock
Due: huggingface

huggingface: 0.3.0 release (#31503)
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Due: huggingface

Update tool_calling.mdx
  docs/docs/concepts/tool_calling.mdx
Due: root

core: use run tree post/patch (#31500)
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/document_loaders/test_langsmith.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
  libs/core/uv.lock
Due: core

lock
  libs/partners/chroma/uv.lock
Due: chroma

fix: typo in SECURITY.md (practicies -> practices)
  SECURITY.md
Due: none

Keep dict for now
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/prompts/base.py
Due: core

Use parametrized test in test_correct_get_tracer_project
  libs/core/tests/unit_tests/tracers/test_langchain.py
Due: core

fix: typo in SECURITY.md (practicies -> practices) (#31509)
  SECURITY.md
Due: none

docs:Adding line breaks to better explain each step, also making sure that bulleting style is consistent with other docs. (#31506)
  docs/docs/concepts/tool_calling.mdx
Due: root

x
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Due: openai

openai[patch]: guard against None text completions in BaseOpenAI (#31514)
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Due: openai

bump core and increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

openai: release 0.3.20 (#31515)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

add cache control to anthropic input test
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

format
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

openai[patch]: update with_structured_outputs docstring
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

standard-tests: add cache_control to Anthropic inputs test (#31516)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

openai[patch]: update with_structured_outputs docstring (#31517)
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

openai[patch]: pass through with_structured_output kwargs
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

nit
  libs/partners/openai/langchain_openai/chat_models/azure.py
Due: openai

openai[patch]: pass through with_structured_output kwargs (#31518)
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

openai[release]: 0.3.21
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

Server example
  cookbook/lean_canvas/lean_canvas_agent.ipynb
  cookbook/lean_canvas/server/.env.example
  cookbook/lean_canvas/server/README.md
  cookbook/lean_canvas/server/api_image.png
  cookbook/lean_canvas/server/demo.gif
  cookbook/lean_canvas/server/langgraph.json
  cookbook/lean_canvas/server/lean_canvas_agent.py
  cookbook/lean_canvas/server/simple_agent.py
Due: root

openai[release]: 0.3.21 (#31519)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

warn instead of error on partial images
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

process cache_control in kwargs
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

code interpreter
  libs/partners/openai/tests/cassettes/test_code_interpreter.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

remote mcp
  libs/partners/openai/tests/cassettes/test_mcp_builtin.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

add comment
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

openai[patch]: VCR some tests (#31524)
  libs/partners/openai/tests/cassettes/test_code_interpreter.yaml.gz
  libs/partners/openai/tests/cassettes/test_mcp_builtin.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

Update Multi_modal_RAG_google.ipynb to remove the unsupported Gemini models
  cookbook/Multi_modal_RAG_google.ipynb
Due: root

Update structured_outputs.mdx
  docs/docs/concepts/structured_outputs.mdx
Due: root
