Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

reduces image file sizes
  docs/static/img/mlflow_1_trace.png
  docs/static/img/mlflow_2_langgraph_trace.png
  docs/static/img/mlflow_3_model_from_code.png
  docs/static/img/mlflow_4_trace_logged.png
Due: root

docs:Add SWI-Prolog for langchain-prolog
  docs/docs/integrations/providers/prolog.md
Due: root

updates MLflow tracing docs
  docs/docs/integrations/providers/mlflow_tracking.ipynb
  docs/static/img/mlflow_1_trace.png
  docs/static/img/mlflow_2_langgraph_trace.png
  docs/static/img/mlflow_3_model_from_code.png
  docs/static/img/mlflow_4_trace_logged.png
Due: root

adds tracing link to intro
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Due: root

code formatting
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Due: root

added unit tests
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fixed formatting
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
Due: openai

fixed more linting issues
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

linting
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Due: root

optimized an if statement in base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fixed test linting issue
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

small formatting changes
  docs/docs/integrations/tools/tavily_extract.ipynb
  libs/community/langchain_community/tools/tavily_search/tool.py
  libs/community/langchain_community/utilities/tavily_search.py
Due: community, root

removed __replace__ from test_base.py due to linting err
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

small documentation changes
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
  libs/community/langchain_community/tools/tavily_search/tool.py
  libs/community/langchain_community/utilities/tavily_search.py
Due: community, root

more linting issues fixed
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

update numpy dep
  libs/community/pyproject.toml
  libs/community/uv.lock
Due: community

remove poetry.lock...
  libs/community/poetry.lock
Due: community

bump numpy in lock file
  libs/community/uv.lock
Due: community

relax dep in standard tests
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

Fix typo in code samples for max_tokens_for_prompt
  libs/community/langchain_community/llms/openai.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: community, openai

Refactor PDFPlumber
  libs/community/langchain_community/document_loaders/parsers/pdf.py
Due: community

core: Fix loss of partially initialised variables during prompt composition
  libs/core/langchain_core/prompts/chat.py
Due: core

Refactor ZeroxPDFLoader
  docs/docs/integrations/document_loaders/zeroxpdfloader.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/parsers/__init__.py
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_public_api.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Due: community, root

linting
  libs/core/langchain_core/prompts/chat.py
Due: core

lint (unrelated change from core)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

docs: Fix typo in code samples for max_tokens_for_prompt (#30088)
  libs/community/langchain_community/llms/openai.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: community, openai

docs:Add SWI-Prolog for langchain-prolog (#30081)
  docs/docs/integrations/providers/prolog.md
Due: root

[Doc] Improve api doc (#30073)
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/runnables/retry.py
Due: core

docs: refine milvus server description (#30071)
  docs/docs/integrations/vectorstores/milvus.ipynb
Due: root

community[patch]: remove numpy cap for python < 3.12 (#30084)
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/uv.lock
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: community, standard-tests

increment version
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

core[patch]: release 0.3.41 (#30100)
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

bump core and increment version
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

bump core and increment version
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

bump core and increment version
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

langchain[patch]: release 0.3.20 (#30101)
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

tests[patch]: release 0.3.13 (#30102)
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

anthropic[patch]: release 0.3.9 (#30103)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

bump deps and increment version
  libs/community/pyproject.toml
  libs/community/uv.lock
Due: community

community[patch]: release 0.3.19 (#30104)
  libs/community/pyproject.toml
  libs/community/uv.lock
Due: community
