Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant, root

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: couchbase
        name: format and lint partners/couchbase
        language: system
        entry: make -C libs/partners/couchbase format lint
        files: ^libs/partners/couchbase/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false
      - id: root
        name: format and lint docs, cookbook
        language: system
        entry: make format lint
        files: ^(docs|cookbook)/
        pass_filenames: false

x
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/pyproject.toml
Due: none

Update test, we should not be dropping the tool call
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

updated
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
Due: none

x
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

x
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

Clear jump_to
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

x
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Due: none

added feature for using alias approximate alongside count_tokens_approximately
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/uv.lock
  uv.lock
Due: core

x
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
Due: none

chore(langchain_v1): move tool node to tools namespace (#33132)
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Due: none

reverted the lock files
  libs/core/uv.lock
  uv.lock
Due: core

fix: export modify_model_request in middleware types __all__
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

different conditions
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

add back changes
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

test(openai): add openai unit test for streaming error in _generate method
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Due: openai

refactor(tools): agent exector support tool message artifact
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/format_scratchpad/tools.py
Due: langchain

refactor(agents): improve readability of tool message handling
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/format_scratchpad/tools.py
Due: langchain

fix(agents): add missing line for tool observation in AgentExecutor
  libs/langchain/langchain/agents/agent.py
Due: langchain

0g models integration
  docs/docs/integrations/chat/zerog.ipynb
  docs/src/theme/FeatureTables.js
  libs/packages.yml
  libs/partners/zerog/README.md
  libs/partners/zerog/examples/comprehensive_example.py
  libs/partners/zerog/langchain_zerog/__init__.py
  libs/partners/zerog/langchain_zerog/broker.py
  libs/partners/zerog/langchain_zerog/chat_models.py
  libs/partners/zerog/langchain_zerog/embeddings.py
  libs/partners/zerog/langchain_zerog/llms.py
  libs/partners/zerog/langchain_zerog/py.typed
  libs/partners/zerog/pyproject.toml
  libs/partners/zerog/tests/unit_tests/test_chat_models.py
  verify_enhanced_integration.py
  verify_integration.py
Due: root

feat: Fallback Method Added
  libs/core/langchain_core/language_models/chat_models.py
Due: core

tests: Tests for fallback
  libs/core/tests/unit_tests/language_models/chat_models/test_fallback_methods.py
Due: core

tests
  libs/core/tests/unit_tests/language_models/chat_models/test_fallback_methods.py
Due: core

docs: add langchain-cloudsway provider doc, tools doc and provider entry to packages.yml
  docs/docs/integrations/providers/cloudsway.ipynb
  docs/docs/integrations/tools/cloudsway.ipynb
  libs/packages.yml
Due: root

fix: resolve OutputParserException when using Ollama instead of Gemini
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

additional fixes or improvements
  libs/partners/ollama/langchain_ollama/chat_models.py
  o.md
Due: ollama

additional fixes or improvements
  o.md
Due: none

fix: break long conditional statement to meet line length limit
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: apply code formatting to meet project standards
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: apply code formatting to meet project standards on line 955
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: Removed Print and added all the imports on top of file stack
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

fix: Fixed Exception Issue
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

fix: Fixed Exception with multiple similar exception
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

fix: Fixed incompatible type str
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

fix: Fixed Linting Issue
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

add note about `PlainTextContentBlock` and v0/v1 compat
  libs/core/langchain_core/messages/content.py
Due: core

update conversion docstrings
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/langchain_core/messages/block_translators/bedrock_converse.py
  libs/core/langchain_core/messages/block_translators/langchain_v0.py
  libs/core/langchain_core/messages/block_translators/openai.py
Due: core

add docstring
  libs/core/langchain_core/messages/content.py
Due: core

update docstring/comments
  libs/core/langchain_core/messages/base.py
Due: core
