Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

nits
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

update: no longer apply default text format
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

chore(docs): update package `README`s (#32869)
  libs/core/README.md
  libs/langchain/README.md
  libs/langchain_v1/README.md
  libs/text-splitters/README.md
Due: core, langchain, text-splitters

expand test
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

nit
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(core): ensure `InjectedToolCallId` always overrides LLM-generated values (#32766)
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat(standard-tests): add a property to skip relevant tests if the vector store doesn't support `get_by_ids()` (#32633)
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Due: standard-tests

fix(openai): structured output (#32551)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Added feature for custom mermaid url
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/test_graph.py
Due: core

chore(langchain): cleanup ruff config
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/langchain/_internal/_prompts.py
  libs/langchain_v1/langchain/agents/interrupt.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/scripts/check_imports.py
  libs/langchain_v1/tests/integration_tests/cache/fake_embeddings.py
  libs/langchain_v1/tests/integration_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/agents/any_str.py
  libs/langchain_v1/tests/unit_tests/agents/conftest.py
  libs/langchain_v1/tests/unit_tests/agents/messages.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent_graph.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_base.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/stubs.py
  libs/langchain_v1/uv.lock
Due: none

updat
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
Due: groq

revert changes to lock file
  libs/partners/groq/uv.lock
Due: groq

bump core and increment version
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Due: groq

feat(groq): add support for `json_schema` (#32396)
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
Due: groq

release(groq): 0.3.8 (#32870)
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Due: groq

Update libs/langchain_v1/pyproject.toml
  libs/langchain_v1/pyproject.toml
Due: none

chore(langchain): add ruff rule BLE (#32868)
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/format_scratchpad/openai_functions.py
  libs/langchain/langchain/agents/format_scratchpad/tools.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/evaluation/parsing/base.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/pyproject.toml
  libs/langchain/scripts/check_imports.py
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/output_parsers/test_fix.py
  libs/langchain/tests/unit_tests/output_parsers/test_retry.py
Due: langchain

chore(cli): remove ruff exclusion of templates (#32864)
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/llms.ipynb
  libs/cli/langchain_cli/integration_template/docs/stores.ipynb
  libs/cli/langchain_cli/integration_template/docs/text_embedding.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/cli/langchain_cli/integration_template/integration_template/document_loaders.py
  libs/cli/langchain_cli/integration_template/integration_template/toolkits.py
  libs/cli/langchain_cli/integration_template/integration_template/tools.py
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/package_template/package_template/__init__.py
  libs/cli/langchain_cli/package_template/package_template/chain.py
  libs/cli/langchain_cli/package_template/tests/__init__.py
  libs/cli/langchain_cli/project_template/app/__init__.py
  libs/cli/langchain_cli/project_template/app/server.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Due: none

docs: update banner
  docs/docusaurus.config.js
Due: root

fix(core): honor `enabled=false` in nested tracing (#31986)
  libs/core/langchain_core/tracers/langchain.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

langchain docs
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

chore: redirect docs template -> docs repo (#32872)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

fix: lint
  libs/core/tests/unit_tests/test_tools.py
Due: core

Removed the getting started script for now and updated the advanced usage script
  libs/partners/llamastack/examples/advanced_usage.py
  libs/partners/llamastack/examples/getting_started.py
Due: none

updated demo_safety_moderation_hooks.py
  libs/partners/llamastack/examples/demo_safety_moderation_hooks.py
Due: none

docs: update banner with docs deprecation notice (#32871)
  docs/docusaurus.config.js
Due: root

Added instructions on how to set the shield type in demo_safety_moderation_hooks.py
  libs/partners/llamastack/examples/demo_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/input_output_safety_moderation_hooks.py
Due: none

core: translate file url blocks into responses format
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

openai: add test
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
Due: openai

ci: re-trigger checks
  libs/core/langchain_core/utils/function_calling.py
Due: core

fix: resolve mypy errors in test suite
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

release(core): 0.3.76
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
Due: core

force overwrite additionalProperties to False in strict mode
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

update code and import
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

pylint update
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix ut
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

Made the safety wrapper support langchain agents
  libs/partners/llamastack/examples/demo_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/input_output_safety_moderation_hooks.py
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
Due: none
