Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix(anthropic): read source path from `args["path"]` in file rename handlers
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

fix(mistralai): handle nested dict token usage in _combine_llm_outputs
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

cr
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

test(anthropic): retry flaky thinking tool-use integration test
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

fix(anthropic): keep initial text on `content_block_start` (#38442)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

release(anthropic): 1.4.8
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

release(anthropic): 1.4.8 (#38490)
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

docs(core): add format details to ModelProfile docstrings
  libs/core/langchain_core/language_models/model_profile.py
Due: core

update test to allow opt-in to capturing
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

partners: Add IndicTextLoader as a new partner package
  libs/partners/indic-text-loader/langchain_indic_text_loader/__init__.py
  libs/partners/indic-text-loader/tests/unit_tests/test_indic_text_loader.py
Due: none

fix(openai): avoid Azure parsed model dump warnings
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
Due: openai

fix(text-splitters): preserve inline tag text order in HTML splitter
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(anthropic): preserve cache_control on deduplicated tool_use blocks
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(core): skip duplicate stream metadata strings in merge_dicts
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

fix(anthropic): pass old_path when dispatching file_tool rename
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
Due: anthropic

test(core): remove stale xfail markers for passing tests
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(core): ignore empty strings in `_extract_reasoning_from_additional_kwargs`
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/block_translators/test_groq.py
Due: core

GitContribute issue #38366
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

fix: recursively convert Pydantic models to dicts during serialization (closes #36603)
  libs/core/langchain_core/load/dump.py
Due: core

test(qdrant): add regression test for issue #32283
  libs/partners/qdrant/tests/integration_tests/test_aadd_documents_ids.py
Due: qdrant

fix(qdrant): inherit `_similarity_search_with_relevance_scores` to enable normalization
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_similarity_search.py
  libs/partners/qdrant/tests/integration_tests/test_similarity_search.py
Due: qdrant

fix(core): stringify empty list tool output instead of treating as message content
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix: generalize JSON custom parser to handle any field name (closes #36603)
  libs/core/langchain_core/utils/json.py
Due: core

fix(chroma): normalize vector relevance scores
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: chroma

fix(core): skip eviction when updating existing cache key
  libs/core/langchain_core/caches.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
Due: core

fix(langchain): allow dotted file search path segments
  libs/langchain_v1/langchain/agents/middleware/file_search.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_file_search.py
Due: none

core[fix]: don't inherit tool description from parent class docstring
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

Fix unsupported save for classic chat agents
  libs/langchain/langchain_classic/agents/chat/base.py
  libs/langchain/langchain_classic/agents/structured_chat/base.py
  libs/langchain/tests/unit_tests/agents/test_chat.py
  libs/langchain/tests/unit_tests/agents/test_structured_chat.py
Due: langchain

fix(chroma): normalize relevance scores in similarity_search_by_vector_with_relevance_scores
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/unit_tests/test_vectorstores.py
Due: chroma

feat(text-splitters): add IndicTextSplitter for Hindi/Indic languages
  libs/text-splitters/langchain_text_splitters/__init__.py
  libs/text-splitters/langchain_text_splitters/indic.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(anthropic): map path to old_path in file tool rename callback
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

test(fireworks): cover request-level extra headers
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
Due: fireworks

test(fireworks): cover request-level extra headers (#38518)
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
Due: fireworks

fix: restore docstring and verify f-string
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

docs(fireworks): clarify prompt-cache session affinity guidance
  libs/partners/fireworks/langchain_fireworks/chat_models.py
Due: fireworks

docs(fireworks): clarify prompt-cache session affinity guidance (#38522)
  libs/partners/fireworks/langchain_fireworks/chat_models.py
Due: fireworks

fix(core): use \`is not None\` instead of truthiness check for cache in \`get_prompts\`, \`aget_prompts\`, and \`aupdate_cache\`
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
Due: core

docs: use American spelling in agent iterator logs
  libs/langchain/langchain_classic/agents/agent_iterator.py
Due: langchain
