Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

Delete docs/docs/integrations/retrievers/superlinked_examples.py
  docs/docs/integrations/retrievers/superlinked_examples.py
Due: root

Adding note Langhain Notebook
  docs/docs/integrations/vectorstores/azure_db_for_postgresql copy 2.ipynb
Due: root

Added format changes from make
  docs/docs/integrations/vectorstores/azure_db_for_postgresql.ipynb
Due: root

Removed unneccessary notebook
  docs/docs/integrations/vectorstores/azure_db_for_postgresql copy 2.ipynb
Due: root

Added API reference
  docs/docs/integrations/vectorstores/azure_db_for_postgresql.ipynb
Due: root

Fix word typos in langchain_core.
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/utils/json.py
  libs/core/langchain_core/utils/utils.py
Due: core

duplicate skip define.
  pyproject.toml
Due: none

update ut
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

docs: add docstring for _load_stuff_chain
  libs/langchain/langchain/chains/summarize/chain.py
Due: langchain

Export env_var_is_set from langchain core utils
  libs/core/langchain_core/utils/__init__.py
Due: core

feat: Add timeout to ToolNode ainvoke to prevent hangs
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
Due: none

docs: Update Anthropic Documentation Links
  docs/docs/integrations/chat/anthropic.ipynb
  docs/src/theme/ChatModelTabs.js
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic, root

fix: missing 'prompt_cache_key' added
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

test: ChatModel Test Updated
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Due: none

test: ChatModel Test Updated
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: langchain

FIX: Correctly initialize HuggingFace models in init_chat_model
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: langchain

docs: update langchain-oracledb documentation (#32805)
  cookbook/oracleai_demo.ipynb
  docs/docs/integrations/document_loaders/oracleadb_loader.ipynb
  docs/docs/integrations/document_loaders/oracleai.ipynb
  docs/docs/integrations/text_embedding/oracleai.ipynb
  docs/docs/integrations/tools/oracleai.ipynb
  docs/docs/integrations/vectorstores/oracle.ipynb
Due: root

docs: add Qwen integration guide and update qwq documentation (#32817)
  docs/docs/integrations/chat/qwen.ipynb
  docs/docs/integrations/chat/qwq.ipynb
Due: root

docs: add Timbr tools integration (#32862)
  docs/docs/integrations/providers/timbr.mdx
  docs/docs/integrations/tools/timbr.ipynb
  libs/packages.yml
Due: root

docs: add YugabyteDB Distributed SQL database (#32571)
  docs/docs/integrations/vectorstores/yugabytedb.ipynb
Due: root

docs: add Bigtable Key-value Store and Vector Store Docs (#32598)
  docs/docs/integrations/providers/google-bigtable.mdx
  docs/docs/integrations/stores/bigtable.ipynb
  docs/docs/integrations/vectorstores/bigtable.ipynb
  libs/packages.yml
Due: root

Added docs for Notion integration
  libs/packages.yml
Due: none

added documentation for notion-tool
  docs/docs/integrations/tools/notion.ipynb
Due: root

docs: fixed missing headers
  docs/docs/integrations/tools/notion.ipynb
Due: root

feat(core): support string token counters in trim_messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

docs: update SerpApi free searches amount in tool feature table
  docs/scripts/tool_feat_table.py
Due: root

chore(langchain): Fix typos in core docstrings (#32928)
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/utils/json.py
  libs/core/langchain_core/utils/utils.py
Due: core

chore(langchain): remove duplicate `.pdf` listing (#32929)
  pyproject.toml
Due: none

docs(anthropic): update documentation links (#32938)
  docs/docs/integrations/chat/anthropic.ipynb
  docs/src/theme/ChatModelTabs.js
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic, root

docs: update SerpApi free searches amount in tool feature table (#32945)
  docs/scripts/tool_feat_table.py
Due: root

docs: add undatasio integration notebook
  docs/docs/integrations/document_loaders/undatasio.ipynb
Due: root

docs(core): add type hints to BaseStore example code
  libs/core/langchain_core/stores.py
Due: core

Fixed the incompatibility issue of the function from langchain_core.messages import trim_messages with the DeepSeek-Chat large model.
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

remove the comments.
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

docs: add AI/ML API integration (#32430)
  docs/docs/integrations/chat/aimlapi.ipynb
  docs/docs/integrations/llms/aimlapi.ipynb
  docs/docs/integrations/providers/aimlapi.ipynb
  docs/docs/integrations/text_embedding/aimlapi.ipynb
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Due: root

Change return type to Optional in MyInMemoryStore
  libs/core/langchain_core/stores.py
Due: core

docs(core): add type hints to BaseStore example code (#32946)
  libs/core/langchain_core/stores.py
Due: core
