Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

openai: release 0.3.19 (#31466)
  libs/partners/openai/pyproject.toml
Due: openai

docs: fix grammar issues in slack.ipynb and telegram.ipynb (#31461)
  docs/docs/integrations/chat_loaders/slack.ipynb
  docs/docs/integrations/chat_loaders/telegram.ipynb
Due: root

docs: Document Loader for the Outline collaborative knowledge base (#31395)
  docs/docs/integrations/document_loaders/outline.ipynb
Due: root

remove empty file
  ⚠️
Due: none

Discard changes to pyproject.toml
  pyproject.toml
Due: none

Discard changes to libs/partners/chroma/uv.lock
  libs/partners/chroma/uv.lock
Due: chroma

Discard changes to uv.lock
  uv.lock
Due: none

add missing test dependencies to fix CI failures
  libs/partners/chroma/pyproject.toml
Due: chroma

Apply suggestions from code review
  libs/core/langchain_core/output_parsers/xml.py
Due: core

Discard changes to libs/partners/chroma/pyproject.toml
  libs/partners/chroma/pyproject.toml
Due: chroma

Delete chroma/chroma.sqlite3
  chroma/chroma.sqlite3
Due: none

x
  libs/core/langchain_core/output_parsers/xml.py
Due: core

fix: module 'defusedxml' has no attribute 'ElementTree' (#31429) (#31431)
  libs/core/langchain_core/output_parsers/xml.py
Due: core

core: Add mypy strict-equality rule (#31286)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_iter.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
Due: core, langchain

Add missing search_results attribute
  docs/docs/integrations/chat/perplexity.ipynb
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
Due: root

docs: Update Milvus feature table
  docs/src/theme/FeatureTables.js
Due: root

fix: prevent IndexError in LLMListwiseRerank when document list is empty (#31192)
  libs/langchain/langchain/retrievers/document_compressors/listwise_rerank.py
Due: langchain

Cleanup Pydantic models and handle deprecation warnings
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/pydantic_v1/dataclasses.py
  libs/core/langchain_core/pydantic_v1/main.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

Fixed google_serper.mdx to not use agent executor
  docs/docs/integrations/providers/google_serper.mdx
Due: root

textract-typo
  docs/docs/integrations/document_loaders/amazon_textract.ipynb
Due: root

Fix test_lint
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
Due: none

docs: fix grammar issues in airbyte_typeform.ipynb and airbyte_zendesk_support.ipynb
  docs/docs/integrations/document_loaders/airbyte_typeform.ipynb
  docs/docs/integrations/document_loaders/airbyte_zendesk_support.ipynb
Due: root

docs: fix grammar issues in alibaba_cloud_maxcompute.ipynb and async_chromium.ipynb
  docs/docs/integrations/document_loaders/alibaba_cloud_maxcompute.ipynb
  docs/docs/integrations/document_loaders/async_chromium.ipynb
Due: root

docs: fix grammar and typo issues in async_html.ipynb and azure_blob_storage_file.ipynb
  docs/docs/integrations/document_loaders/async_html.ipynb
  docs/docs/integrations/document_loaders/azure_blob_storage_file.ipynb
Due: root

docs: fix typo in multiple files
  docs/docs/integrations/document_loaders/aws_s3_directory.ipynb
  docs/docs/integrations/document_loaders/azure_ai_data.ipynb
  docs/docs/integrations/document_loaders/azure_blob_storage_container.ipynb
  docs/docs/integrations/document_loaders/google_cloud_storage_directory.ipynb
  docs/docs/integrations/document_loaders/tencent_cos_directory.ipynb
Due: root

release[anthropic]: 0.3.15
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

docs: улучшить README для lean_canvas примера (#270)
  cookbook/lean_canvas/README.md
  cookbook/lean_canvas/lean_canvas_agent.ipynb
Due: root

cookbook readme fix
  cookbook/README.md
Due: root

docs: fix typo in multiple files (#31480)
  docs/docs/integrations/document_loaders/aws_s3_directory.ipynb
  docs/docs/integrations/document_loaders/azure_ai_data.ipynb
  docs/docs/integrations/document_loaders/azure_blob_storage_container.ipynb
  docs/docs/integrations/document_loaders/google_cloud_storage_directory.ipynb
  docs/docs/integrations/document_loaders/tencent_cos_directory.ipynb
Due: root

Docs: Textract Integration Page - Fixing a typo (#31475)
  docs/docs/integrations/document_loaders/amazon_textract.ipynb
Due: root

docs: fix lets typos in multiple files
  cookbook/rag_with_quantized_embeddings.ipynb
  docs/docs/integrations/llms/lmformatenforcer_experimental.ipynb
  docs/docs/integrations/providers/portkey/index.md
  docs/docs/integrations/text_embedding/optimum_intel.ipynb
  docs/docs/integrations/text_embedding/premai.ipynb
Due: root

docs: fix more lets typos in multiple file
  cookbook/rag_with_quantized_embeddings.ipynb
  docs/docs/how_to/llm_caching.ipynb
  docs/docs/integrations/llm_caching.ipynb
Due: root

fix mypy
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
Due: anthropic

release[anthropic]: 0.3.15 (#31479)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/partners/anthropic/uv.lock
Due: anthropic

anthropic[fix]: bump langchain-core dep
  libs/partners/anthropic/pyproject.toml
Due: anthropic

anthropic[fix]: bump langchain-core dep (#31483)
  libs/partners/anthropic/pyproject.toml
Due: anthropic

anthropic[patch]: cache tokens nit
  libs/core/langchain_core/messages/ai.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: core, anthropic

undo
  libs/core/langchain_core/messages/ai.py
Due: core

docs: Update Milvus feature table (#31472)
  docs/src/theme/FeatureTables.js
Due: root
