Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

anthropic: support for code execution, MCP connector, files API features (#31340)
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/scheduled_test.yml
  docs/docs/integrations/chat/anthropic.ipynb
  libs/core/langchain_core/language_models/chat_models.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: core, langchain, anthropic, root

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

core: release 0.3.62 (#31376)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

fix linting error
  chroma/chroma.sqlite3
  libs/partners/chroma/langchain_chroma/vectorstores.py
  ⚠️
Due: chroma

bump core and increment version
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

bump core
  libs/partners/anthropic/pyproject.toml
Due: anthropic

ruff linting fix
  libs/partners/chroma/langchain_chroma/vectorstores.py
  uv.lock
Due: chroma

anthropic: release 0.3.14 (#31378)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

type annotation fix
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/uv.lock
Due: chroma

removed unused import
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: chroma

propagate citations to output
  libs/partners/xai/langchain_xai/chat_models.py
Due: none

add test
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Due: none

xai: support live search (#31379)
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Due: none

bump deps and increment version
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Due: none

add to docs
  docs/docs/integrations/chat/xai.ipynb
  libs/partners/xai/langchain_xai/chat_models.py
Due: root

xai: release 0.2.4 (#31380)
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Due: none

xai: document live search feature (#31381)
  docs/docs/integrations/chat/xai.ipynb
  libs/partners/xai/langchain_xai/chat_models.py
Due: root

fix api ref rendering
  libs/partners/xai/langchain_xai/chat_models.py
Due: none

link to chatxai docs in provider page
  docs/docs/integrations/providers/xai.ipynb
Due: root

nit
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

docs: update xai docs (#31382)
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/xai/langchain_xai/chat_models.py
Due: root

openai[patch]: add test case for code interpreter (#31383)
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

docs: fix blockchain and mintbase descriptions at https://python.langchain.com/docs/integrations/document_loaders/ All document loaders section (#31369)
  docs/docs/integrations/document_loaders/blockchain.ipynb
  docs/docs/integrations/document_loaders/mintbase.ipynb
Due: root

docs: fix pdfloaders' descriptions at https://python.langchain.com/docs/integrations/document_loaders/ All document loaders section (#31371)
  docs/docs/integrations/document_loaders/unstructured_pdfloader.ipynb
  docs/docs/integrations/document_loaders/zeroxpdfloader.ipynb
Due: root

docs: fix scrapfly and scrapingant descriptions at https://python.langchain.com/docs/integrations/document_loaders/ All document loaders section (#31370)
  docs/docs/integrations/document_loaders/scrapfly.ipynb
  docs/docs/integrations/document_loaders/scrapingant.ipynb
Due: root

docs: fix google_books and memgraph descriptions at https://python.langchain.com/docs/integrations/tools/ All tools section (#31373)
  docs/docs/integrations/tools/google_books.ipynb
  docs/docs/integrations/tools/memgraph.ipynb
Due: root

docs: fix wikipedia description at https://python.langchain.com/docs/integrations/retrievers/ All retrievers section (#31372)
  docs/docs/integrations/retrievers/wikipedia.ipynb
Due: root

[UPDATE] Valyu 0.2.0 langchain package (#31363)
  docs/docs/integrations/providers/valyu.ipynb
  docs/docs/integrations/retrievers/valyu.ipynb
  docs/docs/integrations/tools/valyu_search.ipynb
Due: root

lock
  libs/partners/anthropic/uv.lock
  libs/partners/openai/uv.lock
Due: anthropic, openai

format
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

remove extraneous comments
  .github/workflows/codspeed.yml
Due: none

docs: enhance Salesforce integration notebook
  docs/docs/integrations/tools/salesforce.ipynb
Due: root

huggingface: fix HuggingFaceEndpoint._astream() got multiple values for argument 'stop'
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Due: huggingface

docs: fix grammar in multiple docs
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/chat/contextual.ipynb
  docs/docs/integrations/chat/deepseek.ipynb
  docs/docs/integrations/chat/featherless_ai.ipynb
  docs/docs/integrations/chat/goodfire.ipynb
  docs/docs/integrations/chat/groq.ipynb
  docs/docs/integrations/chat/huggingface.ipynb
  docs/docs/integrations/chat/mistralai.ipynb
  docs/docs/integrations/chat/modelscope_chat_endpoint.ipynb
  docs/docs/integrations/chat/netmind.ipynb
  docs/docs/integrations/chat/nvidia_ai_endpoints.ipynb
  docs/docs/integrations/chat/oci_data_science.ipynb
  docs/docs/integrations/chat/outlines.ipynb
  docs/docs/integrations/chat/pipeshift.ipynb
  docs/docs/integrations/chat/qwq.ipynb
  docs/docs/integrations/chat/sambanova.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/chat/vllm.ipynb
  docs/docs/integrations/chat/yi.ipynb
  docs/docs/integrations/llms/nvidia_ai_endpoints.ipynb
  docs/docs/integrations/llms/outlines.ipynb
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/bedrock.ipynb
  docs/docs/integrations/retrievers/box.ipynb
  docs/docs/integrations/retrievers/cognee.ipynb
  docs/docs/integrations/retrievers/dappier.ipynb
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
  docs/docs/integrations/retrievers/linkup_search.ipynb
  docs/docs/integrations/retrievers/zotero.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
  docs/docs/integrations/tools/dappier.ipynb
  docs/docs/integrations/tools/gmail.ipynb
  docs/docs/integrations/tools/memgraph.ipynb
  docs/docs/integrations/tools/slack.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
  libs/cli/langchain_cli/integration_template/docs/toolkits.ipynb
Due: root

Fix: Correct Snowflake credentials in ChatSnowflakeCortex example to match implementation
  docs/docs/integrations/chat/snowflake.ipynb
Due: root

Update ragatouille.ipynb
  docs/docs/integrations/providers/ragatouille.ipynb
Due: root

Add documentation for SAP HANA Knowledge Graph Engine
  docs/docs/integrations/graphs/sap_hana_graph_sparql.ipynb
Due: root

Adjust output and llm comments
  docs/docs/integrations/graphs/sap_hana_graph_sparql.ipynb
Due: root

Fix more linter issues
  docs/docs/integrations/graphs/sap_hana_graph_sparql.ipynb
Due: root

Fix markdown formatting issues
  docs/docs/integrations/graphs/sap_hana_graph_sparql.ipynb
Due: root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
