Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

docs: add contributing guide to `README` (#33490)
  README.md
Due: none

ci(infra): test CodSpeed with Python 3.13
  .github/scripts/check_diff.py
Due: none

fix(cli): support Python 3.14
  .github/scripts/check_diff.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/migrate/generate/test_langchain_migration.py
  libs/cli/uv.lock
Due: none

docs(text-splitters): troubleshooting when chunk_overlap seems not to apply
  libs/text-splitters/README.md
Due: text-splitters

fix(core): fix PydanticOutputParser's get_format_instructions for v1 models
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
Due: core

test
  libs/core/pyproject.toml
Due: core

test
  .github/workflows/check_diffs.yml
Due: none

chore(ci): test pydantic with python 3.12
  .github/scripts/check_diff.py
  .github/workflows/_test_pydantic.yml
Due: none

ci(infra): test CodSpeed with Python 3.13 (#33599)
  .github/scripts/check_diff.py
  .github/workflows/check_diffs.yml
  libs/core/pyproject.toml
Due: core

fix(cli): support Python 3.14 (#33598)
  .github/scripts/check_diff.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/migrate/generate/test_langchain_migration.py
  libs/cli/uv.lock
Due: none

docs(langchain): update reference documentation to note moved embeddings modules
  libs/langchain_v1/langchain/embeddings/__init__.py
Due: none

docs(langchain): update reference documentation to note moved embeddings modules (#33600)
  libs/langchain_v1/langchain/embeddings/__init__.py
Due: none

style: more refs polishing
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/utils/json_schema.py
  libs/langchain/langchain_classic/embeddings/base.py
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/embeddings/base.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: core, langchain

style: more refs polishing (#33601)
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/utils/json_schema.py
  libs/langchain/langchain_classic/embeddings/base.py
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/embeddings/base.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: core, langchain

quick fix
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

adding defaults
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

improve
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

fix(langchain_v1): `ToolRuntime` default for args (#33606)
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

update
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

release(langchain_v1): 1.0.1 (#33610)
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

chore(infra): test pydantic with python 3.12 (#33421)
  .github/scripts/check_diff.py
  .github/workflows/_test_pydantic.yml
Due: none

fix(infra): harden pydantic test workflow against command injection (#33446)
  .github/workflows/_test_pydantic.yml
Due: none

feat(mistralai): enable tenacity retries opt-out
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/tests/integration_tests/test_embeddings.py
Due: mistralai

Revert "chore(docs): v0.3 redirects (#33553)"
  docs/middleware.js
  docs/redirects.json
Due: none

Revert "chore(docs): v0.3 redirects" (#33612)
  docs/middleware.js
  docs/redirects.json
Due: none

v0.3 deprecation banner
  docs/docusaurus.config.js
Due: none

.
  docs/api_reference/_static/css/custom.css
  docs/api_reference/conf.py
  docs/api_reference/create_api_rst.py
  docs/docs/concepts/index.mdx
  docs/docs/how_to/index.mdx
  docs/docs/introduction.mdx
  docs/docs/tutorials/index.mdx
  docs/docusaurus.config.js
  docs/vercel_overrides.txt
Due: none

.
  docs/vercel_overrides.txt
Due: none

cc pass at fixing tool message bug
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
Due: none

dont call callable until required
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

adding typing so mypy doesnt complain
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

linting
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

chore: Moving num_search_queries to response_metadata
  libs/partners/perplexity/langchain_perplexity/chat_models.py
Due: none

updating code to try make more performant
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

reverting to explicit checking of callable type
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

minimize changes
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

fix: added string val check for secrets_map in load()
  libs/core/langchain_core/load/load.py
Due: core

fix: added test case for loading with plaintext strings in secrets_map dict
  libs/langchain/tests/unit_tests/load/test_load.py
Due: langchain

start on async support
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

docs: v0.3 deprecation banner (#33613)
  docs/api_reference/_static/css/custom.css
  docs/api_reference/conf.py
  docs/api_reference/create_api_rst.py
  docs/docs/concepts/index.mdx
  docs/docs/how_to/index.mdx
  docs/docs/introduction.mdx
  docs/docs/tutorials/index.mdx
  docs/docusaurus.config.js
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
