Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

fix(core): handle float type in merge_dicts, merge_obj, and _dict_int_op
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

feat(anthropic): add http_client and http_async_client fields to ChatAnthropic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(openrouter): ensure response_format is forwarded to API in json_schema structured output
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(openrouter): pass strict to convert_to_json_schema in json_schema mode
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(openai): preserve namespace field in streamed function_call content blocks
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(core): pass child_config instead of config in RunnableWithFallbacks.invoke()
  libs/core/langchain_core/runnables/fallbacks.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: none

fix(docs): correct typos found during code review
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: core, anthropic, openai

chore: fix ruff line-too-long in test
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: openai

fix(openai): preserve namespace field in streaming function_call chunks (#36108)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: openai

perf(huggingface,chroma): reduce device-to-cpu transfer overhead in embedding pipeline
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/scripts/benchmark_embeddings.py
  libs/partners/huggingface/scripts/check_imports.py
  libs/partners/huggingface/tests/unit_tests/test_embeddings.py
  libs/partners/huggingface/uv.lock
Due: chroma, huggingface

add phase for openai
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core,model-profiles): add missing `ModelProfile` fields, warn on schema drift
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/model_profile.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/test_model_profile.py
  libs/model-profiles/langchain_model_profiles/cli.py
  libs/model-profiles/tests/unit_tests/test_cli.py
  libs/model-profiles/uv.lock
Due: core

fix(core): handle AttributeError in profile validators
  libs/core/langchain_core/language_models/chat_models.py
Due: core

cr
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/model_profile.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

refactor(partners): adopt `_resolve_model_profile` hook
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/uv.lock
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/uv.lock
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/uv.lock
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/uv.lock
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/uv.lock
Due: anthropic, fireworks, groq, huggingface, mistralai, openai

.
  .github/workflows/pr_lint.yml
Due: none

cr
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

.
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

Create xproof.mdx
  docs/docs/integrations/callbacks/xproof.mdx
Due: none

fix(openai): downgrade tool_choice='required' to 'auto' for reasoning models
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(openai): add warning and edge case handling for tool_choice reasoning model downgrade
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(agents): validate tool calls early
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_create_agent_tool_validation.py
Due: none

fix(together): relax langchain-openai version constraint to allow v1.x-v2.x
  libs/langchain/pyproject.toml
  pyproject.toml
Due: langchain

fix(openai): reuse default httpx clients in AzureChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
Due: openai

docs(core): clarify retry result mapping invariant
  libs/core/langchain_core/runnables/retry.py
Due: core

fix: add strict=True to zip() calls to satisfy ruff B905
  libs/core/langchain_core/runnables/retry.py
Due: core

fix(core): prevent output corruption in RunnableRetry.batch when partial retries succeed
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

docs: clarify all-succeed-first-try edge case invariant
  libs/core/langchain_core/runnables/retry.py
Due: core

fix: drop zip(strict=True) for Python 3.9 compatibility
  libs/core/langchain_core/runnables/retry.py
Due: core

fix(core): add explicit zip strict flags
  libs/core/langchain_core/runnables/retry.py
Due: core

fix: resolve mypy errors in tool_node.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

Fix mypy errors in tool node tests
  libs/langchain_v1/tests/unit_tests/tools/test_tool_node.py
Due: none

test: fix tool_node lint regression
  libs/langchain_v1/tests/unit_tests/tools/test_tool_node.py
Due: none

fix(langchain): handle NotRequired fields in InjectedState without KeyError
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/tools/test_tool_node.py
Due: none

fix(langchain): sort imports in factory.py to fix ruff I001 lint
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

refactor(tools): narrow tool node override
  libs/langchain_v1/langchain/tools/tool_node.py
Due: none

chore(langchain): add overloads to create_agent
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/integration_tests/agents/middleware/test_shell_tool_integration.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
