Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

feat(anthropic): support mcp_toolset in bind_tools (#34284)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/cassettes/test_remote_mcp.yaml.gz
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

add admonitions
  libs/core/langchain_core/load/load.py
Due: core

chore(core): add admonitions around use of `load` (#34285)
  libs/core/langchain_core/load/load.py
Due: core

ignore null values of caller on tool_use blocks
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

fix(anthropic): ignore null values of caller on tool_use blocks (#34286)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

chore(langchain): add qwen support in init_chat_model
  libs/langchain/langchain_classic/chat_models/base.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_qwen_init_chat_model.py
Due: langchain

chore(langchain_classic): add qwen provider to init_chat_model
  libs/langchain_v1/tests/unit_tests/chat_models/test_qwen_init_chat_model.py
Due: none

test(langchain_v1): fix qwen init_chat_model test imports
  libs/langchain_v1/tests/unit_tests/chat_models/test_qwen_init_chat_model.py
Due: none

test(langchain_v1): fix qwen init_chat_model test lint issues
  libs/langchain_v1/tests/unit_tests/chat_models/test_qwen_init_chat_model.py
Due: none

test(langchain_v1): satisfy lint for qwen init_chat_model test
  libs/langchain_v1/tests/unit_tests/chat_models/test_qwen_init_chat_model.py
  libs/langchain_v1/uv.lock
Due: none

process in BaseChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(middleware): ensure parent AI messages are preserved during summarization
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

style(middleware): fix lint errors
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/uv.lock
Due: none

feat(langchain,openai): add strict flag to ProviderStrategy structured output (#34149)
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

add test
  libs/langchain_v1/tests/cassettes/test_strict_mode[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_strict_mode[True].yaml.gz
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

chore(langchain): add end to end test for strict mode in provider strategy (#34289)
  libs/langchain_v1/tests/cassettes/test_strict_mode[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_strict_mode[True].yaml.gz
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

add sentinel value to strict
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

fix(langchain): add sentinel value to ProviderStrategy / strict (#34290)
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

fix mcp docstring
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

remove types
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/types.py
  libs/partners/anthropic/tests/unit_tests/test_tools.py
Due: anthropic

cr
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/bash.py
  libs/partners/anthropic/langchain_anthropic/tools/computer.py
  libs/partners/anthropic/langchain_anthropic/tools/memory.py
  libs/partners/anthropic/langchain_anthropic/tools/text_editor.py
  libs/partners/anthropic/tests/unit_tests/test_tools.py
Due: anthropic

feat(anthropic): executable callbacks on tools (#34281)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/bash.py
  libs/partners/anthropic/langchain_anthropic/tools/computer.py
  libs/partners/anthropic/langchain_anthropic/tools/memory.py
  libs/partners/anthropic/langchain_anthropic/tools/text_editor.py
  libs/partners/anthropic/tests/unit_tests/test_tools.py
Due: anthropic

cr
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/bash.py
  libs/partners/anthropic/langchain_anthropic/tools/computer.py
  libs/partners/anthropic/langchain_anthropic/tools/memory.py
  libs/partners/anthropic/langchain_anthropic/tools/text_editor.py
  libs/partners/anthropic/langchain_anthropic/tools/web_fetch.py
Due: anthropic

cr
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/mcp.py
Due: anthropic

chore(infra): delete copilot instructions
  .github/copilot-instructions.md
Due: none

.
  .github/pr-file-labeler.yml
Due: none

.
  .github/workflows/v1_changes.md
Due: none

.
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: none

chore(infra): delete copilot instructions (#34294)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/pr-file-labeler.yml
  .github/workflows/v1_changes.md
Due: none

Update extended_testing_deps.txt
  libs/langchain_v1/extended_testing_deps.txt
Due: none

refactor: address review feedback - simplify docs and remove enhancement notes
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

refactor: remove sorted() call for supported providers per review feedback
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

fix(core): support message-class tuple conversion in ChatPromptTemplate
  libs/core/langchain_core/prompts/chat.py
Due: core

support (message class, template) tuples in ChatPromptTemplate.from_messages
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

style(core): fix import sorting in test_chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

test(core): add comprehensive tests for message class tuple support
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

fix: handle empty assistant content in Responses API (#34272)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai
