Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

fix: bump lockfiles (#31923)
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
  libs/partners/exa/langchain_exa/tools.py
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/__init__.py
  libs/partners/huggingface/langchain_huggingface/chat_models/__init__.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Due: chroma, exa, fireworks, groq, huggingface

ruff rules and fixes
  libs/partners/ollama/Makefile
  libs/partners/ollama/langchain_ollama/__init__.py
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
  libs/partners/ollama/tests/integration_tests/test_compile.py
  libs/partners/ollama/uv.lock
Due: ollama

ollama[patch]: ruff fixes and rules (#31924)
  libs/partners/ollama/Makefile
  libs/partners/ollama/langchain_ollama/__init__.py
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
  libs/partners/ollama/tests/integration_tests/test_compile.py
  libs/partners/ollama/uv.lock
Due: ollama

nit
  libs/partners/chroma/pyproject.toml
Due: chroma

chroma[nit]: descriptions in `pyproject.toml` (#31925)
  libs/partners/chroma/pyproject.toml
Due: chroma

fix: model validation
  libs/partners/ollama/langchain_ollama/_utils.py
Due: ollama

carry over changes
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_function_calling.yaml.gz
  libs/partners/openai/tests/cassettes/test_stream_reasoning_summary.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: core, openai

llms: set reasoning to None by default
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

fix: enhance reasoning handling in ChatOllama and OllamaLLM
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

test: add reasoning aggregation test for OllamaLLM
  libs/partners/ollama/tests/unit_tests/test_llms.py
Due: ollama

NotRequired -> Required
  libs/core/langchain_core/messages/content_blocks.py
Due: core

revert
  libs/core/langchain_core/messages/content_blocks.py
Due: core

fix llm tests
  libs/partners/ollama/tests/integration_tests/test_llms.py
Due: ollama

lint
  libs/partners/ollama/tests/integration_tests/test_llms.py
Due: ollama

ollama[patch]: fix model validation, ensure per-call reasoning can be set, tests (#31927)
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/tests/integration_tests/test_llms.py
  libs/partners/ollama/tests/unit_tests/test_llms.py
Due: ollama

bump
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

ollama: release 0.3.4 (#31928)
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

bump
  libs/partners/ollama/pyproject.toml
Due: ollama

ollama: bump core (#31929)
  libs/partners/ollama/pyproject.toml
Due: ollama

langchain: select ALL rules with exclusions
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/agent_toolkits/amadeus/__init__.py
  libs/langchain/langchain/agents/loading.py
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
  libs/langchain/langchain/agents/output_parsers/openai_functions.py
  libs/langchain/langchain/agents/output_parsers/tools.py
  libs/langchain/langchain/callbacks/streaming_aiter.py
  libs/langchain/langchain/chains/natbot/crawler.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/evaluation/embedding_distance/__init__.py
  libs/langchain/tests/unit_tests/_api/__init__.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
  libs/langchain/tests/unit_tests/chains/test_hyde.py
  libs/langchain/tests/unit_tests/evaluation/regex_match/__init__.py
Due: langchain

init fixes
  libs/partners/openai/langchain_openai/__init__.py
  libs/partners/openai/langchain_openai/chat_models/__init__.py
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/__init__.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/__init__.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/langchain_openai/output_parsers/tools.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_azure.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/partners/openai/tests/integration_tests/embeddings/test_azure.py
  libs/partners/openai/tests/integration_tests/embeddings/test_base_standard.py
  libs/partners/openai/tests/integration_tests/llms/test_azure.py
  libs/partners/openai/tests/integration_tests/llms/test_base.py
  libs/partners/openai/tests/integration_tests/test_compile.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base_standard.py
  libs/partners/openai/tests/unit_tests/fake/callbacks.py
  libs/partners/openai/uv.lock
Due: openai

fixes
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/partners/openai/tests/integration_tests/embeddings/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base.py
Due: openai

add rules and fixes
  libs/partners/perplexity/langchain_perplexity/__init__.py
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/tests/integration_tests/test_compile.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
Due: none

bump lock
  libs/partners/perplexity/uv.lock
Due: none

rules and fixes
  libs/partners/prompty/Makefile
  libs/partners/prompty/langchain_prompty/core.py
  libs/partners/prompty/langchain_prompty/langchain.py
  libs/partners/prompty/langchain_prompty/parsers.py
  libs/partners/prompty/langchain_prompty/renderers.py
  libs/partners/prompty/langchain_prompty/utils.py
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/tests/integration_tests/test_compile.py
  libs/partners/prompty/tests/unit_tests/fake_callback_handler.py
  libs/partners/prompty/tests/unit_tests/fake_chat_model.py
  libs/partners/prompty/tests/unit_tests/fake_output_parser.py
  libs/partners/prompty/tests/unit_tests/test_prompty_serialization.py
  libs/partners/prompty/tests/unit_tests/test_templating.py
  libs/partners/prompty/uv.lock
Due: prompty

Update tool_feat_table.py
  docs/scripts/tool_feat_table.py
Due: root

text-splitters: Add ruff rules FBT
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Due: text-splitters

Create confident_ai.md
  docs/docs/integrations/providers/confident_ai.md
Due: root

cli: select ALL rules with exclusions
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/generic.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/langchain_cli/utils/pyproject.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/integration_tests/__init__.py
  libs/cli/tests/unit_tests/migrate/cli_runner/file.py
  libs/cli/tests/unit_tests/migrate/cli_runner/folder.py
  libs/cli/uv.lock
Due: none

remove total
  libs/core/langchain_core/messages/content_blocks.py
Due: core

ci: update issue template to refer Q&A to langchain forum (#31829)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update confident_ai.md
  docs/docs/integrations/providers/confident_ai.md
Due: root

standard-tests: select ALL rules with exclusions
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/indexer.py
  libs/standard-tests/langchain_tests/utils/pydantic.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/integration_tests/__init__.py
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/uv.lock
Due: standard-tests

Fix: Apply secrets_map to plain string values in load() [#31804]
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/tests/load_tests/test_load.py
Due: core

core: fix lint and format for test_load
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/tests/load_tests/test_load.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/pyproject.toml.bak
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_configurable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_outputs.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_memory_stream.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

renamed pyproject.toml
  libs/core/pyproject.toml
Due: core

docs(document_loaders): add examples for Tigris
  docs/docs/integrations/document_loaders/tigris_directory.ipynb
  docs/docs/integrations/document_loaders/tigris_file.ipynb
Due: root

vectorstores: remove incorrect key
  libs/langchain/langchain/vectorstores/__init__.py
Due: langchain

chains: fix broad base except in crawler.py
  libs/langchain/langchain/chains/natbot/crawler.py
Due: langchain

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
