Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

chore(langchain): fix types in `test_summarization` (#34656)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

cr
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_tools.py
Due: none

chore(langchain): fix types in `test_tools` (#34592)
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_tools.py
Due: none

cr
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_overrides.py
Due: none

feat(langchain): add `state` to `_ModelRequestOverrides`
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

feat(langchain): add `state` to `_ModelRequestOverrides` (#34692)
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

chore(langchain): fix types in `test_overrides` (#34635)
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_overrides.py
Due: none

add tag to metadata on messages from summarization
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(chroma): forward filter/where_document in _similarity_search_with_relevance_scores
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: chroma

chore(core): improve types for `StreamingRunnable` (#34540)
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Due: core

chore(core): bump lock
  libs/core/uv.lock
Due: core

chore(core): improve types for `RunnableLambda` (#34539)
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/history.py
  libs/core/tests/unit_tests/callbacks/test_dispatch_custom_event.py
  libs/core/tests/unit_tests/runnables/test_concurrency.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

chore(core): bump lock (#34695)
  libs/core/uv.lock
Due: core

chore(langchain): fix types in `test_context_editing`, `test_agent_name`, `test_response_format_integration` (#34574)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/test_agent_name.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

chore(langchain): remove generic from `FakeToolCallingModel` (#34572)
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

chore(langchain): fix types in `test_response_format` and `test_state_schema` (#34571)
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_state_schema.py
Due: none

chore(langchain): fix types in `test_injected_runtime_create_agent`, `test_create_agent_tool_validation` (#34568)
  libs/langchain_v1/tests/unit_tests/agents/test_create_agent_tool_validation.py
  libs/langchain_v1/tests/unit_tests/agents/test_injected_runtime_create_agent.py
Due: none

cr
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

fix typo
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
Due: none

fix(langchain): activate mypy warn-unreachable (#34553)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/_execution.py
  libs/langchain_v1/langchain/agents/middleware/_redaction.py
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/langchain/agents/middleware/tool_retry.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_execution_policies.py
Due: none

cr
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
Due: none

test(langchain): complete and activate `test_responses` tests (#34560)
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
Due: none

chore(langchain): improve `ignore_missing_imports` config (#34551)
  libs/langchain_v1/pyproject.toml
Due: none

chore(langchain): fix types in `test_shell_execution_policies` (#34498)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_execution_policies.py
Due: none

chore(langchain): fix types in `test_tool_selection` and `test_tool_emulator` (#34499)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

correct weakref.finalize type annotation
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
Due: none

remove duplicate key
  libs/langchain_v1/pyproject.toml
Due: none

chore(langchain): activate `mypy warn_return_any` rule (#34549)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/model_call_limit.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/langchain/agents/middleware/tool_retry.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/conftest.py
Due: none

chore(langchain): fix types in `test_shell_tool` (#34502)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
Due: none

chore(langchain): fix types in `test_todo`, `test_tool_retry` (#34503)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_todo.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_retry.py
Due: none

fix(langchain): activate `test_return_direct_spec` tests, fix types (#34565)
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
Due: none

fix(standard-tests): add type ignore
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/uv.lock
Due: standard-tests

cr
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(standard-tests): add type ignore (#34696)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/uv.lock
Due: standard-tests

fix(core): make `yield_keys` prefix keyword-only to match `BaseStore` (#34659)
  libs/core/langchain_core/stores.py
  libs/langchain/langchain_classic/storage/file_system.py
  libs/langchain/tests/unit_tests/storage/test_filesystem.py
Due: core, langchain

fix(core): improve error message for missing title in JSON schema functions (#34683)
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(core): add tool_call_id to on_tool_error event data
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/event_stream.py
Due: core

fix(core): refactor on_tool_error event to use structured event object
  libs/core/langchain_core/tracers/event_stream.py
Due: core

docs(core): add tool_call_id to EventData schema
  libs/core/langchain_core/runnables/schema.py
Due: core

merge
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_chain_decorator.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core
