Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

Update libs/text-splitters/tests/unit_tests/test_semantic_text_splitter.py
  libs/text-splitters/tests/unit_tests/test_semantic_text_splitter.py
Due: text-splitters

chore(scripts): remove ad-hoc manual validation scripts; rely on unit tests only
  scripts/manual/final_validation.py
  scripts/manual/simple_test.py
  scripts/manual/test_agentexecutor.py
  scripts/manual/test_config_fix.py
  scripts/manual/test_infinite_recursion.py
Due: none

Update __init__.py
  libs/text-splitters/langchain_text_splitters/__init__.py
Due: text-splitters

Update semantic_text_splitter.py
  libs/text-splitters/langchain_text_splitters/semantic_text_splitter.py
Due: text-splitters

Update test_semantic_text_splitter.py
  libs/text-splitters/tests/unit_tests/test_semantic_text_splitter.py
Due: text-splitters

Update requirements.txt
  docs/api_reference/requirements.txt
Due: root

fix: InjectedToolCallId Injection Fails When LLM Generates Parameter
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix: test code format error
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat: add "web_search" in OpenAI chat model (partner lib)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

chore(lock): drop unrelated uv.lock changes from branch
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/partners/ollama/uv.lock
  libs/partners/openai/uv.lock
Due: core, langchain, ollama, openai

chore(text-splitters): fix some docstrings
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters

fix(agents): propagate RunnableConfig through AgentExecutor to tools (sync/async); support Optional/Union signatures; mypy and lint clean
  libs/langchain/langchain/agents/agent.py
Due: langchain

chore(lint): fix ruff errors in tests and remove unused import in agent_iterator
  libs/core/tests/unit_tests/utils/test_json_schema_recursion.py
  libs/langchain/langchain/agents/agent_iterator.py
Due: core, langchain

chore(tests): fix ruff issues in agent config propagation tests
  libs/langchain/tests/unit_tests/agents/test_config_propagation.py
  libs/langchain/tests/unit_tests/agents/test_config_propagation_optional.py
Due: langchain

fix(agents): remove unused mypy ignore by dynamically importing yaml; organize imports to satisfy Ruff
  libs/langchain/langchain/agents/agent.py
Due: langchain

chore(core): fix some pydocs to use google-style
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_png.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/root_listeners.py
  libs/core/langchain_core/tracers/run_collector.py
  libs/core/langchain_core/utils/json_schema.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core
