Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix(core): improve BaseMessage.pretty_repr for multimodal content
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_base.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/mistralai/langchain_mistralai/data/_profiles.py
  libs/partners/openai/langchain_openai/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: mistralai, openai

fix(core): resolve ruff linting errors in tier-aware tool implementation
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/langchain_core/tools/tier.py
  libs/core/tests/unit_tests/test_tier_tools.py
  libs/langchain_v1/langchain/agents/factory.py
Due: core

Add support for handling logprobs in Responses API
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Improve BaseMessage.pretty_repr for multimodal content
  libs/core/langchain_core/messages/base.py
Due: core

fix(core): filter _DirectlyInjectedToolArg params from inferred tool schema
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

x
  libs/langchain_v1/langchain/agents/factory.py
Due: none

perf(langchain): reduce init speed by 15% (#36375)
  libs/langchain_v1/langchain/agents/factory.py
Due: none

fix(seo-agent): make NL handler read stored data instead of hitting APIs for informational queries
  agents/seo_agent/telegram_bot.py
Due: none

x
  libs/langchain_v1/tests/unit_tests/agents/test_injected_runtime_create_agent.py
Due: none

test(langchain): cover runtime recursion limit override in create_agent
  libs/langchain_v1/tests/unit_tests/agents/test_injected_runtime_create_agent.py
Due: none

test(langchain): cover runtime recursion limit override in create_agent (#36376)
  libs/langchain_v1/tests/unit_tests/agents/test_injected_runtime_create_agent.py
Due: none

ci: auto-close issues that bypass template checkboxes
  .github/workflows/close_unchecked_issues.yml
Due: none

ci: auto-close issues that bypass template checkboxes (#36377)
  .github/workflows/close_unchecked_issues.yml
Due: none

fix(openai): handle unknown tool names in _consolidate_calls
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/tests/unit_tests/chat_models/test_compat_consolidate_calls.py
Due: openai

fix(scraper): add identity guards to prevent bot token misconfiguration
  .env.example
  agents/scraper_agent/README.md
  agents/scraper_agent/telegram_bot.py
  agents/seo_agent/telegram_bot.py
Due: none

fix(frontend): fix layout overflow, deduplicate supabase errors, standardize error styling
  frontend/src/components/agents/AgentTurnLog.tsx
  frontend/src/components/agents/CostChart.tsx
  frontend/src/components/crm/ContactsTable.tsx
  frontend/src/components/crm/InteractionLog.tsx
  frontend/src/components/crm/PipelineBoard.tsx
  frontend/src/components/crm/ProspectList.tsx
  frontend/src/components/layout/ConfigBanner.tsx
  frontend/src/components/layout/Shell.tsx
  frontend/src/components/schedules/ExecutionTimeline.tsx
  frontend/src/components/schedules/SkillSchedulePanel.tsx
  frontend/src/hooks/useSupabase.ts
  frontend/src/index.css
Due: none

chore(frontend): update package-lock.json after dependency install
  frontend/package-lock.json
Due: none

fix(core): suppress AttributeError from `self.profile` in `_set_model_profile`
  libs/core/langchain_core/language_models/chat_models.py
Due: core

feat(openai): add native OpenAI Batch API support
  libs/partners/openai/langchain_openai/__init__.py
  libs/partners/openai/langchain_openai/chat_models/_batch_api.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_batch_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_batch_api.py
Due: openai

feat(core): enrich pretty_repr for multimodal content blocks
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/messages/test_base.py
Due: core

fix(core): preserve `detail` field in convert_to_openai_image_block
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
Due: core

fix(core): fire on_retry callback in RunnableRetry
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

ci: auto-reopen PRs on issue assignment
  .github/workflows/reopen_on_assignment.yml
  .github/workflows/require_issue_link.yml
Due: none

ci: auto-reopen PRs on issue assignment (#36384)
  .github/workflows/reopen_on_assignment.yml
  .github/workflows/require_issue_link.yml
Due: none

.
  README.md
Due: none

fix(frontend): remove supabase config error banner for clean empty states
  frontend/src/components/layout/ConfigBanner.tsx
  frontend/src/components/layout/Shell.tsx
Due: none

chore(model-profiles): refresh model profile data
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: none

fix: add path validation in check_diff.py
  .github/scripts/check_diff.py
Due: none

x
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

x
  libs/langchain_v1/langchain/__init__.py
Due: langchain-v1-version

release(langchain): 1.2.14 (#36396)
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

Fix frontend: Supabase client, mutation errors, column key, loading states, error boundary
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/agents/AgentDashboard.tsx
  frontend/src/components/crm/ContactDetail.tsx
  frontend/src/components/keywords/KeywordsTable.tsx
  frontend/src/components/schedules/ExecutionTimeline.tsx
  frontend/src/config/supabase.ts
  frontend/src/hooks/useScheduleEntries.ts
  frontend/src/hooks/useSupabase.ts
  frontend/src/main.tsx
  frontend/src/utils/supabase.ts
Due: none

Add Instantly V2 outreach system: email gen, campaign management, CRM integration
  .env.example
  agents/seo_agent/config.py
  agents/seo_agent/telegram_bot.py
  agents/seo_agent/tools/instantly_client.py
  agents/seo_agent/tools/outreach_engine.py
  agents/seo_agent/tools/supabase_tools.py
  migrations/005_outreach_tables.sql
Due: none

Add reply polling + heartbeat outreach automation
  agents/seo_agent/heartbeat.py
  agents/seo_agent/tools/outreach_webhook.py
Due: none

Add DR growth schedule widget — interactive 6-month projection
  agents/seo_agent/tools/dr_schedule_widget.html
Due: none

fix(openrouter): merge fragmented reasoning_details in streaming multi-turn
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(langchain): trace agent model node for callback hierarchy
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_wrap_model_call.py
Due: none
