Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

chore(model-profiles): refresh model profile data
  libs/partners/xai/langchain_xai/data/_profiles.py
Due: none

feat(core): raise exception if 'type' value is different in dicts to merge
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

map anthopic type input_json_delta to tool_use
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/messages/block_translators/test_anthropic.py
  libs/core/tests/unit_tests/messages/block_translators/test_bedrock.py
  libs/core/tests/unit_tests/messages/block_translators/test_bedrock_converse.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: core, anthropic

fix(core): add missing -> None return type to Tee.__init__() in iter and aiter
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/iter.py
Due: core

fix(core): handle edge cases in trim_messages token_counter detection
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

fix(openai): update responses API model detection for pro and codex models (#35594)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): cancel pending tasks in abatch_as_completed on exit
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix: move imports to top-level for ruff PLC0415
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

fix(core): prevent RuntimeError in to_json under thread concurrency
  libs/core/langchain_core/load/serializable.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

ci: add contributor tier labels, PR size labels, and backfill job
  .github/workflows/pr_size_labeler.yml
  .github/workflows/tag-external-contributions.yml
Due: none

ci: add contributor tier labels, PR size labels, and backfill job (#35687)
  .github/workflows/pr_size_labeler.yml
  .github/workflows/tag-external-contributions.yml
Due: none

.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_size_labeler.yml
  .github/workflows/tag-external-contributions.yml
Due: none

ci(infra): require issue link for external PRs
  .github/workflows/require_issue_link.yml
Due: none

ci(infra): require issue link for external PRs (#35690)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_size_labeler.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-contributions.yml
Due: none

fix(openai): force stream=False in _generate/_agenerate when disable_streaming is active
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

ci: require PR author is assigned to linked issue
  .github/workflows/require_issue_link.yml
Due: none

ci: require PR author is assigned to linked issue (#35692)
  .github/workflows/require_issue_link.yml
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
