Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

style: fix line length to comply with 88 char limit
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

style: add fmt: off to preserve multi-line format for long condition
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix: safely handle async client cleanup when event loop is closed
  libs/partners/anthropic/langchain_anthropic/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
Due: anthropic, openai

fix merge_lists to merge tool_call_chunks by id when index is None
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

fix id-based merge to respect different tool names, update snapshots
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

update test_runnable snapshots for updated docstring
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

core: fix _parse_google_docstring mishandling continuation lines with colons
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
