Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

differentiate create_agent
  libs/langchain_v1/langchain/agents/factory.py
Due: none

Update AzureAI model import and return statement
  libs/langchain/langchain_classic/chat_models/base.py
Due: langchain

linting
  libs/core/langchain_core/language_models/base.py
Due: core

Update Azure AI provider to use OpenAI API model
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

Add Azure AI provider to embeddings
  libs/langchain_v1/langchain/embeddings/base.py
Due: none

Add support for 'azure_ai' embeddings provider
  libs/langchain/langchain_classic/embeddings/base.py
Due: langchain

fix(openai): skip malformed tool call chunks instead of dropping entire batch
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix: handle 'args' parameter name conflict in StructuredTool schema generation
  libs/core/langchain_core/tools/base.py
Due: core

fix: include event loop ID in httpx AsyncClient cache key
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
Due: openai

fix: handle invalid_tool_calls in agent routing to prevent silent failures
  libs/langchain_v1/langchain/agents/factory.py
Due: none

test: add tests for invalid_tool_calls routing behavior
  libs/langchain_v1/tests/unit_tests/agents/test_invalid_tool_calls.py
Due: none

fix: handle invalid_tool_calls in agent routing to enable LLM retry
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_invalid_tool_calls.py
Due: none

fix(core): make `self` positional-only in `_run`/`_arun` to allow "self" as tool input key
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): filter v__args field when function has args parameter
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat(minimax): add langchain-minimax partner package
  .github/dependabot.yml
  .github/pr-file-labeler.yml
  .github/workflows/auto-label-by-package.yml
  .github/workflows/pr_lint.yml
  libs/partners/minimax/Makefile
  libs/partners/minimax/README.md
  libs/partners/minimax/langchain_minimax/__init__.py
  libs/partners/minimax/langchain_minimax/chat_models.py
  libs/partners/minimax/langchain_minimax/data/__init__.py
  libs/partners/minimax/langchain_minimax/data/_profiles.py
  libs/partners/minimax/langchain_minimax/py.typed
  libs/partners/minimax/pyproject.toml
  libs/partners/minimax/tests/__init__.py
  libs/partners/minimax/tests/integration_tests/__init__.py
  libs/partners/minimax/tests/integration_tests/test_chat_models.py
  libs/partners/minimax/tests/integration_tests/test_compile.py
  libs/partners/minimax/tests/unit_tests/__init__.py
  libs/partners/minimax/tests/unit_tests/test_chat_models.py
  libs/partners/minimax/uv.lock
Due: none

fix: Strip v__args/v__kwargs Pydantic v2 internal fields
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat(langchain): add SafePythonREPL with AST-based code validation (OWASP AA-03)
  libs/langchain_v1/langchain/utilities/__init__.py
  libs/langchain_v1/langchain/utilities/python.py
  libs/langchain_v1/tests/unit_tests/utilities/__init__.py
  libs/langchain_v1/tests/unit_tests/utilities/test_python_repl_security.py
Due: none

fix: correct output_parser type checking in loading.py
  libs/core/langchain_core/prompts/loading.py
Due: core

fix: use loop-aware cache for async httpx clients to prevent cross-event-loop crashes
  libs/partners/anthropic/langchain_anthropic/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
Due: anthropic, openai

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

fix: prevent accumulation of _configure_hooks in get_usage_metadata_callback
  libs/core/langchain_core/callbacks/usage.py
Due: core

release(core): 1.2.19 (#35832)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

bump deps and increment version
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

bump core and increment version
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

release(langchain): 1.0.3 (#35834)
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

release(mistralai): 1.1.2 (#35835)
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

fix(tools): respect include_injected=False when filter_args is provided
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(openai): preserve non-strict semantics when converting tools to Responses API
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Add LangChain version field to bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

feat(anthropic): support custom httpx clients for mTLS / cert-based auth
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

Ignore general usage cache_creation fields if more specific fields are set
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

Lint
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

Fix
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

Add documentation checklist item to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(openai): replace process-global lru_cache on async httpx client with per-loop WeakKeyDictionary
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/tests/unit_tests/chat_models/test_client_utils.py
Due: openai

fix(mistralai): warn when streaming with function_calling in with_structured_output (fixes #29860)
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

ci: cancel other CI runs when `require-issue-link` closes a PR
  .github/workflows/require_issue_link.yml
Due: none

ci: cancel other CI runs when `require-issue-link` closes a PR (#35849)
  .github/workflows/require_issue_link.yml
Due: none
