Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

chore: bump langchain-core minimum to 0.3.75
  libs/standard-tests/pyproject.toml
Due: standard-tests

chore: bump langchain-core minimum to 0.3.75 (#32753)
  libs/standard-tests/pyproject.toml
Due: standard-tests

docs: fix grammar and typo in Documentation style guide (#32741)
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Due: root

docs: fix typo and grammer in Conceptual guide
  docs/docs/concepts/index.mdx
Due: root

Fixed typo in - Commit your changes:
  docs/docs/contributing/tutorials/docs.mdx
Due: root

Fix punctuation in style guide
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Due: root

core: deprecate problematic dict() method
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/prompts/base.py
Due: core

chore(text-splitters): select ALL rules with exclusions
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/langchain_text_splitters/konlpy.py
  libs/text-splitters/langchain_text_splitters/latex.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/python.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/scripts/check_imports.py
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
  libs/text-splitters/tests/unit_tests/conftest.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Due: text-splitters

Add ruff rule ANN401
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Due: text-splitters

chore(standard-tests): add mypy strict checking
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

chore(cli): add mypy strict checking
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/langchain_cli/project_template/app/server.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/test_utils.py
  libs/cli/uv.lock
Due: none

chore(cli): add ruff rules ANN401 and D1
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/pyproject.toml
Due: none

Fix: allow as_retriever to work with sparse-only vectorstores
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_search.py
Due: qdrant

fix(qdrant): Fix embeddings None error in SPARSE mode
  libs/partners/qdrant/langchain_qdrant/qdrant.py
Due: qdrant

fix: long line error
  libs/partners/qdrant/langchain_qdrant/qdrant.py
Due: qdrant

fix(test_search): ci error in test_search.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_search.py
Due: qdrant

docs(ollama): standardize OllamaLLM docstring format
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/openai/langchain_openai/llms/base.py
Due: ollama, openai

chore(cli): add ruff rules ANN401 and D1 (#32576)
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/pyproject.toml
Due: none

loosen pytest
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Due: none

docs: fixed typo in contributing guide (#32755)
  docs/docs/contributing/tutorials/docs.mdx
Due: root

docs: fix punctuation in style guide (#32756)
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Due: root

ensure response data is a dictionary before returning
  libs/cli/langchain_cli/utils/events.py
Due: none

chore(cli): add mypy strict checking (#32386)
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/langchain_cli/project_template/app/server.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/test_utils.py
  libs/cli/uv.lock
Due: none

release(cli): 0.0.37
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Due: none

release(cli): 0.0.37 (#32760)
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Due: none

Update test_semantic_text_splitter.py
  libs/text-splitters/tests/unit_tests/test_semantic_text_splitter.py
Due: text-splitters

Update semantic_text_splitter.py
  libs/text-splitters/langchain_text_splitters/semantic_text_splitter.py
Due: text-splitters

Update __init__.py
  libs/text-splitters/langchain_text_splitters/__init__.py
Due: text-splitters

Add files via upload
  libs/text-splitters/langchain_text_splitters/semantic_text_splitter.py
Due: text-splitters

Add files via upload
  libs/text-splitters/tests/unit_tests/test_semantic_text_splitter.py
Due: text-splitters

chore(cli): drop python 3.9 support
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/github.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/migrate/cli_runner/folder.py
  libs/cli/tests/unit_tests/migrate/cli_runner/test_cli.py
  libs/cli/tests/unit_tests/test_utils.py
  libs/cli/uv.lock
Due: none

fix(cli): improve type handling in `get_langserve_export()`
  libs/cli/langchain_cli/utils/packages.py
Due: none

chore(cli): drop python 3.9 support (#32761)
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/github.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/migrate/cli_runner/folder.py
  libs/cli/tests/unit_tests/migrate/cli_runner/test_cli.py
  libs/cli/tests/unit_tests/test_utils.py
  libs/cli/uv.lock
Due: none

docs: fix typo and grammer in Conceptual guide (#32754)
  docs/docs/concepts/index.mdx
Due: root

Update libs/text-splitters/langchain_text_splitters/semantic_text_splitter.py
  libs/text-splitters/langchain_text_splitters/semantic_text_splitter.py
Due: text-splitters

chore(langchain): improve PostgreSQL Manager upsert SQLAlchemy API calls. (#32748)
  libs/langchain/langchain/indexes/_sql_record_manager.py
Due: langchain

Update libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
