Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

chore(cli): add ruff rules D1
  libs/cli/langchain_cli/__init__.py
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/constants.py
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/__init__.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/__init__.py
  libs/cli/langchain_cli/namespaces/migrate/generate/__init__.py
  libs/cli/langchain_cli/namespaces/migrate/generate/grit.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/utils/__init__.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/find_replace.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/github.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/langchain_cli/utils/pyproject.py
  libs/cli/pyproject.toml
  libs/cli/scripts/__init__.py
  libs/cli/scripts/generate_migrations.py
Due: none

fix(docs): add missing space (#32349)
  docs/docs/integrations/providers/portkey/logging_tracing_portkey.ipynb
Due: root

chore(text-splitters): select ALL rules with exclusions
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/langchain_text_splitters/konlpy.py
  libs/text-splitters/langchain_text_splitters/latex.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/python.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/scripts/check_imports.py
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
  libs/text-splitters/tests/unit_tests/conftest.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Due: text-splitters

unpin pydantic and add more docstrings, rearrange `type` field to always be first
  libs/core/langchain_core/messages/v1.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

more rearranging for mypy
  libs/core/langchain_core/messages/v1.py
Due: core

fix: update package name from langchain-gradientai to langchain-gradient
  libs/packages.yml
Due: none

chore: add unit test when decode returns empty string chunks
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

chore: remove debugging out log
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

Update kv_store_feat_table.py
  docs/scripts/kv_store_feat_table.py
Due: root

add `extra`
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

fix tracing
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/tracers/test_async_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
Due: core

resolve comments
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/messages/v1.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

fix(core): fix tracing for new message types in case of multiple messages (#32352)
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/tracers/test_async_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
Due: core

fix
  libs/core/tests/unit_tests/test_messages.py
Due: core

tests for response metadata
  libs/core/tests/unit_tests/messages/test_response_metadata.py
  libs/core/tests/unit_tests/messages/test_response_metadata.py.bak
Due: core

feat(core): content block factories + ids + docs + tests (#32316)
  .github/workflows/codspeed.yml
  docs/api_reference/create_api_rst.py
  docs/docs/contributing/how_to/testing.mdx
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/messages/v1.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
  libs/core/tests/unit_tests/messages/test_response_metadata.py
  libs/core/tests/unit_tests/messages/test_response_metadata.py.bak
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/uv.lock
  uv.lock
Due: core, root

bump pydantic
  libs/partners/ollama/uv.lock
Due: ollama

start
  libs/core/langchain_core/messages/v1.py
Due: core

fix: add index to InvalidToolCall
  libs/core/langchain_core/messages/content_blocks.py
Due: core

fix: update snapshots
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

fix: updatd snapshots
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

revert pydantic bump
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

attempt
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

fix: revert pydantic bump (#32355)
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/uv.lock
Due: core

nit: lint `standard-tests` files
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests

fix: correct syrupy import
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests

core: fix bug
  libs/core/langchain_core/callbacks/manager.py
Due: core

docs: add Google partner guide for MCP Toolbox
  docs/docs/integrations/providers/google.mdx
Due: root

docs: add toolbox to the database tools table
  docs/scripts/tool_feat_table.py
Due: root

core: add tool call chunks to content blocks
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/test_messages.py
Due: core

move tool call chunks to content
  libs/core/langchain_core/messages/v1.py
Due: core

fix: Classification Notebook
  docs/docs/tutorials/classification.ipynb
Due: root

emit end of stream token
  libs/core/langchain_core/language_models/v1/chat_models.py
  libs/core/langchain_core/messages/v1.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
Due: core

messages v1: some nits, and use `create_text_block()`
  libs/core/langchain_core/messages/v1.py
Due: core

content_blocks: add missing blocks to aliases and formatting
  libs/core/langchain_core/messages/content_blocks.py
Due: core

feat: enhance serialization for v1 message classes in dump and load modules
  libs/core/langchain_core/load/dump.py
  libs/core/langchain_core/load/load.py
Due: core

first pass (w/o integration)
  libs/standard-tests/QUICK_START.md
  libs/standard-tests/README.md
  libs/standard-tests/README_V1.md
  libs/standard-tests/langchain_tests/__init__.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models_v1.py
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/custom_chat_model_v1.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model_v1.py
Due: standard-tests

messages.v1 mypy fixes
  libs/core/langchain_core/messages/v1.py
Due: core

fix test
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
