Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

Changes following review
  libs/core/langchain_core/output_parsers/list.py
Due: core

Use rather than for variable names
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/langchain_core/runnables/router.py
Due: core

fix
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/string.py
Due: core

fix link
  docs/docs/how_to/sql_large_db.ipynb
Due: root

Fix link `SQL: Agents` to proper destination in sql_large_db.ipynb (#31255)
  docs/docs/how_to/sql_large_db.ipynb
Due: root

docs: Update confluence code blocks with all the latest changes and update documentation (#31242)
  docs/docs/integrations/document_loaders/confluence.ipynb
Due: root

langchain[patch]: Allow async indexing code to work for vectorstores that only defined sync delete (#30869)
  libs/core/langchain_core/indexing/api.py
Due: core

cache httpx client
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

core: support `Union` type args in strict mode of OpenAI function calling / structured output (#30971)
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

raise original error type
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

anthropic: emit informative error message if there are only system messages in a prompt (#30822)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

update to correct-repo
  libs/packages.yml
Due: none

moves large but circumstantial dependencies to optional group
  libs/partners/huggingface/pyproject.toml
Due: huggingface

Added a note with example to add extra argument if using EU endpoint
  docs/docs/tutorials/rag.ipynb
Due: root

docs: replace deprecated initialize_agent and load_tools in sceneXplain.ipynb
  docs/docs/integrations/tools/sceneXplain.ipynb
Due: root

docs: replace deprecated load_tools in google_jobs.ipynb
  docs/docs/integrations/tools/google_jobs.ipynb
Due: root

core: Improve Runnable method typing annotations
  libs/core/langchain_core/prompts/structured.py
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

Update flashrank-reranker.ipynb
  docs/docs/integrations/retrievers/flashrank-reranker.ipynb
Due: root

docs: add Desearch integration
  docs/docs/integrations/providers/desearch.mdx
  docs/docs/integrations/tools/desearch.ipynb
  libs/partners/desearch/.gitignore
  libs/partners/desearch/LICENSE
  libs/partners/desearch/Makefile
  libs/partners/desearch/README.md
  libs/partners/desearch/langchain_desearch/__init__.py
  libs/partners/desearch/langchain_desearch/agent.py
  libs/partners/desearch/langchain_desearch/search_tools.py
  libs/partners/desearch/langchain_desearch/tools.py
  libs/partners/desearch/pyproject.toml
  libs/partners/desearch/tests/__init__.py
  libs/partners/desearch/tests/integration_tests/test_tools.py
  libs/partners/desearch/tests/unit_tests/test_imports.py
Due: root

docs: update Desearch integration description with link
  docs/docs/integrations/tools/desearch.ipynb
Due: root

remove page and add redirect
  docs/docs/integrations/providers/dspy.ipynb
  docs/vercel.json
Due: root

remove internal links
  docs/docs/additional_resources/arxiv_references.mdx
Due: root

core: Improve Runnable `__or__` method typing annotations (#31273)
  libs/core/langchain_core/prompts/structured.py
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

add admonition
  docs/docs/integrations/providers/dspy.ipynb
Due: root

docs: clean up Desearch documentation and update notebook metadata
  docs/docs/integrations/providers/desearch.mdx
  docs/docs/integrations/tools/desearch.ipynb
Due: root

docs: add admonition to DSPy integration page in v0.2 docs (#31277)
  docs/docs/integrations/providers/dspy.ipynb
Due: root

docs: remove integration page with DSPy (#31278)
  docs/docs/additional_resources/arxiv_references.mdx
  docs/docs/integrations/providers/dspy.ipynb
  docs/vercel.json
Due: root

docs: Update flashrank-reranker.ipynb (#31274)
  docs/docs/integrations/retrievers/flashrank-reranker.ipynb
Due: root

catch reasoning block
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

openai[patch]: compat with Bedrock Converse (#31280)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

community: add Featherless.ai integration (#31250)
  docs/docs/integrations/chat/featherless_ai.ipynb
  docs/docs/integrations/providers/featherless-ai.mdx
  libs/packages.yml
Due: root

delete contents and add tombstone
  libs/partners/voyageai/.gitignore
  libs/partners/voyageai/LICENSE
  libs/partners/voyageai/Makefile
  libs/partners/voyageai/README.md
  libs/partners/voyageai/langchain_voyageai/__init__.py
  libs/partners/voyageai/langchain_voyageai/embeddings.py
  libs/partners/voyageai/langchain_voyageai/py.typed
  libs/partners/voyageai/langchain_voyageai/rerank.py
  libs/partners/voyageai/pyproject.toml
  libs/partners/voyageai/scripts/check_imports.py
  libs/partners/voyageai/scripts/lint_imports.sh
  libs/partners/voyageai/tests/__init__.py
  libs/partners/voyageai/tests/integration_tests/__init__.py
  libs/partners/voyageai/tests/integration_tests/test_compile.py
  libs/partners/voyageai/tests/integration_tests/test_embeddings.py
  libs/partners/voyageai/tests/integration_tests/test_rerank.py
  libs/partners/voyageai/tests/unit_tests/__init__.py
  libs/partners/voyageai/tests/unit_tests/test_embeddings.py
  libs/partners/voyageai/tests/unit_tests/test_imports.py
  libs/partners/voyageai/tests/unit_tests/test_rerank.py
  libs/partners/voyageai/uv.lock
Due: voyageai

update package registry
  libs/packages.yml
Due: none

remove secrets from workflows
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
Due: none

docs: enhance Desearch notebook structure with section updates and improved headings
  docs/docs/integrations/tools/desearch.ipynb
Due: root

docs: refine Desearch notebook with updated section titles and additional content organization
  docs/docs/integrations/tools/desearch.ipynb
Due: root

remove from scripts
  .github/scripts/check_diff.py
  .pre-commit-config.yaml
Due: none

voyageai: remove from monorepo (#31281)
  .github/scripts/check_diff.py
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .pre-commit-config.yaml
  libs/packages.yml
  libs/partners/voyageai/.gitignore
  libs/partners/voyageai/LICENSE
  libs/partners/voyageai/Makefile
  libs/partners/voyageai/README.md
  libs/partners/voyageai/langchain_voyageai/__init__.py
  libs/partners/voyageai/langchain_voyageai/embeddings.py
  libs/partners/voyageai/langchain_voyageai/py.typed
  libs/partners/voyageai/langchain_voyageai/rerank.py
  libs/partners/voyageai/pyproject.toml
  libs/partners/voyageai/scripts/check_imports.py
  libs/partners/voyageai/scripts/lint_imports.sh
  libs/partners/voyageai/tests/__init__.py
  libs/partners/voyageai/tests/integration_tests/__init__.py
  libs/partners/voyageai/tests/integration_tests/test_compile.py
  libs/partners/voyageai/tests/integration_tests/test_embeddings.py
  libs/partners/voyageai/tests/integration_tests/test_rerank.py
  libs/partners/voyageai/tests/unit_tests/__init__.py
  libs/partners/voyageai/tests/unit_tests/test_embeddings.py
  libs/partners/voyageai/tests/unit_tests/test_imports.py
  libs/partners/voyageai/tests/unit_tests/test_rerank.py
  libs/partners/voyageai/uv.lock
Due: voyageai

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
