Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

x
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

chore(langchain_v1): simplify on model call logic (#33358)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_decorator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_handler_composition.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

update
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/planning.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_llm_tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_decorator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_context_editing_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_handler_composition.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

more oai
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

.
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

core: remove `keep-runtime-typing` from `pyproject.toml` following dropping 3.9
  libs/core/pyproject.toml
Due: core

style(infra): use modern `Optional` typing in script
  .github/scripts/get_min_versions.py
Due: none

thropic
  libs/partners/anthropic/langchain_anthropic/_client_utils.py
  libs/partners/anthropic/langchain_anthropic/_compat.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/_utils.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: anthropic

chroma
  libs/partners/chroma/langchain_chroma/__init__.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/scripts/check_imports.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
  libs/partners/chroma/tests/unit_tests/test_standard.py
  libs/partners/chroma/uv.lock
Due: chroma

deepseek
  libs/partners/deepseek/langchain_deepseek/__init__.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/scripts/check_imports.py
  libs/partners/deepseek/tests/__init__.py
  libs/partners/deepseek/tests/integration_tests/__init__.py
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
  libs/partners/deepseek/tests/integration_tests/test_compile.py
  libs/partners/deepseek/tests/unit_tests/__init__.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
Due: none

exa
  libs/partners/exa/langchain_exa/__init__.py
  libs/partners/exa/langchain_exa/retrievers.py
  libs/partners/exa/langchain_exa/tools.py
  libs/partners/exa/pyproject.toml
  libs/partners/exa/scripts/check_imports.py
  libs/partners/exa/tests/__init__.py
  libs/partners/exa/tests/integration_tests/__init__.py
  libs/partners/exa/tests/integration_tests/test_compile.py
  libs/partners/exa/tests/integration_tests/test_find_similar_tool.py
  libs/partners/exa/tests/integration_tests/test_retriever.py
  libs/partners/exa/tests/integration_tests/test_search_tool.py
  libs/partners/exa/tests/unit_tests/__init__.py
  libs/partners/exa/tests/unit_tests/test_imports.py
  libs/partners/exa/tests/unit_tests/test_standard.py
Due: exa

fireworks
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/langchain_fireworks/llms.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
Due: fireworks

groq
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/fake/callbacks.py
Due: groq

xai
  AGENTS.md
  CLAUDE.md
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/pyproject.toml
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Due: none

qdrant
  libs/partners/qdrant/langchain_qdrant/_utils.py
  libs/partners/qdrant/langchain_qdrant/fastembed_sparse.py
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/tests/integration_tests/async_api/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_max_marginal_relevance.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_similarity_search.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/test_embedding_interface.py
  libs/partners/qdrant/tests/integration_tests/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/test_max_marginal_relevance.py
  libs/partners/qdrant/tests/integration_tests/test_similarity_search.py
  libs/partners/qdrant/uv.lock
Due: qdrant

prompty
  libs/partners/prompty/langchain_prompty/core.py
  libs/partners/prompty/langchain_prompty/parsers.py
  libs/partners/prompty/langchain_prompty/utils.py
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/tests/unit_tests/fake_callback_handler.py
  libs/partners/prompty/tests/unit_tests/fake_chat_model.py
  libs/partners/prompty/tests/unit_tests/fake_output_parser.py
Due: prompty

perplexity
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
Due: none

ollama
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
Due: ollama

nomic
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/pyproject.toml
Due: nomic

mistral
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
Due: mistralai

openai
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_azure.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
  libs/partners/openai/tests/unit_tests/fake/callbacks.py
Due: openai

huggingface
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/utils/import_utils.py
  libs/partners/huggingface/pyproject.toml
Due: huggingface

fireworks strag
  libs/partners/fireworks/langchain_fireworks/llms.py
Due: fireworks

core strag
  libs/core/langchain_core/prompt_values.py
Due: core

classic strag
  libs/langchain/langchain_classic/chains/moderation.py
  libs/langchain/langchain_classic/chat_models/base.py
Due: langchain

renamings
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/openai/langchain_openai/llms/azure.py
Due: huggingface, ollama, openai

fix(groq): handle content blocks/tool calls
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/uv.lock
Due: groq

style(infra): use modern `Optional` typing in script (#33361)
  .github/scripts/get_min_versions.py
Due: none

refactor(core): remove `keep-runtime-typing` from `pyproject.toml` following dropping 3.9 (#33360)
  libs/core/pyproject.toml
Due: core

x
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Due: none

update
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_on_tool_call_middleware.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Due: none

x
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

fix(groq): handle content correctly (#33363)
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/uv.lock
Due: groq

x
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_decorator.py
  libs/langchain_v1/tests/unit_tests/agents/test_context_editing_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_handler_composition.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

chore(langchain_v1): update on_tool_call to regular callbacks (#33364)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_on_tool_call_middleware.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Due: none

chore(langchain_v1): add runtime and context to model request (#33365)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/planning.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_llm_tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_decorator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_context_editing_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_handler_composition.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none
