Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

modify via function call rather than node
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

get tests passing
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

update snapshots
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
Due: none

chore(cli): fix some ruff preview rules (#32803)
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/scripts/generate_migrations.py
  libs/cli/uv.lock
Due: none

chore(cli): fix some DOC rules (preview)
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/migrate/generate/generic.py
  libs/cli/langchain_cli/namespaces/migrate/generate/grit.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/find_replace.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/github.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/pyproject.toml
Due: none

chore(langchain): prepare model request via func call not node (#32838)
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

tests w/ claude as a starting point
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

fix imports
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

version bump
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

import top level
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

linting
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

feat(langchain): middleware support in `create_agent` (#32828)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/_utils.py
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/uv.lock
Due: none

Refactored safety and updated the README
  libs/partners/llamastack/README.md
  libs/partners/llamastack/examples/demo_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/input_output_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/safety.py
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
  libs/partners/llamastack/tests/unit_tests/test_safety.py
Due: none

Fixed lint issues
  libs/partners/llamastack/langchain_llamastack/input_output_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/safety.py
Due: none

Fixed some linting issues
  libs/partners/llamastack/examples/demo_safety_moderation_hooks.py
  libs/partners/llamastack/langchain_llamastack/safety.py
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
Due: none

Fixing a linting issue
  libs/partners/llamastack/langchain_llamastack/input_output_safety_moderation_hooks.py
Due: none

Linting issues with some test files
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
  libs/partners/llamastack/tests/unit_tests/test_safety.py
Due: none

Linting
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
Due: none

linting issues
  libs/partners/llamastack/tests/unit_tests/test_safety.py
Due: none

lint issues
  libs/partners/llamastack/tests/unit_tests/test_input_output_safety_moderation_hooks.py
  libs/partners/llamastack/tests/unit_tests/test_safety.py
Due: none

fix(core): preserve ToolMessage.status field in convert_to_messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils_toolmessage_status.py
Due: core

Updated Chat and Safety
  libs/partners/llamastack/examples/basic_usage.py
  libs/partners/llamastack/langchain_llamastack/chat_models.py
  libs/partners/llamastack/langchain_llamastack/safety.py
  libs/partners/llamastack/tests/unit_tests/test_chat_models.py
  uv.lock
Due: none

updated the README
  libs/partners/llamastack/README.md
Due: none

README update
  libs/partners/llamastack/README.md
Due: none

fix: preserve supplied llm in FlareChain.from_llm (no overwrite)
  libs/langchain/langchain/chains/flare/base.py
Due: langchain

test(flare): add regression tests for FlareChain.from_llm overwrite bug
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

fix(flare): address Ruff lint (EM101/EM102/TRY003/E501) in FlareChain.from_llm
  libs/langchain/langchain/chains/flare/base.py
Due: langchain

test(flare): provide minimal retriever in from_llm ChatOpenAI retention test
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

style(flare): conform TypeError message formatting to Ruff suggestion
  libs/langchain/langchain/chains/flare/base.py
Due: langchain

test(flare): fix lint issues and add package __init__
  libs/langchain/tests/unit_tests/chains/flare/__init__.py
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

test(flare): sort imports and harden attribute walk to avoid NotImplementedError
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

test(flare): fix import sorting and PIE810 startswith tuple lint
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

test(flare): adjust import block to satisfy I001 (remove future import, add docstring)
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

test(flare): separate langchain vs langchain_core import groups per I001
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

fix(core): add ToolMessage status preservation tests to existing test_messages.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

fix: sort imports in test_flare_from_llm.py to resolve linting error
  libs/langchain/tests/unit_tests/chains/flare/test_flare_from_llm.py
Due: langchain

fix: Resolve linting issues in ToolMessage status tests
  libs/core/tests/unit_tests/test_messages.py
Due: core

feat: Add fork CI workflow for testing ToolMessage status fix
  .github/workflows/test-fork-pr.yml
Due: none

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
