Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix(core): return NotImplemented from Runnable.__or__/__ror__ for unsupported operands
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable_operators.py
Due: core

fix(openai): don't mutate model_kwargs["text"] in Responses API payload
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(perplexity): don't mutate caller's extra_body in _to_responses_payload
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models_responses.py
Due: none

fix(core): make all index() key encoders produce valid UUID document ids
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Due: core

fix(core): stop `get_usage_metadata_callback` from tracking after context exit
  libs/core/langchain_core/callbacks/usage.py
  libs/core/tests/unit_tests/callbacks/test_usage_callback.py
Due: core

fix(agents): stream-then-join model calls so token callbacks fire
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_token_callbacks_on_ainvoke.py
Due: none

fix: formatted-sql-query-1541
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: formatted-sql-query-1564
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: formatted-sql-query-1587
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: formatted-sql-query-1603
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: formatted-sql-query-1647
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: formatted-sql-query-1672
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix: non-literal-import-94
  libs/text-splitters/langchain_text_splitters/__init__.py
Due: text-splitters

feat(huggingface): support `endpoint_url` in `HuggingFaceEndpointEmbeddings`
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/tests/unit_tests/test_huggingface_endpoint_embeddings.py
  libs/partners/huggingface/uv.lock
Due: huggingface

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks

fix(core): normalize same-index `tool_call_chunks` in `AIMessageChunk`
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

fix(core): snapshot timestamp once in `InMemoryRecordManager.update`
  libs/core/langchain_core/indexing/base.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
Due: core

fix(core): wrap all `key_encoder` hashes in uuid5 for UUID-shaped IDs
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_hashed_document.py
Due: core

fix(core): `InMemoryRecordManager.update()` uses a single timestamp per batch
  libs/core/langchain_core/indexing/base.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
Due: core

Fix typo in Visitor._validate_func error message: 'comparators' -> 'operators'
  libs/core/langchain_core/structured_query.py
Due: core

replace tool_call_schema
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
Due: fireworks

release(fireworks): 1.5.2
  libs/partners/fireworks/langchain_fireworks/_version.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
Due: fireworks

release(fireworks): 1.5.2 (#39093)
  libs/partners/fireworks/langchain_fireworks/_version.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
Due: fireworks

feat(ci): add provider filter to model profile refresh workflow
  .github/workflows/refresh_model_profiles.yml
Due: none

ci: add provider filter to model profile refresh workflow (#39094)
  .github/workflows/refresh_model_profiles.yml
Due: none

fix(ci): repair model profile refresh workflow expressions
  .github/workflows/refresh_model_profiles.yml
Due: none

fix(ci): repair model profile refresh workflow expressions (#39095)
  .github/workflows/refresh_model_profiles.yml
Due: none

in-place mutation
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

remove copy.deepcopy
  libs/core/langchain_core/utils/function_calling.py
Due: core

feat(content-growth-agent): build MVP with multi-platform AI content generation
  .env.example
  Makefile
  examples/basic_run.py
  pyproject.toml
  requirements.txt
  src/content_growth_agent/__init__.py
  src/content_growth_agent/agents/base_agent.py
  src/content_growth_agent/agents/caption_agent.py
  src/content_growth_agent/agents/seo_agent.py
  src/content_growth_agent/agents/thumbnail_agent.py
  src/content_growth_agent/api.py
  src/content_growth_agent/app/streamlit_app.py
  src/content_growth_agent/config/settings.py
  src/content_growth_agent/core/base_memory.py
  src/content_growth_agent/core/llm_factory.py
  src/content_growth_agent/core/memory_backends/in_memory.py
  src/content_growth_agent/core/memory_factory.py
  src/content_growth_agent/extractors/youtube_extractor.py
  src/content_growth_agent/models/input_models.py
  src/content_growth_agent/models/output_models.py
  src/content_growth_agent/prompts/base_prompts.py
  src/content_growth_agent/prompts/seo_prompts.py
  src/content_growth_agent/tools/formatters.py
  src/content_growth_agent/tools/logger.py
  src/content_growth_agent/tools/validators.py
  src/content_growth_agent/workflows/content_workflow.py
  tests/conftest.py
  tests/unit_tests/core/test_memory.py
Due: none

test(anthropic): cover system message v1 content block sanitization
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(anthropic): strip unsupported fields from system message content blocks
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

test(core): cover incomplete args_schema rebuild and unresolvable forward refs
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): rebuild incomplete args_schema instead of silently exposing no tool arguments
  libs/core/langchain_core/tools/base.py
Due: core

fix(anthropic): strip id from system text blocks before sending
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(core): call get_time() once per update() batch instead of per key
  libs/core/langchain_core/indexing/base.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/huggingface/langchain_huggingface/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: huggingface

handle empty string
  libs/core/langchain_core/utils/_gateway.py
  libs/core/tests/unit_tests/utils/test_gateway.py
Due: core

fix(core): handle empty string in gateway env vars (#39107)
  libs/core/langchain_core/utils/_gateway.py
  libs/core/tests/unit_tests/utils/test_gateway.py
Due: core
