Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

fix(settings): update Python terminal settings and default interpreter path
  .vscode/settings.json
Due: none

fix: docs typing issues
  docs/api_reference/create_api_rst.py
  pyproject.toml
Due: root

fix linting
  libs/core/langchain_core/v1/messages.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

truefoundry mdx update
  docs/docs/integrations/providers/truefoundry.mdx
  docs/static/img/tfy-gateway-metrics.png
  docs/static/img/unified-code-snippet-tfy.png
Due: root

corrected truefoundry.mdx
  docs/docs/integrations/providers/truefoundry.mdx
  docs/static/img/gateway-metrics.png
  docs/static/img/unified-code-tfy.png
Due: root

Add AI/ML API integration docs and package config
  docs/docs/integrations/chat/aimlapi.ipynb
  docs/docs/integrations/llms/aimlapi.ipynb
  docs/docs/integrations/providers/aimlapi.ipynb
  docs/docs/integrations/text_embedding/aimlapi.ipynb
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Due: root

docs: Add integration guide for MCP Toolbox
  docs/docs/integrations/tools/toolbox.ipynb
Due: root

docs: add toolbox to the database tools table
  docs/scripts/tool_feat_table.py
Due: root

docs: add Google partner guide for MCP Toolbox
  docs/docs/integrations/providers/google.mdx
Due: root

docs: add toolbox langchain package to the packages.yml
  libs/packages.yml
Due: none

feat(standard-tests): add a property to set the name of the parameter for the number of results to return
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Due: standard-tests

docs: update v0.1.1 document on chatModel.
  docs/docs/integrations/chat/naver.ipynb
Due: root

feat(core): zero-out token costs for cache hits (#32437)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

release(core): 0.3.73 (#32446)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

exclude pre-releases from previous version testing
  .github/workflows/_release.yml
Due: none

fix(infra): exclude pre-releases from previous version testing (#32447)
  .github/workflows/_release.yml
Due: none

deprecation warning, docstring
  libs/core/langchain_core/v1/messages.py
Due: core

more
  libs/core/langchain_core/v1/messages.py
Due: core

Update libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Due: standard-tests

Update retrievers.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Due: standard-tests

ss
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

feat(standard-tests): add a property to set the name of the parameter for the number of results to return (#32443)
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Due: standard-tests

docs: update Docker image name for jaguardb setup (#32438)
  docs/docs/integrations/vectorstores/jaguar.ipynb
Due: root

Update docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/chat/naver.ipynb
Due: root

docs(docs): update v0.1.1 chatModel document on langchain-naver. (#32445)
  docs/docs/integrations/chat/naver.ipynb
Due: root

ss pt. 2
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

feat: add TextAccessor, deprecate `.text()` as method (#32441)
  libs/core/langchain_core/v1/messages.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/test_messages.py
Due: core

manual lock gen
  libs/core/uv.lock
Due: core

lint
  libs/core/langchain_core/v1/messages.py
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
Due: core

lint
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
Due: core

chore(core): bump mypy version to 1.17 (#32390)
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/v1/messages.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/uv.lock
Due: core

more changes
  .github/workflows/check_diffs.yml
  libs/langchain_v1/langchain/agents/base.py
  libs/langchain_v1/langchain/agents/factory/__init__.py
  libs/langchain_v1/langchain/agents/factory/base.py
  libs/langchain_v1/langchain/agents/notes.md
  libs/langchain_v1/langchain/agents/tool_node.py
Due: none

fix: docs and formatting
  docs/api_reference/create_api_rst.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/v1/__init__.py
  libs/core/langchain_core/v1/chat_models.py
Due: core, root

x
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/utils/function_calling.py
  libs/partners/openai/langchain_openai/__init__.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/tools/__init__.py
  libs/partners/openai/langchain_openai/tools/custom_tool.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/test_imports.py
  libs/partners/openai/tests/unit_tests/test_tools.py
  libs/partners/openai/uv.lock
Due: core, openai

x
  libs/core/langchain_core/utils/function_calling.py
Due: core

x
  libs/partners/openai/langchain_openai/tools/custom_tool.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/test_tools.py
Due: openai

.
  docs/docs/how_to/sql_csv.ipynb
Due: root

get output text
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
