Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

docs: replace initialize_agent with create_react_agent in graphql.ipynb
  docs/docs/integrations/tools/graphql.ipynb
Due: root

Update libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/langchain.py
Due: core

core: Fix some private member accesses (#30912)
  libs/core/langchain_core/runnables/graph_ascii.py
Due: core

openai: ignore function_calls if tool_calls are present (#31198)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

docs: replace initialize_agent with create_react_agent in openweathermap.ipynb
  docs/docs/integrations/providers/openweathermap.mdx
Due: root

docs: replace initialize_agent with create_react_agent in searchapi.mdx
  docs/docs/integrations/providers/searchapi.mdx
Due: root

docs: replace initialize_agent with create_react_agent in graphql.ipynb - replace deprecated load_tools (#31201)
  docs/docs/integrations/tools/graphql.ipynb
Due: root

docs: replace initialize_agent with create_react_agent in openweathermap - replace deprecated load_tools (#31202)
  docs/docs/integrations/providers/openweathermap.mdx
Due: root

update examples
  docs/docs/integrations/callbacks/llmonitor.md
Due: root

fix error
  docs/src/theme/EmbeddingTabs.js
Due: root

docs: replace initialize_agent with create_react_agent in llmonitor.md (#31200)
  docs/docs/integrations/callbacks/llmonitor.md
Due: root

Docs: update Cloudflare examples for env references
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/text_embedding/cloudflare_workersai.ipynb
  docs/docs/integrations/vectorstores/cloudflare_vectorize.ipynb
Due: root

Pass format & lint
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/text_embedding/cloudflare_workersai.ipynb
  docs/docs/integrations/vectorstores/cloudflare_vectorize.ipynb
Due: root

Add the change on the async method and enhance unit tests.
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Due: core

Simplify tests and format
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Due: core

Cleanup Pydantic models and handle deprecation warnings
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/pydantic_v1/dataclasses.py
  libs/core/langchain_core/pydantic_v1/main.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

Update tools.mdx (#124)
  docs/docs/concepts/tools.mdx
Due: root

core: Fix some private member accesses
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
Due: core

feat: desearch
  libs/partners/desearch/.gitignore
  libs/partners/desearch/LICENSE
  libs/partners/desearch/Makefile
  libs/partners/desearch/README.md
  libs/partners/desearch/langchain_desearch/__init__.py
  libs/partners/desearch/langchain_desearch/agent.py
  libs/partners/desearch/langchain_desearch/search_tools.py
  libs/partners/desearch/langchain_desearch/tools.py
  libs/partners/desearch/pyproject.toml
  libs/partners/desearch/tests/__init__.py
  libs/partners/desearch/tests/integration_tests/test_tools.py
  libs/partners/desearch/tests/unit_tests/test_imports.py
Due: none

use right async method
  libs/core/langchain_core/indexing/api.py
Due: core

And add missing await
  libs/core/langchain_core/indexing/api.py
Due: core

ollama: Add separate kwargs parameter for async client
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

Update tools.mdx (#124) (#31207)
  docs/docs/concepts/tools.mdx
Due: root

docs: replace deprecated load_tools in dataforseo.mdx
  docs/docs/integrations/providers/dataforseo.mdx
Due: root

docs: update how_to docs to reflect new loader interfaces
  docs/docs/how_to/document_loader_pdf.ipynb
Due: root

docs: replace deprecated load_tools in golden.mdx
  docs/docs/integrations/providers/golden.mdx
Due: root

docs: replace deprecated load_tools in google_serper.mdx
  docs/docs/integrations/providers/google_serper.mdx
Due: root

docs: replace deprecated load_tools in google.mdx
  docs/docs/integrations/providers/google.mdx
Due: root

docs: replace deprecated load_tools in serpapi.mdx
  docs/docs/integrations/providers/serpapi.mdx
Due: root

docs: replace deprecated load_tools in stackexchange.mdx
  docs/docs/integrations/providers/stackexchange.mdx
Due: root

docs: replace deprecated load_tools in wolfram_alpha.mdx
  docs/docs/integrations/providers/wolfram_alpha.mdx
Due: root

docs: replace deprecated load_tools in searx.mdx
  docs/docs/integrations/providers/searx.mdx
Due: root

docs: fix syntax for make lint
  docs/docs/how_to/document_loader_pdf.ipynb
Due: root

docs: fix syntax for make lint
  docs/docs/how_to/document_loader_custom.ipynb
  docs/docs/how_to/document_loader_pdf.ipynb
Due: root

docs: replace deprecated load_tools in google_finance.ipynb
  docs/docs/integrations/tools/google_finance.ipynb
Due: root

remove low level init for serializable
  libs/core/langchain_core/load/serializable.py
Due: core

do generation aggregation at the end
  libs/core/langchain_core/language_models/chat_models.py
Due: core

remove init
  libs/core/langchain_core/load/serializable.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
