Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

feat(standard-tests): ensure only one chunk sets `model_name` in `usage_metadata` (#34224)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/uv.lock
Due: standard-tests

feat(standard-tests): invocation model override (#34170)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests

fix(openai): add missing `tools` param to `ChatOpenAI` `with_structured_output` (#34075)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

x
  SECURITY.md
Due: none

Apply suggestions from code review
  SECURITY.md
Due: none

chore(infra): update security.md file (#34258)
  SECURITY.md
Due: none

fix(chat_models): Add 'from_model_id' to ChatHuggingFace and update init_chat_model for flexibility
  libs/langchain/langchain_classic/chat_models/base.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: langchain, huggingface

fix(core): strip injected args before validation for strict schemas
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat#t00000001: 添加 Agent 测试用例总览文档
  libs/langchain_v1/tests/unit_tests/agents/readme.md
Due: none

feat#t00000001: 添加 wrap_tool_call 高级模式深度解析文档
  libs/langchain_v1/doc/v1.0/LangChain Agent wrap_tool_call 高级模式深度解析.md
Due: none

docs: add AI Badgr as OpenAI-compatible backend (base_url override + examples)
  README.md
Due: none

feat#t00000001: 重命名记忆处理文档为短期记忆并优化说明
  libs/langchain_v1/doc/v1.0/LangChain Agent 短期记忆(checkpointer thread_id分割)处理机制完全解析.md
Due: none

feat#t00000001: 添加长期记忆 Store 处理机制完全解析文档
  libs/langchain_v1/doc/v1.0/LangChain v1 Agent 长期记忆 (Store) 处理机制完全解析.md
Due: none

chore: support kwargs
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

feat#t00000001: 添加 LangChain Stores 实现分析文档
  libs/langchain_v1/doc/LangChain Stores 实现分析与 Agent 中的使用.md
Due: none

fix
  libs/core/langchain_core/tools/retriever.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat#t00000001: 重构记忆文档命名并添加长期记忆解析
  libs/langchain_v1/doc/v1.0/LangChain Agent 记忆短期(checkpointer thread_id分割)处理机制完全解析.md
  libs/langchain_v1/doc/v1.0/LangChain Agent 记忆长期解析.md
Due: none

lint
  libs/core/tests/unit_tests/test_tools.py
Due: core

Update libs/core/langchain_core/tools/retriever.py
  libs/core/langchain_core/tools/retriever.py
Due: core

structured
  libs/core/langchain_core/tools/retriever.py
Due: core

lint
  libs/core/langchain_core/tools/retriever.py
Due: core

fix: remove partial usage for retriever func + afunc (#34265)
  libs/core/langchain_core/tools/retriever.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): undo jinja2 restrictions (#34072)
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

bump
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

release: langchain-core 1.1.3 (#34266)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

fix(mistralai): handle null content in tool call responses
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

style: fix ruff format for HuggingFaceTextGenInference call
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix(huggingface): Add type annotation to fix mypy errors in from_model_id
  langchain_fix_28226.patch
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

wip
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

chore(langchain): fix some no-return-any mypy violations
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

chore(standard-tests): enable mypy disallow_any_generics rule
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/embeddings.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/unit_tests/test_basic_retriever.py
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_decorated_tool.py
  libs/standard-tests/tests/unit_tests/test_embeddings.py
Due: standard-tests

chore(core): fix RunnablePick method return types
  libs/core/langchain_core/_api/internal.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/message.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/env.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/json.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/tests/unit_tests/pydantic_utils.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix
  libs/core/langchain_core/prompts/string.py
Due: core

cast remaining return types
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/runnables/graph_png.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/json_schema.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): fix Pydantic v1 support in tools/runnable
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/langchain/langchain_classic/chains/hyde/base.py
Due: core, langchain

fix: ensure end-mode tool limiter cancels all proposed calls
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

support invoke
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/tests/unit_tests/messages/block_translators/test_anthropic.py
  libs/partners/anthropic/langchain_anthropic/_compat.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: core, anthropic

docs(langchain): Add prominent warning about state_schema requirement for custom fields
  libs/langchain_v1/langchain/agents/factory.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
