Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

no need to coerce list, it's a module unfortunately
  libs/core/langchain_core/output_parsers/__init__.py
Due: core

refactor (compass.ipynb): minor edits
  docs/docs/integrations/tools/compass.ipynb
Due: root

core: Remove some noqa (#30855)
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
Due: core

core[fix]: Fix `__dir__` in `__init__.py` for `output_parsers` module (#30856)
  libs/core/langchain_core/output_parsers/__init__.py
Due: core

observe same env vars as outline retriever
  libs/community/langchain_community/document_loaders/outline.py
Due: community

add jupyter notebook doc
  docs/docs/integrations/document_loaders/outline.ipynb
Due: root

fix merge conflict
  docs/docs/integrations/document_loaders/outline.ipynb
Due: root

bump core and increment version
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

bump core and increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

anthropic: release 0.3.11 (#30857)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

openai: release 0.3.13 (#30858)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

bump core and increment version
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
Due: none

perplexity: release 0.1.1 (#30859)
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
Due: none

chroma bump
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Due: chroma

chroma: release 0.2.3 (#30860)
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Due: chroma

Add inferring perplexity provider for sonar model prefix
  libs/langchain/langchain/chat_models/base.py
Due: langchain

fix lint errors
  libs/community/langchain_community/document_loaders/outline.py
Due: community

fix jupyter notebook format
  docs/docs/integrations/document_loaders/outline.ipynb
Due: root

fix generation info
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

ollama[patch]: fix generation info (#30863)
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

community: support usage_metadata for litellm streaming calls
  libs/community/langchain_community/chat_models/litellm.py
  libs/community/tests/integration_tests/chat_models/test_litellm_standard.py
Due: community

support standard image format
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

format
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

ollama[patch]: support standard image format (#30864)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

langchain: infer Perplexity provider for sonar model prefix (#30861)
  libs/langchain/langchain/chat_models/base.py
Due: langchain

bump core and increment version
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

enforce newlines
  docs/api_reference/conf.py
Due: root

newline
  docs/api_reference/conf.py
Due: root

Apply black formatting to test_vectorstores.py and vectorstores.py
  langchain-opensearch/langchain_opensearch/vectorstores.py
  langchain-opensearch/pyproject.toml
  langchain-opensearch/tests/test_vectorstores.py
Due: none

Fix test_add_texts_mock to test add_texts correctly
  langchain-opensearch/tests/test_vectorstores.py
Due: none

Add docker-in-docker feature to devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Fix JSON syntax in devcontainer.json for docker-in-docker
  .devcontainer/devcontainer.json
Due: none

Add usage, tests, OpenSearch setup, and changes to README
  langchain-opensearch/README.md
Due: none

Update devcontainer.json with docker-in-docker feature
  .devcontainer/devcontainer.json
Due: none

Propose PDFRouterParser and Loader
  libs/community/langchain_community/document_loaders/parsers/__init__.py
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_public_api.py
Due: community

Fix async indexing issue
  libs/core/langchain_core/indexing/api.py
Due: core

Fix formatting
  libs/core/langchain_core/indexing/api.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
