Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix(anthropic): preserve root `allOf` tool schemas
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

test(langchain): regression test for shell tool + checkpointer msgpack error (#39267)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
Due: none

fix(anthropic): handle tool schemas with unsupported top-level composition (#39273)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Due: anthropic

release(anthropic): 1.5.4
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

release(anthropic): 1.5.4 (#39277)
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(langchain): stop `SummarizationMiddleware` pulling closed turns back into retention
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(langchain): drop internal calls from raw log, scope to own namespace
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

nits
  libs/langchain_v1/langchain/agents/middleware/pii.py
Due: none

fix(langchain): sanitize evaluation Git remote tags (#39254)
  libs/langchain/langchain_classic/smith/evaluation/runner_utils.py
  libs/langchain/tests/unit_tests/smith/evaluation/test_runner_utils.py
Due: langchain

info
  libs/langchain_v1/langchain/agents/middleware/internal_call_transformer.py
Due: none

feat(langchain): filter internal middleware model calls from `messages` projection (#39252)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/internal_call_transformer.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

fix(langchain): preserve final repeated schema ordering
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_state_schema.py
Due: none

fix(evaluation): use last-match for verdict extraction in scoring, comparison, and QA
  libs/langchain/langchain_classic/evaluation/comparison/eval_chain.py
  libs/langchain/langchain_classic/evaluation/qa/eval_chain.py
  libs/langchain/langchain_classic/evaluation/scoring/eval_chain.py
Due: langchain

fix(core): handle falsy LLM caches
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
Due: core

fix(core): handle falsy chat model caches
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

fix(anthropic): clearer error when no credentials are configured
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(anthropic): make gateway guidance in auth error conditional
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

fix(anthropic): clearer error when no credentials are configured (#39285)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

chore(langchain): export PIIMatch
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

fix(langchain,anthropic): fix batch of near-trivial bugs
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_wrap_tool_call.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

fix(langchain): persist context-editing clears via the actual model-call edit
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

fix(langchain): make `LLMToolEmulator.model` required and simplify condition
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/uv.lock
Due: none

fix(langchain): don't crash persisting length-changing context edits
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

chore(langchain): revert unrelated uv.lock churn
  libs/langchain_v1/uv.lock
Due: none

fix(langchain): re-export `PIIMatch` from `langchain.agents.middleware`
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

feat(langchain): add `state_schema` param to `wrap_tool_call`
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_wrap_tool_call.py
Due: none

fix(anthropic): fix `KeyError` on every rename in Claude file-tool middleware
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

fix(langchain): fix mypy comparison-overlap on wrap_tool_call state_schema
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

fix: utils.custom.path-traversal-open security vulnerability
  .github/scripts/check_diff.py
Due: none

fix: gitlab.bandit.B313.B314.B315.B316.B318.B319.B320.B405.B406.B407.B408.B409.B410 security vulnerability
  libs/core/langchain_core/messages/utils.py
Due: core

fix(openai): reuse cached default httpx client in AzureChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
Due: openai

chore(model-profiles): refresh model profile data
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
  libs/partners/huggingface/langchain_huggingface/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: anthropic, huggingface

fix(openai): handle `ContextWindowExceededError`
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Preserve OpenRouter provider in response metadata
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

fix(langchain): restrict narrowed `ToolStrategy` in bound tools (#39259)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

add ewe section
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

feat(langchain): surface `SummarizationFailedError` when summarization keeps failing
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(core): correct operator validation error wording
  libs/core/langchain_core/structured_query.py
Due: core

fix(langchain): re-export `PIIMatch` from `middleware` package (#39291)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

nits
  libs/langchain_v1/langchain/agents/middleware/internal_call_transformer.py
Due: none
