Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

bump deps and increment version
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Due: none

mistral: release 0.2.9 (#30402)
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

xai: release 0.2.2 (#30403)
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Due: none

updated chat notebook
  docs/docs/integrations/chat/vectara.ipynb
Due: root

Fix typo in chat_history.ipynb
  docs/docs/versions/migrating_memory/chat_history.ipynb
Due: root

fix typo in chat_history.ipynb
  docs/docs/versions/migrating_memory/chat_history.ipynb
Due: root

fix several typos in split_html.ipynb
  docs/docs/how_to/split_html.ipynb
Due: root

Update chat_token_usage_tracking.ipynb
  docs/docs/how_to/chat_token_usage_tracking.ipynb
Due: root

support computer_call_output
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

format
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

add test to ensure arbitrary roles accepted
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

resolve linting and formatting issues
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

allow passing arbitrary roles in ChatMessages to Ollama; include unit test
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/uv.lock
Due: ollama

Update vector store inits in VectorStoreTab
  docs/src/theme/VectorStoreTabs.js
Due: root

update provider doc and add reranker documentation
  docs/docs/integrations/providers/contextual.ipynb
  docs/docs/integrations/retrievers/contextual.ipynb
Due: root

lints, headers, rewording
  docs/docs/integrations/providers/contextual.ipynb
  docs/docs/integrations/retrievers/contextual.ipynb
Due: root

add strict param to ChatOllama method to resolve common chatmodel error and enable future compatibility for strict mode
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

add example of ChatMessage and custom role to langchain ollama API reference docs
  docs/docs/integrations/llms/ollama.ipynb
Due: root

linting/formatting docs
  docs/docs/integrations/llms/ollama.ipynb
Due: root

lint
  libs/core/langchain_core/messages/utils.py
Due: core

fix unrelated update in langchain-tests
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

update
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

nit
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

ollama: add reasoning model support (e.g. deepseek) (#29689)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

docs: Fix typo in chat_history.ipynb (#30405)
  docs/docs/versions/migrating_memory/chat_history.ipynb
Due: root

docs: fix typo in chat_history.ipynb (#30406)
  docs/docs/versions/migrating_memory/chat_history.ipynb
Due: root

docs: fix several typos in docs/docs/how_to/split_html.ipynb (#30407)
  docs/docs/how_to/split_html.ipynb
Due: root

bump core and increment version
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

ollama: release 0.3.0 (#30420)
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

core[patch]: more tests for trim_messages
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

core[patch]: more tests for trim_messages (#30421)
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

unrelated: make reasoning test lighter-weight
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

partner: ChatDeepSeek on openrouter not returning reasoning (#30240)
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

bump deps and increment version
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Due: none

deepseek: release 0.1.3 (#30422)
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Due: none

delete
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

deepseek: temporarily bypass tests (#30423)
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

Revert "deepseek: temporarily bypass tests (#30423)"
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

Revert "deepseek: temporarily bypass tests" (#30424)
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
