Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

chore(core): remove stale blockbuster allowlist for deleted context module
  libs/core/tests/unit_tests/conftest.py
Due: core

chore(core): remove stale blockbuster allowlist for deleted context module (#36168)
  libs/core/tests/unit_tests/conftest.py
Due: core

cr
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/model_profile.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/test_model_profile.py
  libs/model-profiles/langchain_model_profiles/cli.py
  libs/model-profiles/tests/unit_tests/test_cli.py
Due: core

.
  libs/model-profiles/tests/unit_tests/test_cli.py
Due: none

refactor(partners): adopt `_resolve_model_profile` hook (#36131)
  .github/workflows/pr_lint.yml
  libs/model-profiles/tests/unit_tests/test_cli.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/uv.lock
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/uv.lock
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/uv.lock
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/uv.lock
Due: anthropic, fireworks, groq, huggingface, mistralai, openai

cr
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/model_profile.py
  libs/model-profiles/langchain_model_profiles/cli.py
Due: core

fix(core,model-profiles): add missing `ModelProfile` fields, warn on schema drift (#36129)
  .github/workflows/pr_lint.yml
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/model_profile.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/test_model_profile.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/model-profiles/langchain_model_profiles/cli.py
  libs/model-profiles/tests/unit_tests/test_cli.py
  libs/model-profiles/uv.lock
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/uv.lock
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/uv.lock
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/uv.lock
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/uv.lock
Due: core, anthropic, fireworks, groq, huggingface, mistralai, openai

partners: add Plasmate integration - SOM-based web browsing with 10x fewer tokens
  libs/partners/plasmate/LICENSE
  libs/partners/plasmate/Makefile
  libs/partners/plasmate/README.md
  libs/partners/plasmate/langchain_plasmate/__init__.py
  libs/partners/plasmate/langchain_plasmate/_utilities.py
  libs/partners/plasmate/langchain_plasmate/document_loaders.py
  libs/partners/plasmate/langchain_plasmate/py.typed
  libs/partners/plasmate/langchain_plasmate/tools.py
  libs/partners/plasmate/pyproject.toml
  libs/partners/plasmate/tests/__init__.py
  libs/partners/plasmate/tests/integration_tests/__init__.py
  libs/partners/plasmate/tests/unit_tests/__init__.py
  libs/partners/plasmate/tests/unit_tests/test_tools.py
Due: none

docs: add EU AI Act compliance guide
  docs/docs/guides/eu-ai-act-compliance.md
Due: none

fix(vectorstores): Fix 'multiple values for keyword argument ids' error
  libs/core/langchain_core/vectorstores/base.py
Due: core

fix: line too long lint in test_messages.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

style: ruff format test_ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(core): prevent premature tool_call parsing on empty SSE args (#35514)
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

fix(openai): prevent crash when disable_streaming="tool_calling" in streaming mode
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): stringify empty list from tool return instead of passing as content blocks
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

add langchain
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

bump core and increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

update cassette
  libs/partners/openai/tests/cassettes/test_tool_search_streaming.yaml.gz
Due: openai

release(openai): 1.1.12 (#36178)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/cassettes/test_tool_search_streaming.yaml.gz
  libs/partners/openai/uv.lock
Due: openai

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

release(core): 1.2.21 (#36179)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

bump min core version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

fix(openai): bump min core version (#36180)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

fix(core): add float support to _dict_int_op in usage.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/utils/test_usage.py
Due: core

fix(core): preserve parent_run_id in fallback invoke paths
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

chore(partners): bump langchain-core min to 1.2.21
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/pyproject.toml
  libs/partners/openrouter/pyproject.toml
  libs/partners/perplexity/pyproject.toml
  libs/partners/qdrant/pyproject.toml
  libs/partners/xai/pyproject.toml
  libs/text-splitters/uv.lock
Due: text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, qdrant

chore(partners): bump `langchain-core` min to `1.2.21` (#36183)
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/pyproject.toml
  libs/partners/openrouter/pyproject.toml
  libs/partners/perplexity/pyproject.toml
  libs/partners/qdrant/pyproject.toml
  libs/partners/xai/pyproject.toml
  libs/text-splitters/uv.lock
Due: text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, qdrant

fix(openai): filter None values from BaseOpenAI._default_params
  libs/partners/openai/langchain_openai/llms/base.py
Due: openai

fix(text-splitters): preserve content from unclosed markdown code blocks
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters

fix(openai): handle unrecognized server tool names in _consolidate_calls
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): handle NotRequired/Required in TypedDict schema conversion
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(core): handle "self" key in tool input for BaseTool/_run/_arun
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): pass child_config instead of config in RunnableWithFallbacks.invoke/ainvoke
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(ci): use repo permissions instead of org membership for maintainer override
  .github/workflows/require_issue_link.yml
Due: none

fix: handle NotRequired InjectedState fields without KeyError (#35585)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_create_agent_tool_validation.py
Due: none

chore: use repo permissions instead of org membership for maintainer override (#36191)
  .github/workflows/require_issue_link.yml
Due: none

fix(anthropic): redact mcp_servers authorization_token from invocation params
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
