Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

fixed line spacing above comment edge cases
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

added type safety to empty list
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

rephrased function name for clarity
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

chore(langchain): fix types in test_tool_call_limit and test_model_retry
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

updated fake.py
  libs/core/langchain_core/embeddings/embeddings.py
  libs/core/langchain_core/embeddings/fake.py
Due: core

updated MockEmbeddings
  libs/langchain/tests/unit_tests/embeddings/test_caching.py
  libs/partners/qdrant/tests/unit_tests/test_standard.py
Due: langchain, qdrant

converted to kwargs
  libs/core/langchain_core/embeddings/embeddings.py
Due: core

removed unnecessary changes
  libs/core/langchain_core/embeddings/fake.py
  libs/langchain/tests/unit_tests/embeddings/test_caching.py
  libs/partners/qdrant/tests/unit_tests/test_standard.py
Due: core, langchain, qdrant

changed to kwargs
  libs/core/langchain_core/embeddings/embeddings.py
  libs/core/langchain_core/embeddings/fake.py
  libs/partners/ollama/langchain_ollama/embeddings.py
Due: core, ollama

refactor
  libs/partners/ollama/langchain_ollama/embeddings.py
Due: ollama

linters
  libs/partners/ollama/langchain_ollama/embeddings.py
Due: ollama

fixes
  libs/langchain/langchain_classic/chains/hyde/base.py
  libs/langchain/langchain_classic/embeddings/cache.py
  libs/langchain_v1/tests/integration_tests/cache/fake_embeddings.py
Due: langchain

check matching model provider
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

add test
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

(temporary) check extended test engages
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

ci: add main CI workflow entrypoint
  .github/workflows/.github/workflows/ci.yml
Due: none

Revert "(temporary) check extended test engages"
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

test(text-splitters): add edge case tests for CharacterTextSplitter (#34628)
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

chore(langchain): fix types in test_system_message
  libs/langchain_v1/tests/unit_tests/agents/test_system_message.py
Due: none

clean up
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

x
  libs/partners/groq/tests/unit_tests/test_vision.py
Due: groq

chore(groq): document vision support (#34620)
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

feat(core): support custom message separator in get_buffer_string() (#34569)
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

chore(langchain): fix types in test_wrap_model_call (#34573)
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_wrap_model_call.py
Due: none

chore(langchain): fix types in test_overrides
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_overrides.py
Due: none

move test
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Due: openai

block parallel tool calls
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_todo.py
Due: none

clean up test
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix implementation
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

cr
  libs/langchain_v1/langchain/agents/middleware/todo.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_todo.py
Due: none

handled empty example edge case in length based selector
  libs/core/tests/unit_tests/example_selectors/test_length_based_example_selector.py
Due: core

add edge case test for empty examples in length selector
  libs/core/tests/unit_tests/example_selectors/test_length_based_example_selector.py
Due: core

fix: handle empty assistant content in Responses API (#34272) (#34296)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

bump core and increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

format
  libs/core/tests/unit_tests/example_selectors/test_length_based_example_selector.py
Due: core

fix(openai): raise proper exception `OpenAIRefusalError` on structured output refusal (#34619)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

release(openai): 1.1.7 (#34640)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

test: add edge case for empty examples in LengthBasedExampleSelector
  libs/core/tests/unit_tests/example_selectors/test_length_based_example_selector.py
Due: core

revert
  libs/core/langchain_core/utils/function_calling.py
Due: core

change order of schema updates
  libs/core/langchain_core/utils/function_calling.py
Due: core
