Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

chore(huggingface): bump langgraph floor in lockfile
  libs/partners/huggingface/uv.lock
Due: huggingface

docs: replace initialize_agent with LangGraph patterns (#29277)
  docs/docs/integrations/example_dummy.md
Due: none

chore(model-profiles): refresh model profile data
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: none

fix(model-profiles): correct MiniMax model metadata
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/fireworks/langchain_fireworks/data/profile_augmentations.toml
  libs/partners/huggingface/langchain_huggingface/data/_profiles.py
  libs/partners/huggingface/langchain_huggingface/data/profile_augmentations.toml
Due: fireworks, huggingface

ruff
  libs/core/tests/unit_tests/callbacks/test_usage_callback.py
Due: core

resolving linting and formating errors
  libs/langchain_v1/extended_testing_deps.txt
  libs/langchain_v1/langchain/agents/middleware/_utils.py
  libs/langchain_v1/langchain/agents/middleware/skill.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/protocol.py
  libs/langchain_v1/langchain/agents/utils.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/protocol_test.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_skills.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_utils.py
Due: langchain-v1-version

add compat shim
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/embeddings/base.py
Due: openai

widen openai bound
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

add httpx as an explicit dep
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

chore(core): add httpx as an explicit dep (#39612)
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

bump vcrpy floor to 8.2 to pick up httpx2 interception
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

add unit tests
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

nit
  libs/partners/openai/pyproject.toml
Due: openai

update test
  libs/partners/openai/tests/unit_tests/chat_models/test_client_utils.py
Due: openai

test both sdk versions in integration tests
  libs/partners/openai/Makefile
Due: openai

subset integration tests
  libs/partners/anthropic/Makefile
Due: anthropic

uv lock --upgrade-package openai
  libs/partners/openai/uv.lock
Due: openai

update workflows
  .github/workflows/_release.yml
  .github/workflows/integration_tests.yml
Due: none

fix compat check
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

Revert "subset integration tests"
  libs/partners/anthropic/Makefile
Due: anthropic

delete secrets for providers supporting the gateway
  .github/workflows/_release.yml
  .github/workflows/integration_tests.yml
Due: none

feat: add langchain-ipfs partner package (IPFS pin tool)
  libs/partners/langchain-ipfs/README.md
  libs/partners/langchain-ipfs/langchain_ipfs/__init__.py
  libs/partners/langchain-ipfs/langchain_ipfs/_utilities.py
  libs/partners/langchain-ipfs/langchain_ipfs/_version.py
  libs/partners/langchain-ipfs/langchain_ipfs/tools.py
  libs/partners/langchain-ipfs/pyproject.toml
  libs/partners/langchain-ipfs/scripts/check_imports.py
  libs/partners/langchain-ipfs/scripts/check_version.py
  libs/partners/langchain-ipfs/tests/integration_tests/test_ipfs.py
  libs/partners/langchain-ipfs/tests/unit_tests/test_imports.py
Due: none

fix(core): handle falsy LLM and chat model caches (#39283)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
Due: core

cr
  libs/langchain_v1/langchain/agents/factory.py
Due: none

chore(partners): bump langgraph floor in openai and huggingface lockfiles (#39617)
  libs/partners/huggingface/uv.lock
  libs/partners/openai/uv.lock
Due: huggingface, openai

fix(openai): resolve SDK `httpx` library from `DefaultHttpxClient` MRO
  libs/partners/openai/Makefile
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

update tests
  libs/partners/openrouter/tests/integration_tests/test_chat_models.py
Due: none

fix(core): clear usage metadata callback on exceptions in context manager (#39616)
  libs/core/langchain_core/callbacks/usage.py
  libs/core/tests/unit_tests/callbacks/test_usage_callback.py
Due: core

fix(openrouter): preserve cost metadata in usage chunks (#39338)
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/integration_tests/test_chat_models.py
Due: none

fix(langchain): preserve final repeated schema ordering (#39284)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_state_schema.py
Due: none

fix(core): handle tool descriptions for infer_schema=False (#39573)
  libs/core/langchain_core/tools/convert.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

Revert "fix(openai): resolve SDK `httpx` library from `DefaultHttpxClient` MRO"
  libs/partners/openai/Makefile
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

fix(fireworks): avoid repeated `service_tier` [closes #39619]
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
Due: fireworks

fix(fireworks): avoid repeated `service_tier` [closes #39619] (#39620)
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
Due: fireworks

fix(core): handle v1 base model validation in async path (#39576)
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix parsing
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

fix(core): issues in merging chunks (#39535)
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

Apply suggestions from code review
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/tests/unit_tests/test_compat.py
Due: openai

fix(anthropic): normalize tool_search_tool_result blocks
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(anthropic): normalize `tool_search_tool_result` blocks (#39621)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic
