Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

Add return type because it's not auto inferred
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Fix for lying types
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

chore(core): fix some types related to ToolCallChunk
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/langchain_core/messages/block_translators/bedrock_converse.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

chore(langchain): check agents integration test with mypy
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/agents/middleware/test_shell_tool_integration.py
Due: none

chore(langchain): check agents integration tests with mypy (#34308)
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/agents/middleware/test_shell_tool_integration.py
Due: none

noqa
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

fix: little lint thing (#34310)
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

linting
  libs/langchain_v1/tests/integration_tests/agents/middleware/test_shell_tool_integration.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
  libs/langchain_v1/tests/unit_tests/agents/test_system_message.py
  libs/langchain_v1/uv.lock
Due: none

fix(ollama): pop unsupported 'strict' argument in `ChatOllama` (#34114)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

revert ollama change
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

nit
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

chore(ollama,groq): Filtering Parameters in bind_tools for Ollama and Groq (#34167)
  libs/partners/groq/langchain_groq/chat_models.py
Due: groq

fix(openai): handle missing 'text' key in responses API content blocks (#34198)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

remove patch file
  langchain_fix_28226.patch
Due: none

lint
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

update langchain v1
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

fix(huggingface): Helper logic for init_chat_model with HuggingFace backend (#34259)
  libs/langchain/langchain_classic/chat_models/base.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: langchain, huggingface

refactor(standard-tests): improve VCR config
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/partners/anthropic/tests/conftest.py
  libs/partners/groq/tests/conftest.py
  libs/partners/openai/tests/conftest.py
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, groq, openai

feat(openai): Use responses API if model is gpt-5.2-pro (#34306)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

refactor(standard-tests): improve VCR config (#33968)
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/partners/anthropic/tests/conftest.py
  libs/partners/groq/tests/conftest.py
  libs/partners/openai/tests/conftest.py
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, groq, openai

cr
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

feat(openai): support OpenRouter reasoning_details in AIMessage
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

delete tools
  libs/partners/anthropic/langchain_anthropic/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/__init__.py
  libs/partners/anthropic/langchain_anthropic/tools/bash.py
  libs/partners/anthropic/langchain_anthropic/tools/code_execution.py
  libs/partners/anthropic/langchain_anthropic/tools/computer.py
  libs/partners/anthropic/langchain_anthropic/tools/mcp.py
  libs/partners/anthropic/langchain_anthropic/tools/memory.py
  libs/partners/anthropic/langchain_anthropic/tools/text_editor.py
  libs/partners/anthropic/langchain_anthropic/tools/tool_search.py
  libs/partners/anthropic/langchain_anthropic/tools/web_fetch.py
  libs/partners/anthropic/langchain_anthropic/tools/web_search.py
  libs/partners/anthropic/tests/unit_tests/test_imports.py
  libs/partners/anthropic/tests/unit_tests/test_tools.py
Due: anthropic

feat(anthropic): accept `TypedDict` for built-in tool types (#34279)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

style(core): docs nit
  libs/core/langchain_core/utils/pydantic.py
Due: core

docs(anthropic): nit comments
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

style(core): docs nit (#34312)
  libs/core/langchain_core/utils/pydantic.py
Due: core

docs(anthropic): nit comments (#34314)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

patch skipped
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

move test
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: langchain, huggingface

fix(core): prevent inherited docstrings for class-based tools (#32066)
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
Due: core

add langchain_v1 to test deps
  libs/partners/huggingface/pyproject.toml
Due: huggingface

lock (huggingface)
  libs/partners/huggingface/uv.lock
Due: huggingface

move param handling to ChatHuggingface.from_model_id
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix(langchain-classic): fix init_chat_model for HuggingFace models (#33943)
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
  libs/partners/huggingface/uv.lock
Due: huggingface

revert changes to lock file
  libs/partners/chroma/uv.lock
Due: chroma

lock
  libs/partners/chroma/uv.lock
Due: chroma

feat(chroma): Add Search API (#34273)
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Due: chroma
