Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

[fix]: model name
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

[format]
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

remove erroneous setup
  docs/docs/tutorials/llm_chain.ipynb
Due: root

docs: fix grammar issues in facebook.ipynb and langsmith_dataset.ipynb (#31442)
  docs/docs/integrations/chat_loaders/facebook.ipynb
  docs/docs/integrations/chat_loaders/langsmith_dataset.ipynb
Due: root

docs: fix grammar errors in yi.ipynb and zhipuai.ipynb (#31441)
  docs/docs/integrations/chat/yi.ipynb
  docs/docs/integrations/chat/zhipuai.ipynb
Due: root

docs: fix grammar and vocabulary errors in vllm.ipynb and volcengine_maas.ipynb (#31439)
  docs/docs/integrations/chat/vllm.ipynb
  docs/docs/integrations/chat/volcengine_maas.ipynb
Due: root

docs: fix grammar issues in tencent_hunyuan.ipynb and together.ipynb (#31438)
  docs/docs/integrations/chat/tencent_hunyuan.ipynb
  docs/docs/integrations/chat/together.ipynb
Due: root

docs: fix vectara description at https://python.langchain.com/docs/integrations/tools/ All tools section (#31427)
  docs/docs/integrations/tools/vectara.ipynb
Due: root

docs: fix naver_search description at https://python.langchain.com/docs/integrations/tools/ All tools section (#31426)
  docs/docs/integrations/tools/naver_search.ipynb
Due: root

docs: remove unnecessary setup from tutorial (#31445)
  docs/docs/tutorials/llm_chain.ipynb
Due: root

fix use of fixture for pytest-recording
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard.test_stream_time.yaml.gz
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard_test_stream_time.yaml.gz
  libs/partners/anthropic/tests/conftest.py
  libs/partners/openai/tests/cassettes/TestOpenAIResponses.test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIResponses_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIStandard.test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIStandard_test_stream_time.yaml.gz
  libs/partners/openai/tests/conftest.py
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, openai

docs: replace initialize_agent with create_react_agent in fake_llm example
  cookbook/fake_llm.ipynb
Due: root

fix a typo
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Due: root

fix a typo (#31447)
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Due: root

fix typo in local_llms.ipynb
  docs/docs/how_to/local_llms.ipynb
Due: root

standard-tests: migrate to pytest-recording (#31425)
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard.test_stream_time.yaml.gz
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard_test_stream_time.yaml.gz
  libs/partners/anthropic/tests/conftest.py
  libs/partners/anthropic/uv.lock
  libs/partners/openai/tests/cassettes/TestOpenAIResponses.test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIResponses_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIStandard.test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIStandard_test_stream_time.yaml.gz
  libs/partners/openai/tests/conftest.py
  libs/partners/openai/uv.lock
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests, anthropic, openai

remove use of --vcr-record
  libs/partners/anthropic/Makefile
  libs/partners/openai/Makefile
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, openai

infra: remove use of --vcr-record=none (#31452)
  libs/partners/anthropic/Makefile
  libs/partners/openai/Makefile
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, openai

docs: fix typo in local_llms.ipynb (#31449)
  docs/docs/how_to/local_llms.ipynb
Due: root

image_generation -> image_generation_call
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

update multi-turn test example
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

skip multi-turn test
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

update tests and enable vcr
  libs/partners/openai/tests/cassettes/test_image_generation_multi_turn.yaml.gz
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

Not entirely sure of the downstream impacts, but want to ensure that this is fixed since Pydantic v1 is not used anyway??
  libs/core/langchain_core/tools/base.py
Due: core

Исправлены ссылки на быстрые старты
  README.md
Due: none

docs: fix grammar issues in rag_with_quantized_embeddings.ipynb and imessage.ipynb
  cookbook/rag_with_quantized_embeddings.ipynb
  docs/docs/integrations/chat_loaders/imessage.ipynb
Due: root

docs: fix grammar issues in slack.ipynb and telegram.ipynb
  docs/docs/integrations/chat_loaders/slack.ipynb
  docs/docs/integrations/chat_loaders/telegram.ipynb
Due: root

docs: fix grammar issues in airbyte_gong.ipynb and airbyte_hubspot.ipynb
  docs/docs/integrations/document_loaders/airbyte_gong.ipynb
  docs/docs/integrations/document_loaders/airbyte_hubspot.ipynb
Due: root

docs: fix grammar issues in airbyte_json.ipynb and airbyte_salesforce.ipynb
  docs/docs/integrations/document_loaders/airbyte_json.ipynb
  docs/docs/integrations/document_loaders/airbyte_salesforce.ipynb
Due: root

docs: fix grammar issues in airbyte_shopify.ipynb and airbyte_stripe.ipynb
  docs/docs/integrations/document_loaders/airbyte_shopify.ipynb
  docs/docs/integrations/document_loaders/airbyte_stripe.ipynb
Due: root

docs: fix grammar issues in wechat.ipynb and airbyte_cdk.ipynb
  docs/docs/integrations/chat_loaders/wechat.ipynb
  docs/docs/integrations/document_loaders/airbyte_cdk.ipynb
Due: root

openai[minor]: add image generation to responses api (#31424)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/cassettes/test_image_generation_multi_turn.yaml.gz
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/uv.lock
Due: openai

x
  libs/partners/openai/pyproject.toml
Due: openai

docs: enhance Salesforce Toolkit documentation (#31387)
  docs/docs/integrations/tools/salesforce.ipynb
Due: root

updating Microsoft provider docs.
  docs/docs/integrations/providers/microsoft.mdx
Due: root

docs: fix grammar issues in airbyte_shopify.ipynb and airbyte_stripe.ipynb (#31465)
  docs/docs/integrations/document_loaders/airbyte_shopify.ipynb
  docs/docs/integrations/document_loaders/airbyte_stripe.ipynb
Due: root

docs: fix grammar issues in airbyte_json.ipynb and airbyte_salesforce.ipynb (#31464)
  docs/docs/integrations/document_loaders/airbyte_json.ipynb
  docs/docs/integrations/document_loaders/airbyte_salesforce.ipynb
Due: root

docs: fix grammar issues in airbyte_gong.ipynb and airbyte_hubspot.ipynb (#31463)
  docs/docs/integrations/document_loaders/airbyte_gong.ipynb
  docs/docs/integrations/document_loaders/airbyte_hubspot.ipynb
Due: root

docs: fix grammar issues in wechat.ipynb and airbyte_cdk.ipynb (#31462)
  docs/docs/integrations/chat_loaders/wechat.ipynb
  docs/docs/integrations/document_loaders/airbyte_cdk.ipynb
Due: root
