Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

cr
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/streaming_stdout.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/tests/benchmarks/test_async_callbacks.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/langchain/langchain_classic/callbacks/streaming_aiter.py
  libs/langchain/langchain_classic/callbacks/streaming_aiter_final_only.py
  libs/langchain/langchain_classic/callbacks/streaming_stdout_final_only.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/_compat.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: core, langchain, anthropic, mistralai

fix
  libs/langchain/Makefile
  libs/langchain/pyproject.toml
Due: langchain

cr
  libs/langchain/Makefile
Due: langchain

consistency
  libs/langchain/Makefile
Due: langchain

fix casts
  libs/core/langchain_core/language_models/chat_models.py
Due: core

fix(core): support content block tokens in callbacks (#34739)
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/streaming_stdout.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/tests/benchmarks/test_async_callbacks.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/langchain/Makefile
  libs/langchain/langchain_classic/callbacks/streaming_aiter.py
  libs/langchain/langchain_classic/callbacks/streaming_aiter_final_only.py
  libs/langchain/langchain_classic/callbacks/streaming_stdout_final_only.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/_compat.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: core, langchain, anthropic, mistralai

Lazily import transformers
  libs/core/langchain_core/language_models/base.py
Due: core

release(core): 1.4.4
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
Due: core, core-version

release(core): 1.4.4 (#38031)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
Due: core, core-version

hotfix(core): bump lockfile
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/text-splitters/uv.lock
Due: core, langchain, text-splitters

hotfix(core): bump lockfile(s) (#38032)
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/langchain_v1/uv.lock
  libs/model-profiles/uv.lock
  libs/text-splitters/uv.lock
Due: core, langchain, text-splitters

release(langchain-classic): 1.0.8
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

fix test
  libs/langchain/tests/unit_tests/test_dependencies.py
Due: langchain

remove stale
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

release(langchain-classic): 1.0.8 (#38033)
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/uv.lock
Due: langchain

release(anthropic): 1.4.5
  libs/langchain_v1/uv.lock
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

release(anthropic): 1.4.5 (#38036)
  libs/langchain_v1/uv.lock
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

release(mistralai): 1.1.5
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

nit
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

release(mistralai): 1.1.5 (#38038)
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Due: mistralai

docs: fix README formatting inconsistencies
  README.md
Due: none

docs: fix formatting - added 1 missing blank line(s) before headers
  README.md
Due: none

test(anthropic): make tests robust to gateway base URL
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_standard.py
Due: anthropic

test(anthropic): make tests robust to gateway base URL (#38043)
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_standard.py
Due: anthropic

test(anthropic): make expected warnings explicit
  libs/partners/anthropic/tests/unit_tests/middleware/test_prompt_caching.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_llms.py
  libs/partners/anthropic/tests/unit_tests/test_standard.py
Due: anthropic

test(partners): account for warning behavior in partner tests
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Due: none

test(anthropic): make expected warnings explicit (#38044)
  libs/partners/anthropic/tests/unit_tests/middleware/test_prompt_caching.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_llms.py
  libs/partners/anthropic/tests/unit_tests/test_standard.py
Due: anthropic

fix(mistralai): declare `stop` as chat parameter
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

test(partners): account for warning behavior in partner tests (#38046)
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
  libs/partners/openrouter/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Due: none

cr
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

feat(mistralai): support `stop` sequences (#38047)
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Due: mistralai

fix cassettes
  libs/partners/openai/tests/cassettes/TestOpenAIStandard.test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/test_code_interpreter.yaml.gz
  libs/partners/openai/tests/cassettes/test_mcp_builtin.yaml.gz
  libs/partners/openai/tests/cassettes/test_reasoning.yaml.gz
  libs/partners/openai/tests/cassettes/test_reasoning_text_v1_v2_parity.yaml.gz
  libs/partners/openai/tests/cassettes/test_stream_reasoning_summary.yaml.gz
  libs/partners/openai/tests/cassettes/test_streaming_tool_call_v1_v2_parity.yaml.gz
Due: openai

ci(infra): check release dependency pins against PyPI
  .github/scripts/get_min_versions.py
  .github/workflows/check_release_deps.yml
Due: none

fix
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

ci(infra): check release dependency pins against PyPI (#38048)
  .github/scripts/get_min_versions.py
  .github/workflows/check_release_deps.yml
Due: none

cr
  libs/partners/openai/tests/cassettes/TestOpenAIStandard.test_stream_time.yaml.gz
Due: openai

fix(langchain-classic): align `arank_fusion` string normalization with `rank_fusion` in `EnsembleRetriever`
  libs/langchain/langchain_classic/retrievers/ensemble.py
  libs/langchain/tests/unit_tests/retrievers/test_ensemble.py
Due: langchain
