Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

refactoring
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models_v1.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models_v1.py
Due: standard-tests, ollama

rename
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

Added support for Groq json_mode
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/groq/uv.lock
Due: groq

continue to match v0
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

Cleanup
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
Due: groq

add note about `test_arbitrary_roles_accepted_in_chatmessages` for v1
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

docstring for `test__parse_arguments_from_tool_call`
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Due: ollama

add test
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

make ToolMessage a subclass of ToolOutputMixin
  libs/core/langchain_core/messages/v1.py
Due: core

support v1 ToolMessage in structured tool and tool decorator
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tools/retriever.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

support output_version in runnable.as_tool
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/tools/convert.py
Due: core

update comment
  libs/partners/ollama/langchain_ollama/chat_models_v1.py
Due: ollama

more tests
  libs/partners/ollama/langchain_ollama/chat_models_v1.py
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models_v1.py
Due: standard-tests, ollama

add some notes
  libs/standard-tests/langchain_tests/unit_tests/chat_models_v1.py
Due: standard-tests

expant unit tests v1
  libs/standard-tests/langchain_tests/unit_tests/chat_models_v1.py
Due: standard-tests

add ollama unit test props
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

final(?) unit tests
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/langchain_ollama/chat_models_v1.py
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

capture response context
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/tests/unit_tests/test_chat_models_v1.py
Due: ollama

fix: core imports tests
  libs/core/tests/unit_tests/messages/test_imports.py
Due: core

remove outdated test
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
Due: core

ConversationChain replaced as requested Output updated also showing the system working
  docs/docs/integrations/memory/recallio_memory.ipynb
Due: root

add type hints to messages
  libs/core/langchain_core/messages/v1.py
Due: core

docs(contributing): add Windows-specific setup instructions
  docs/docs/contributing/how_to/code/setup.mdx
Due: root

Corrected Lint
  docs/docs/integrations/memory/recallio_memory.ipynb
Due: root

changes for metadata
  libs/core/langchain_core/tools/base.py
  libs/langchain/langchain/agents/agent.py
Due: core, langchain

add anchorbrowser tools
  docs/docs/integrations/providers/anchorbrowser.ipynb
  docs/docs/integrations/tools/anchorbrowser.ipynb
  libs/packages.yml
Due: root

in providers anchorbrowser.ipynb -> anchorbrowser.mdx
  docs/docs/integrations/providers/anchorbrowser.ipynb
  docs/docs/integrations/providers/anchorbrowser.mdx
Due: root

Add Proxy Support for Mermaid PNG Rendering (`draw_mermaid_png`)
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
Due: core

changes for metadata for unique values through agent executor
  libs/langchain/langchain/agents/agent.py
Due: langchain

fixed link in providers file
  docs/docs/integrations/providers/anchorbrowser.mdx
Due: root

AnchorBrowser -> Anchorbrowser
  docs/docs/integrations/providers/anchorbrowser.mdx
  docs/docs/integrations/tools/anchorbrowser.ipynb
Due: root

fix: resolve lint issues in test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix: resolve ValueError with extract_images=True (issue #26225)
  docs/docs/integrations/document_loaders/examples/test_pymupdf_issue_26225.py
  docs/docs/integrations/document_loaders/pymupdf.ipynb
Due: root

docs: Clarify how to get LangSmith API key
  docs/docs/tutorials/chatbot.ipynb
Due: root

Add possibility to skip retriever tests that use the k arg
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/tests/unit_tests/test_basic_retriever.py
Due: standard-tests

feat(core): support returning v1 ToolMessage in tools (#32397)
  libs/core/langchain_core/messages/v1.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tools/retriever.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

core: move new types to .v1 namespace
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/streaming_stdout.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/v1/__init__.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/prompt_values.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/v1/__init__.py
  libs/core/langchain_core/v1/chat_models.py
  libs/core/langchain_core/v1/messages.py
  libs/core/tests/benchmarks/test_async_callbacks.py
  libs/core/tests/unit_tests/fake/callbacks.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_response_metadata.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_async_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
Due: core

update snapshots
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

update openai imports
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base_v1.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
  libs/partners/openai/tests/unit_tests/fake/callbacks.py
Due: openai

update langchain imports
  libs/langchain/langchain/agents/output_parsers/openai_functions.py
  libs/langchain/langchain/agents/output_parsers/openai_tools.py
  libs/langchain/langchain/agents/output_parsers/tools.py
  libs/langchain/langchain/callbacks/streaming_aiter.py
  libs/langchain/langchain/callbacks/streaming_aiter_final_only.py
  libs/langchain/langchain/smith/evaluation/progress.py
  libs/langchain/tests/unit_tests/callbacks/fake_callback_handler.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
Due: langchain

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
