Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

[chore]: Returning always 2D array
  libs/core/langchain_core/vectorstores/utils.py
Due: core

warning on nan or inf value
  libs/core/langchain_core/vectorstores/utils.py
Due: core

delete trailing space
  libs/core/langchain_core/vectorstores/utils.py
Due: core

fix trailing parentheses
  libs/core/langchain_core/vectorstores/utils.py
Due: core

add trailing commas
  libs/core/langchain_core/vectorstores/utils.py
Due: core

batching for huggingface pipelines
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

code formatting
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

Update retrievers.mdx
  docs/docs/concepts/retrievers.mdx
Due: root

wip
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_mcp_builtin.yaml.gz
  libs/partners/openai/tests/cassettes/test_web_search.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

update
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

x
  libs/langchain/langchain/chains/loading.py
Due: langchain

openai[patch]: accommodate change in image generation API (#31522)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
Due: openai

increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

Update libs/langchain/langchain/chains/loading.py
  libs/langchain/langchain/chains/loading.py
Due: langchain

openai: release 0.3.22 (#31542)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

docs: fix grammar in retrievers.mdx ("be built" → "build") (#31537)
  docs/docs/concepts/retrievers.mdx
Due: root

langchain[patch]: Remove proxy imports to langchain_experimental (#31541)
  libs/langchain/langchain/chains/loading.py
Due: langchain

attempt fix for generation
  libs/core/langchain_core/load/serializable.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

docs: update Exa integration examples and fix broken anchor
  docs/docs/integrations/providers/exa_search.ipynb
  docs/docs/integrations/tools/exa_search.ipynb
Due: root

Remove outputs from exa_search notebook
  docs/docs/integrations/tools/exa_search.ipynb
Due: root

docs: update Exa integration examples (#31547)
  docs/docs/integrations/providers/exa_search.ipynb
  docs/docs/integrations/tools/exa_search.ipynb
Due: root

docs: Update Multi_modal_RAG_google.ipynb to remove the unsupported Gemini models (#31526)
  cookbook/Multi_modal_RAG_google.ipynb
Due: root

Update graph_rag.mdx
  docs/docs/integrations/retrievers/graph_rag.mdx
Due: root

core: Use parametrized test in test_correct_get_tracer_project
  libs/core/tests/unit_tests/tracers/test_langchain.py
Due: core

Update MongoDB feature status
  docs/scripts/vectorstore_feat_table.py
Due: root

docs: Updated text embedding model for IBM provider
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Due: root

revert set text optimization
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/outputs/generation.py
Due: core

add test
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

linting argh
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

fix
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

core(fix): revert `set_text` optimization (#31555)
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/outputs/generation.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

increment version
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

🦍
  libs/core/langchain_core/version.py
Due: core

core: release 0.3.65 (#31557)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

docs: Updated text embedding model for IBM provider (#31554)
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Due: root

docs: Update MongoDB feature status (#31553)
  docs/scripts/vectorstore_feat_table.py
Due: root

docs: update graph_rag.mdx (#31548)
  docs/docs/integrations/retrievers/graph_rag.mdx
Due: root

doc:Updating doc with consistent bullet format. (#31527)
  docs/docs/concepts/structured_outputs.mdx
Due: root

[OpenAI]: Encoding Model (#31402)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
