Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

docs(mistralai): update AGENTS.md and README.md with new partner integrations and usage examples
  AGENTS.md
  README.md
Due: none

lc bump
  libs/langchain/uv.lock
  libs/langchain_v1/pyproject.toml
Due: langchain, langchain-v1-version

bumpo
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

whoops
  libs/langchain_v1/langchain/__init__.py
Due: langchain-v1-version

release(langchain_v1): 1.2.11 (#35723)
  libs/langchain/uv.lock
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain, langchain-v1-version

Fix indentation and improve argument description parsing
  libs/core/langchain_core/utils/function_calling.py
Due: core

chore: add reference docs MCP
  .mcp.json
Due: none

chore: add reference docs MCP (#35737)
  .mcp.json
Due: none

docs: add issue template link in README resources
  README.md
Due: none

docs: add issue templates link in README (refs #35739)
  README.md
Due: none

fix(openai): correct if/elif chain and UnboundLocalError in _consolidate_calls
  libs/partners/openai/langchain_openai/chat_models/_compat.py
Due: openai

fix(openai): close PIL Image handles in token counting to prevent fd leak
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(core): prevent empty args in streaming tool calls from SSE fragmentation
  libs/core/langchain_core/messages/ai.py
Due: core

fix(core): prevent output corruption in RunnableRetry.batch when partial retries succeed
  libs/core/langchain_core/runnables/retry.py
Due: core

fix(openai): prevent request_timeout=None from disabling SDK default timeout
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Add bug report and feature request link to README
  README.md
Due: none

docs: improve from_llm docstring with Returns and Example
  libs/langchain/langchain_classic/chains/llm_math/base.py
Due: langchain

docs(langchain): add docstrings to execution policy helpers
  libs/langchain_v1/langchain/agents/middleware/_execution.py
Due: none

feat(langchain): add token usage tracking middleware
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/token_usage_tracking.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_token_usage_tracking.py
Due: none

chore(model-profiles): refresh model profile data
  libs/partners/openai/langchain_openai/data/_profiles.py
Due: openai

fix(core): support OpenAI structured output schema format in convert_to_openai_function
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  test_fix.py
  test_issue_25460.py
  validate_fix.py
Due: core

fix: add empty results check in EmbeddingRouterChain
  libs/langchain/langchain_classic/chains/router/embedding_router.py
Due: langchain

fix: add descriptive error messages to bare ValueError raises
  libs/core/langchain_core/document_loaders/langsmith.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/prompts/loading.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
Due: core, anthropic

ci: allow bot bypass
  .github/workflows/tag-external-contributions.yml
Due: none

ci: allow bot bypass (#35762)
  .github/workflows/tag-external-contributions.yml
Due: none

Fix typo: 'equivelent' -> 'equivalent'
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(openai): preserve status field in function_call blocks
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(openai): typo (#35763)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

poc middleware tracing
  libs/langchain_v1/langchain/agents/factory.py
Due: none

lint
  libs/langchain_v1/langchain/agents/factory.py
Due: none

scrub a dub
  libs/langchain_v1/langchain/agents/factory.py
Due: none

trace better
  libs/langchain_v1/langchain/agents/factory.py
Due: none

cleanup
  libs/langchain_v1/langchain/agents/factory.py
Due: none

fields baby
  libs/langchain_v1/langchain/agents/factory.py
Due: none

scrubbo
  libs/langchain_v1/langchain/agents/factory.py
Due: none

fix(openai): use context managers for Image.open() to prevent file descriptor leaks
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(core): avoid premature tool call parsing on empty SSE args
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

feat: tracing for wrap model + tool call (#35765)
  libs/langchain_v1/langchain/agents/factory.py
Due: none

bump
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

release(langchain_v1): 1.2.12 (#35770)
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version
