Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

docs: remove duplicated and inaccurate mulvus doc (part of langchain-ai#31104)
  docs/docs/integrations/retrievers/milvus_hybrid_search.ipynb
Due: root

x
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

docs: fix typing in how_to/custom_tools.ipynb (#31164)
  docs/docs/how_to/custom_tools.ipynb
Due: root

update anthropic docs
  docs/docs/integrations/chat/anthropic.ipynb
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic, root

add to vercel overrides
  docs/vercel_overrides.txt
Due: root

fix(text-splitters): fix split_text merge logic to skip re-insertion of lookaround regex separators
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

add parametrized cases for lookaround and literal separator chunking behavior
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

x
  docs/vercel_overrides.txt
Due: root

docs: add web search to anthropic docs (#31169)
  docs/docs/integrations/chat/anthropic.ipynb
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic, root

update
  docs/scripts/packages_yml_get_downloads.py
  libs/packages.yml
Due: root

fix line-length lint errors in split_text
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

remove unnecessary indent
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

infra: add to vercel overrides (#31170)
  docs/vercel_overrides.txt
Due: root

remove unnecessary indent
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

docs: update sort order in integrations table (#31171)
  docs/scripts/packages_yml_get_downloads.py
  libs/packages.yml
Due: root

add a missing type annotation to function
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

revert
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

take usage from end of stream
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

text-splitters: add Visual Basic 6 support
  docs/docs/how_to/code_splitter.ipynb
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters, root

docs: format
  docs/docs/how_to/code_splitter.ipynb
Due: root

Cache fixing for langgraph
  libs/core/langchain_core/language_models/chat_models.py
Due: core

Use rather than for variable names
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/langchain_core/runnables/router.py
Due: core

Changes following review
  libs/core/langchain_core/output_parsers/list.py
Due: core

fix
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/prompts/dict.py
Due: core

docs: updated pinecone retriever notebook with chain example
  docs/docs/integrations/retrievers/pinecone_rerank.ipynb
Due: root

docs: linked pinecone_rerank to providers
  docs/docs/integrations/providers/pinecone.mdx
Due: root

chore: lint
  docs/docs/integrations/retrievers/pinecone_rerank.ipynb
Due: root

docs: update how_to docs to reflect new loader interfaces
  docs/docs/how_to/document_loader_pdf.ipynb
Due: root

revert some extraneous changes
  cookbook/human_input_llm.ipynb
  docs/api_reference/guide_imports.json
Due: root

add redirect
  docs/vercel.json
Due: root

docs: remove duplicated and inaccurate mulvus doc (part of langchain-ai#31104) (#31154)
  docs/docs/integrations/providers/milvus.mdx
  docs/docs/integrations/retrievers/milvus_hybrid_search.ipynb
  docs/docs/integrations/vectorstores/milvus.ipynb
  docs/src/theme/FeatureTables.js
  docs/vercel.json
Due: root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
