Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

Add SeekrFlow integration notebook with api updates
  docs/docs/integrations/chat/seekrflow.ipynb
Due: root

Revert __init__.py to match upstream for docs-only PR
  libs/community/langchain_community/chat_models/__init__.py
Due: community

Remove seekrflow.py from community to keep docs-only PR
  libs/community/langchain_community/chat_models/seekrflow.py
Due: community

Add SeekrFlow integration notebook
  docs/docs/integrations/chat/seekrflow.ipynb
Due: root

community[major]: DynamoDBChatMessageHistory bulk add messages, raise errors (#30572)
  libs/community/langchain_community/chat_message_histories/dynamodb.py
Due: community

core: Accept ALL ruff rules with exclusions (#30595)
  libs/core/pyproject.toml
Due: core

Remove test_seekrflow.py from integration tests (not part of docs PR)
  libs/community/tests/integration_tests/chat_models/test_seekrflow.py
Due: community

core: Add ruff rules PERF
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Due: core

core: Add ruff rules PT (pytest)
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
  libs/core/tests/unit_tests/_api/test_deprecation.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
  libs/core/tests/unit_tests/conftest.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/prompts/test_few_shot_with_templates.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_context.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_schemas.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_env.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_iter.py
  libs/core/tests/unit_tests/utils/test_json_schema.py
  libs/core/tests/unit_tests/utils/test_rm_titles.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

Add SeekrFlow integration notebook - rm stop tokens and updated API URL
  docs/docs/integrations/chat/seekrflow.ipynb
Due: root

core: Add ruff rule FBT003 (boolean-trap)
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

Update libs/community/tests/integration_tests/document_loaders/test_gitbook.py
  libs/community/tests/integration_tests/document_loaders/test_gitbook.py
Due: community

community[minor]: Add custom sitemap URL parameter to GitbookLoader (#30549)
  libs/community/langchain_community/document_loaders/gitbook.py
  libs/community/tests/integration_tests/document_loaders/test_gitbook.py
  libs/community/tests/unit_tests/document_loaders/test_gitbook.py
Due: community

core: Add ruff rules S110 and S112
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/sys_info.py
  libs/core/pyproject.toml
Due: core

core: Add ruff rules S110 and S112 (#30599)
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/sys_info.py
  libs/core/pyproject.toml
Due: core

docs: add seekrflow chat model integration docs (#30596)
  docs/docs/integrations/chat/seekrflow.ipynb
Due: root

core: Add ruff rules PT (pytest) (#29381)
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
  libs/core/tests/unit_tests/_api/test_deprecation.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
  libs/core/tests/unit_tests/conftest.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/prompts/test_few_shot_with_templates.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_context.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_schemas.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_env.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_iter.py
  libs/core/tests/unit_tests/utils/test_json_schema.py
  libs/core/tests/unit_tests/utils/test_rm_titles.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

core: Add ruff rules PERF (#29375)
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Due: core

core: Add ruff rule FBT003 (boolean-trap) (#29424)
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

update return type of _oai_structured_outputs_parser
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

add test
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

update API ref
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

ignore file blocks when counting tokens
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Add Cloudflare Vectorize
  docs/docs/integrations/vectorstores/cloudflare_vectorize.ipynb
  libs/community/langchain_community/vectorstores/cloudflare_vectorize.py
  libs/community/tests/integration_tests/vectorstores/test_cloudflare_vectorize.py
Due: community, root

lint
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

openai[patch]: ignore file blocks when counting tokens (#30601)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

core: Propagate config_factories in RunnableBinding
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

core: Propagate config_factories in RunnableBinding (#30603)
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

Refactor: separate logic
  libs/core/langchain_core/load/load.py
Due: core

Refactor: resolve linting issues in load module
  libs/core/langchain_core/load/load.py
Due: core

Refactor: add docstring
  libs/core/langchain_core/load/load.py
Due: core

Refactor: simplify f-string to satisfy ruff formatter
  libs/core/langchain_core/load/load.py
Due: core

Update tools for hyperbrowser
  docs/docs/integrations/tools/hyperbrowser_browser_use_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_claude_computer_use_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_crawl_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_extract_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_openai_cua_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_scrape_tool.ipynb
Due: root

Update docs
  docs/docs/integrations/tools/hyperbrowser_crawl_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_extract_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_openai_cua_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_scrape_tool.ipynb
Due: root

Add browser tools to list
  docs/scripts/tool_feat_table.py
Due: root

fix docs
  docs/docs/integrations/tools/hyperbrowser_browser_agent_tools.ipynb
  docs/docs/integrations/tools/hyperbrowser_browser_use_tool.ipynb
  docs/docs/integrations/tools/hyperbrowser_openai_cua_tool.ipynb
  docs/scripts/tool_feat_table.py
Due: root
