Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

openai[fix]: Correctly set usage metadata for OpenAI Responses API (#31756)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

Update chat_models.py to use OutputTokenDetails object
  libs/partners/perplexity/langchain_perplexity/chat_models.py
Due: none

increment version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

docs: add link to internal events in tool streaming guide
  docs/docs/how_to/tool_stream_events.ipynb
Due: root

adding rerank and tool calling to docs
  docs/docs/integrations/llms/predictionguard.ipynb
  docs/docs/integrations/providers/predictionguard.mdx
  docs/docs/integrations/retrievers/PredictionGuardRerank.ipynb
Due: root

openai: release 0.3.27 (#31769)
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

adding rerank and tool calling to docs (#8)
  docs/docs/integrations/chat/predictionguard.ipynb
  docs/docs/integrations/llms/predictionguard.ipynb
  docs/docs/integrations/providers/predictionguard.mdx
  docs/docs/integrations/retrievers/PredictionGuardRerank.ipynb
  docs/docs/integrations/text_embedding/predictionguard.ipynb
Due: root

move provider page content into providers/ibm
  docs/docs/integrations/providers/db2.mdx
  docs/docs/integrations/providers/ibm.mdx
  libs/packages.yml
Due: root

revert changes to uv.lock
  uv.lock
Due: none

IBM DB2 vector store documentation addition (#31008)
  docs/docs/integrations/providers/ibm.mdx
  docs/docs/integrations/vectorstores/db2.ipynb
  libs/packages.yml
Due: root

fixing notebook issue (#9)
  docs/docs/integrations/chat/predictionguard.ipynb
  docs/docs/integrations/providers/predictionguard.mdx
  docs/docs/integrations/retrievers/predictionguard.ipynb
  docs/docs/integrations/text_embedding/predictionguard.ipynb
Due: root

docs: fix formatting
  libs/core/langchain_core/runnables/base.py
Due: core

Initial Commit
  libs/partners/coherence/.gitignore
  libs/partners/coherence/Makefile
  libs/partners/coherence/README.md
  libs/partners/coherence/coherence.iml
  libs/partners/coherence/langchain_coherence/__init__.py
  libs/partners/coherence/langchain_coherence/coherence_store.py
  libs/partners/coherence/pyproject.toml
  libs/partners/coherence/tests/__init__.py
  libs/partners/coherence/tests/test_coherence_store.py
  libs/partners/coherence/uv.lock
Due: none

Fixing broken link
  docs/docs/integrations/providers/predictionguard.mdx
Due: root

nit: unnecessary elif
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: don't rename `tool_call` from outer scope
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

docs: add docstring
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

fix: disable pylint warning for line length
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

refactor: Use Optional for _client type hint
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

nit: remove unnecessary type ignore
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: add checks for async client existence before calling chat methods
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: add type ignore for PydanticOutputParser argument type for consistency
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

refactor: Use Optional for _client type hints, remove other unnecessary type ignores
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

refactor: Make _client and _async_client type hints to Optional and add initialization checks
  libs/partners/ollama/langchain_ollama/embeddings.py
Due: ollama

chore: Simpler Serializable
  libs/core/langchain_core/load/serializable.py
Due: core

vectores to vectors
  docs/docs/integrations/providers/predictionguard.mdx
Due: root

tests: add tool streaming tests for ChatOllama
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
Due: ollama

uv sync
  libs/partners/ollama/uv.lock
Due: ollama

feat: add model validation on initialization for ChatOllama, OllamaEmbeddings, and OllamaLLM // Resolves #27720
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

feat: add reasoning mode input option to ChatOllama model // Using `reason` instead of `think` to align with a future standard format
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

refactor: update reasoning handling in deepseek model tests and remove deprecated extract_reasoning parameter
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
Due: ollama

feat: add `model_name` field to `generation_info`
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

tests: add async reasoning tests, structured output validation, and others for ChatOllama
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
Due: ollama

skip notebook
  docs/cassettes/response_metadata_161f5898-9976-4a75-943d-03eda1a40a60.msgpack.zlib
  docs/cassettes/response_metadata_1e4ac668-4c6a-48ad-9a6f-7b291477b45d.msgpack.zlib
  docs/cassettes/response_metadata_39549336-25f5-4839-9846-f687cd77e59b.msgpack.zlib
  docs/cassettes/response_metadata_61c43496-83b5-4d71-bd60-3e6d46c62a5e.msgpack.zlib
  docs/cassettes/response_metadata_6ae32a93-26db-41bb-95c2-38ddd5085fbe.msgpack.zlib
  docs/cassettes/response_metadata_744e14ec-ff50-4642-9893-ff7bdf8927ff.msgpack.zlib
  docs/cassettes/response_metadata_deb41321-52d0-4795-a40c-4a811a13d7b0.msgpack.zlib
  docs/scripts/prepare_notebooks_for_ci.py
Due: root

infra: skip notebook in CI (#31773)
  docs/cassettes/response_metadata_161f5898-9976-4a75-943d-03eda1a40a60.msgpack.zlib
  docs/cassettes/response_metadata_1e4ac668-4c6a-48ad-9a6f-7b291477b45d.msgpack.zlib
  docs/cassettes/response_metadata_39549336-25f5-4839-9846-f687cd77e59b.msgpack.zlib
  docs/cassettes/response_metadata_61c43496-83b5-4d71-bd60-3e6d46c62a5e.msgpack.zlib
  docs/cassettes/response_metadata_6ae32a93-26db-41bb-95c2-38ddd5085fbe.msgpack.zlib
  docs/cassettes/response_metadata_744e14ec-ff50-4642-9893-ff7bdf8927ff.msgpack.zlib
  docs/cassettes/response_metadata_deb41321-52d0-4795-a40c-4a811a13d7b0.msgpack.zlib
  docs/scripts/prepare_notebooks_for_ci.py
Due: root

fix: remove unused import
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

tests: straggler unit tests not using `llama3.1`
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/tests/unit_tests/test_embeddings.py
  libs/partners/ollama/tests/unit_tests/test_llms.py
Due: ollama

fix: forgot a param
  libs/partners/ollama/tests/unit_tests/test_llms.py
Due: ollama

test: enable socket for integration tests
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/tests/unit_tests/test_embeddings.py
  libs/partners/ollama/tests/unit_tests/test_llms.py
Due: ollama

tests: remove model validation for other PR
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Due: ollama

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
