Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

flip default
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

remove standard test
  libs/partners/anthropic/tests/unit_tests/test_standard.py
  libs/partners/fireworks/tests/unit_tests/test_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_standard.py
  libs/partners/xai/tests/unit_tests/test_chat_models_standard.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: standard-tests, anthropic, fireworks, openai

integration tests
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/xai/tests/integration_tests/test_chat_models.py
Due: anthropic, fireworks, openai

fix(openai): raise clear error on unexpected response type in `_create_chat_result`
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

docs: clarify supported formats for multimodal inputs
  libs/core/langchain_core/language_models/model_profile.py
Due: core

fix(openai): preserve caller's `model_kwargs["text"]` across Responses API calls
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): do not treat empty primary stream as failure in `RunnableWithFallbacks`
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(langchain): re-raise non-retryable exceptions in `ModelRetryMiddleware`
  libs/langchain_v1/langchain/agents/middleware/model_retry.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
Due: none

fix(anthropic): don't mutate caller-provided tool_choice dict in bind_tools
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(anthropic): fix KeyError in _handle_rename for state and filesystem middlewares
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_anthropic_tools.py
Due: anthropic

fix(anthropic): preserve cache_control on tool_use blocks in _format_messages
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(openai): prevent _construct_responses_api_payload from mutating caller text dict
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

feat(huggingface): support non-CUDA accelerators in HuggingFacePipeline via torch.accelerator
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/tests/unit_tests/test_huggingface_pipeline.py
Due: huggingface

fix(core): skip tool call when streaming args are empty string
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(core): use identity check for cache presence in get_prompts and aupdate_cache
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
Due: core

middleware: export PIIMatch from public langchain.agents.middleware package
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

fix(langchain): preserve history when summary generation fails
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(openai): copy `text` dict before writing format/verbosity in Responses API payload
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): treat empty upstream streams as success in fallbacks stream()/astream()
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(core): correct `test_stream_error_callback` empty-generations assertion
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

fix(openai): stop mutating caller's `text` dict in Responses API payload
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): treat empty upstream stream as success in `RunnableWithFallbacks`
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(xai): derive bound client from single root client per side
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: none

fix(core): treat empty upstream stream as success in RunnableWithFallbacks
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(core): correct generations assertion in test_stream_error_callback
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

fix(core): do not treat an empty primary stream as a fallback trigger
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(langchain): re-raise non-retryable exceptions in ModelRetryMiddleware
  libs/langchain_v1/langchain/agents/middleware/model_retry.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
Due: none

fix(core): treat an empty upstream stream/astream as a valid result in RunnableWithFallbacks
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

feat(huggingface): support torch.accelerator device discovery
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/tests/unit_tests/test_huggingface_pipeline.py
Due: huggingface

fix(core): _TracerCore __copy__/__deepcopy__ return self instead of copies
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/langchain_v1/langchain/agents/factory.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: core, anthropic

fix(core): stop incremental indexing from re-embedding unchanged docs across batches
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Due: core

fix(langchain): validate `InterruptOnConfig` instead of silently auto-approving
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

fix(perplexity): copy `extra_body` when building the Responses payload
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
Due: none

fix(xai): reuse one shared httpx client per instance
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: none

fix(core): guard CancelledError.args access in event stream task cancel
  libs/core/langchain_core/tracers/event_stream.py
Due: core

fix(agent): fix _TracerCore copy, default_tools mutation, and LogStream send return
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/langchain_v1/langchain/agents/factory.py
Due: core

fix(core): use materialized `texts_` in default `add_texts` and `aadd_texts`
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Due: core

fix(core): don't short-circuit mustache dotted-path lookup on a falsy intermediate
  libs/core/langchain_core/utils/mustache.py
  libs/core/tests/unit_tests/utils/test_mustache.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
