Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

release(ollama): 1.1.0
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

release(ollama): 1.1.0 (#36574)
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Due: ollama

ci(release): convert working-directory to validated dropdown
  .github/scripts/test_release_options.py
  .github/workflows/_release.yml
  .github/workflows/check_diffs.yml
Due: none

ci: convert working-directory to validated dropdown (#36575)
  .github/scripts/test_release_options.py
  .github/workflows/_release.yml
  .github/workflows/check_diffs.yml
Due: none

fix(langchain): enforce toolstrategy narrowing in wrap_model_call
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

fix(core): handle Pydantic-incompatible types in injected tool args
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(langchain): enforce middleware-narrowed ToolStrategy in tool binding
  libs/langchain_v1/langchain/agents/factory.py
Due: none

test(langchain): regression tests for narrowed ToolStrategy binding
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

fix(core): handle unresolvable forward refs in RunnableWithFallbacks.__getattr__
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
Due: core

fix(openrouter): support default_headers for custom HTTP header injection
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

handle symlinks in deprecated save path
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_loading.py
Due: core

fix(core): handle symlinks in deprecated prompt save path (#36585)
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_loading.py
Due: core

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

release(core): 1.2.27 (#36586)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

feat(ai-identity): add AI Identity partner package for agent governance
  libs/partners/ai-identity/.gitignore
  libs/partners/ai-identity/LICENSE
  libs/partners/ai-identity/Makefile
  libs/partners/ai-identity/README.md
  libs/partners/ai-identity/langchain_ai_identity/__init__.py
  libs/partners/ai-identity/langchain_ai_identity/_gateway.py
  libs/partners/ai-identity/langchain_ai_identity/_version.py
  libs/partners/ai-identity/langchain_ai_identity/agent.py
  libs/partners/ai-identity/langchain_ai_identity/callback.py
  libs/partners/ai-identity/langchain_ai_identity/chat_models.py
  libs/partners/ai-identity/langchain_ai_identity/middleware/__init__.py
  libs/partners/ai-identity/langchain_ai_identity/middleware/governance.py
  libs/partners/ai-identity/langchain_ai_identity/py.typed
  libs/partners/ai-identity/langchain_ai_identity/tools.py
  libs/partners/ai-identity/pyproject.toml
  libs/partners/ai-identity/scripts/check_imports.py
  libs/partners/ai-identity/tests/__init__.py
  libs/partners/ai-identity/tests/conftest.py
  libs/partners/ai-identity/tests/integration_tests/__init__.py
  libs/partners/ai-identity/tests/unit_tests/__init__.py
  libs/partners/ai-identity/tests/unit_tests/middleware/__init__.py
  libs/partners/ai-identity/tests/unit_tests/middleware/test_governance.py
  libs/partners/ai-identity/tests/unit_tests/test_callback.py
  libs/partners/ai-identity/tests/unit_tests/test_chat_models.py
  libs/partners/ai-identity/tests/unit_tests/test_gateway.py
  libs/partners/ai-identity/tests/unit_tests/test_imports.py
  libs/partners/ai-identity/tests/unit_tests/test_tools.py
Due: none

feat(agi): add CognitiveSynergyAgent with multi-memory + Soar/ACT-R + CoALA + Haystack
  AGENTS.md
  examples/cognitive/cognitive_demo.py
  libs/langchain/agents/cognitive_agent.py
Due: langchain

feat(agi): add CognitiveSynergyAgent with multi-memory + Soar/ACT-R + CoALA + Haystack
  AGENTS.md
Due: none

fix(agi): complete CognitiveSynergyAgent implementation
  libs/langchain/agents/cognitive_agent.py
Due: langchain

docs(standard-tests)- fix inline code and grammar in readme
  libs/standard-tests/README.md
Due: standard-tests

docs(multi): fix readme code snippets and partner package descriptions
  libs/partners/nomic/README.md
  libs/partners/ollama/README.md
  libs/text-splitters/README.md
Due: text-splitters, nomic, ollama

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/huggingface/langchain_huggingface/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks, huggingface

x
  libs/core/Makefile
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Due: core

x
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

x
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

fix(middleware): normalise function_call blocks in ModelFallbackMiddleware response
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
Due: none

test(middleware): add unit tests for ModelFallbackMiddleware response normalisation
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_model_fallback_normalise.py
Due: none

fix(langchain): normalise provider-specific content blocks in ModelFallbackMiddleware
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_model_fallback_normalise.py
Due: none

prefer ls_provider message metadata in SummarizationMiddleware token check
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(core): handle Pydantic-incompatible types in injected tool args
  libs/core/langchain_core/tools/base.py
Due: core

fix(core): forward feedback_config in EvaluatorCallbackHandler.create_feedback
  libs/core/langchain_core/tracers/evaluation.py
Due: core

community[partner]: add langchain-sarvam integration
  libs/partners/sarvam/LICENSE
  libs/partners/sarvam/Makefile
  libs/partners/sarvam/README.md
  libs/partners/sarvam/langchain_sarvam/__init__.py
  libs/partners/sarvam/langchain_sarvam/_version.py
  libs/partners/sarvam/langchain_sarvam/chat_models.py
  libs/partners/sarvam/langchain_sarvam/py.typed
  libs/partners/sarvam/pyproject.toml
  libs/partners/sarvam/tests/__init__.py
  libs/partners/sarvam/tests/integration_tests/__init__.py
  libs/partners/sarvam/tests/integration_tests/test_chat_models.py
  libs/partners/sarvam/tests/unit_tests/__init__.py
  libs/partners/sarvam/tests/unit_tests/test_chat_models.py
Due: none

fix type error
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

try to help mypy
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

fix(standard-tests): update standard tests for sandbox backends (#36036)
  libs/standard-tests/langchain_tests/integration_tests/sandboxes.py
Due: standard-tests

bump core and increment version
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

release(standard-tests): 1.1.6 (#36610)
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Due: standard-tests

fix(anthropic): strip trailing AIMessage for models without prefill support
  libs/core/langchain_core/language_models/model_profile.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: core, anthropic

x
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_dict.py
  libs/core/tests/unit_tests/prompts/test_image.py
  libs/core/tests/unit_tests/prompts/test_string.py
Due: core

x
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_dict.py
  libs/core/tests/unit_tests/prompts/test_string.py
Due: core
