Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

.
  libs/langchain_v1/uv.lock
Due: none

fix: add missing benchmarks for codspeed
  libs/partners/chroma/tests/unit_tests/test_standard.py
  libs/partners/exa/tests/unit_tests/test_standard.py
  libs/partners/nomic/tests/unit_tests/test_standard.py
  libs/partners/prompty/tests/unit_tests/test_standard.py
  libs/partners/qdrant/tests/unit_tests/test_standard.py
Due: chroma, exa, nomic, prompty, qdrant

add missing `pytest-benchmark` deps
  libs/partners/chroma/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/uv.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/uv.lock
Due: chroma, exa, nomic, prompty, qdrant

fix: add std-tests dep
  libs/partners/exa/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/prompty/pyproject.toml
  libs/partners/qdrant/pyproject.toml
Due: exa, nomic, prompty, qdrant

fix: exa init
  libs/partners/exa/tests/unit_tests/test_standard.py
Due: exa

fixes
  libs/partners/exa/uv.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
  libs/partners/nomic/tests/unit_tests/test_standard.py
  libs/partners/nomic/uv.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/tests/unit_tests/test_standard.py
  libs/partners/prompty/uv.lock
  libs/partners/qdrant/tests/unit_tests/test_standard.py
  libs/partners/qdrant/uv.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Due: text-splitters, exa, huggingface, nomic, prompty, qdrant

fix deepseek
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/uv.lock
Due: none

undo
  libs/partners/deepseek/langchain_deepseek/chat_models.py
Due: none

test
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

fix
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: none

fix: update pre-commit hooks to include linting
  .pre-commit-config.yaml
Due: none

chore(infra): remove couchbase formatting hook from pre-commit
  .pre-commit-config.yaml
Due: none

chore(infra): remove couchbase formatting hook from pre-commit (#33030)
  .pre-commit-config.yaml
Due: none

feat(infra): add PR labeler configuration and workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

feat(infra): add PR title labeler configuration and workflow
  .github/pr-title-labeler.yml
  .github/workflows/pr-title-labeler.yml
Due: none

fix: config
  .github/pr-title-labeler.yml
  .github/workflows/pr-title-labeler.yml
Due: none

chore(infra): update pre-commit hooks to include linting (#33029)
  .pre-commit-config.yaml
Due: none

.
  .github/pr-title-labeler.yml
  .github/workflows/check_diffs.yml
  .github/workflows/pr-title-labeler.yml
Due: none

mas
  .github/workflows/labeler.yml
  .github/workflows/pr_lint.yml
Due: none

feat(infra): add PR title labeler configuration and workflow (#33032)
  .github/pr-title-labeler.yml
  .github/workflows/check_diffs.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-labeler.yml
  .github/workflows/pr_lint.yml
Due: none

rename
  .github/workflows/pr_title_labeler.yml
Due: none

feat(infra): add PR labeler configurations and workflows (#33031)
  .github/labeler.yml
  .github/pr-title-labeler.yml
  .github/workflows/check_diffs.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_lint.yml
  .github/workflows/pr_title_labeler.yml
Due: none

test: fix pydantic issue by bumping OAI-py
  libs/langchain/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: langchain, openai

fix(tests): patch Pydantic 2.7 validation for compatibility with OpenAI SDK
  libs/langchain/langchain/chains/base.py
  libs/langchain/tests/unit_tests/chains/test_flare.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/uv.lock
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/unit_tests/__init__.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: langchain, openai

.
  libs/langchain/tests/unit_tests/chains/test_flare.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/unit_tests/__init__.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: langchain, openai

test: use `.get()` for safe `ls_params` access
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: openai

fix: update method calls from dict to `model_dump` in `Chain`
  libs/langchain/langchain/chains/base.py
Due: langchain

test: use `.get()` for safe `ls_params` access (#33034)
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: openai

fix: update method calls from dict to `model_dump` in `Chain` (#33035)
  libs/langchain/langchain/chains/base.py
Due: langchain

refactor(langchain): replace `dict()` with `model_dump()` in agent classes and tests
  libs/langchain/langchain/agents/agent.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/llms/test_base.py
Due: langchain

remove TODOs
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: none

test
  libs/langchain/uv.lock
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: langchain, openai

update lock
  libs/partners/deepseek/uv.lock
  libs/partners/xai/uv.lock
Due: none

fix: pydantic openai (#33037)
  libs/langchain/uv.lock
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Due: langchain, openai

fix(openai): pin upper bound to prevent Pydantic 2.7.0 issues
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Due: fireworks, openai

fix(openai): pin upper bound to prevent Pydantic 2.7.0 issues (#33038)
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Due: fireworks, openai

fix(infra): prevent labeler workflow from adding/removing same labels
  .github/workflows/labeler.yml
Due: none

fix(infra): prevent labeler workflow from adding/removing same labels (#33039)
  .github/workflows/labeler.yml
Due: none

feat(chat_models): add context_schema support to init_chat_model
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: langchain
