Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

fix: return original value in get_from_dict_or_env instead of casting to str
  libs/core/langchain_core/utils/env.py
Due: core

Implement awrap_tool_call for async middleware
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

Apply suggested fix to libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py from Copilot Autofix
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

Fix for First argument to super() is not enclosing class
  libs/core/langchain_core/load/serializable.py
Due: core

fix(text-splitters): restore lazy imports for heavy optional dependencies
  libs/text-splitters/langchain_text_splitters/konlpy.py
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(text-splitters): add explicit Language type annotation in spacy splitter
  libs/text-splitters/langchain_text_splitters/spacy.py
Due: text-splitters

fix(text-splitters): fix type: ignore placement for spacy.lang.en import
  libs/text-splitters/langchain_text_splitters/spacy.py
Due: text-splitters

Fix streaming bypass of middleware guardrails
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

Fix formatting in awrap_model_call signature
  libs/langchain_v1/langchain/agents/middleware/pii.py
Due: none

Format test file with ruff
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

fix(deepseek): use proper URL parsing for azure endpoint detection
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

perf(core): optimize callback manager hot paths
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
Due: core

perf(core): copy-on-write callbacks, cache inspect.signature, frozenset config keys
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/tools/base.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: none

perf: use deque for line consumption in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
Due: text-splitters

core: use deque for result reassembly in RunnableRetry batch
  libs/core/langchain_core/runnables/retry.py
Due: core

core: use deque for pipeline batch output reassembly in RunnableSequence
  libs/core/langchain_core/runnables/base.py
Due: core

core: fix RunnableRetry.batch corrupted outputs on partial retry success
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix: satisfy D205 lint rule in docstring
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix(core): prevent RunnableRetry.batch from returning corrupted outputs on partial failure
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix: satisfy D205 and EM101 lint rules in test
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix(core): cancel pending tasks in abatch_as_completed on exception or early exit
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Due: core

fix: use variable for exception message to satisfy EM101 lint rule
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Due: core

fix: make existing stream pop safe to avoid KeyError
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(openai): strip stream param in _generate/_agenerate to fix disable_streaming crash
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(huggingface): use PydanticOutputParser for Pydantic models in with_structured_output
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface

fix(core): fix RunnableRetry.batch position corruption with return_exceptions
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix(openai): ensure stream=False in payload when disable_streaming is active
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix: preserve tool_use/tool_result pairs in trim_messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

fix: assign exception messages to variables for EM101 lint rule
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix: resolve mypy errors in trim_messages tool pair validation
  libs/core/langchain_core/messages/utils.py
Due: core

fix: use SecretStr for api_key in tests to satisfy mypy arg-type check
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): resolve mypy attr-defined error in _group_tool_chains
  libs/core/langchain_core/messages/utils.py
Due: core

openai: enable bind_tools after with_structured_output - Fixes #28848
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

openai: enable bind_tools after with_structured_output - Fixes #28848
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(core): prevent duplicate ids kwarg in add_documents and aadd_documents
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Due: core

fix(langchain): handle missing 'tools' key in LLMToolSelectorMiddleware response
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none
