Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

pass json schema in response_format
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
Due: none

update integration tests
  libs/langchain_v1/tests/integration_tests/agents/test_response_format.py
Due: none

move integration tests and add vcr
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[True].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[True].yaml.gz
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
  libs/langchain_v1/tests/unit_tests/conftest.py
Due: none

use gpt-5 in tests
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[True].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[True].yaml.gz
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

add test module docstring
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

update docstring
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
Due: none

fix(agents): stream agent iterator results as they complete
  libs/langchain/langchain_classic/agents/agent.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
Due: langchain

fix(langchain-classic): stream iterator results as they complete
  libs/langchain/langchain_classic/agents/agent.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
Due: langchain

fix(core): properly close generator iterator in sync transform
  libs/core/langchain_core/runnables/base.py
Due: core

fix(core): ensure generator cleanup in RunnableLambda invoke methods
  libs/core/langchain_core/runnables/base.py
Due: core

fix(core): replace contextlib.closing with explicit try/finally
  libs/core/langchain_core/runnables/base.py
Due: core

docs: improve create_react_agent documentation for AWS Bedrock compatibility
  libs/langchain/langchain_classic/agents/react/agent.py
Due: langchain

fix(langchain, openai): fix create_agent / response_format for Responses API (#33939)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_native_output[True].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[False].yaml.gz
  libs/langchain_v1/tests/cassettes/test_inference_to_tool_output[True].yaml.gz
  libs/langchain_v1/tests/integration_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format_integration.py
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

revert functional change in langchain
  libs/langchain_v1/langchain/agents/factory.py
Due: none

openai: catch format passed by langchain
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix(langchain, openai): backward compat for response_format (#33945)
  libs/langchain_v1/langchain/agents/factory.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

release(deepseek): 1.0.1
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Due: none

release(groq): 1.0.1
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Due: groq

release(nomic): 1.0.1
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
Due: nomic

release(deepseek): 1.0.1 (#33946)
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Due: none

release(groq): 1.0.1 (#33947)
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Due: groq

release(nomic): 1.0.1 (#33948)
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
Due: nomic

fix(groq): bump min ver for `core` dep
  libs/partners/groq/pyproject.toml
Due: groq

fix(groq): bump min ver for `core` dep (#33949)
  libs/partners/groq/pyproject.toml
Due: groq

context editing updates
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

use dc still
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

Update libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
Due: none

shared
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

deps
  libs/langchain_v1/uv.lock
Due: none

feat(infra): add automatic issue labeling
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/auto-label-by-package.yml
Due: none

feat(infra): add automatic issue labeling (#33952)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/auto-label-by-package.yml
Due: none

chore(langchain): update deps (#33951)
  libs/langchain_v1/uv.lock
Due: none

chore(core,infra): nits
  .github/ISSUE_TEMPLATE/bug-report.yml
  libs/core/langchain_core/load/load.py
  libs/core/uv.lock
Due: core

chore(core,infra): nits (#33954)
  .github/ISSUE_TEMPLATE/bug-report.yml
  libs/core/langchain_core/load/load.py
  libs/core/uv.lock
Due: core

filesystem in init
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

fix: add filesystem middleware in init (#33955)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

missing hooks
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/model_call_limit.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
Due: anthropic

new syntax
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
Due: anthropic

new format
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
Due: anthropic
