Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant, root

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: couchbase
        name: format and lint partners/couchbase
        language: system
        entry: make -C libs/partners/couchbase format lint
        files: ^libs/partners/couchbase/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false
      - id: root
        name: format and lint docs, cookbook
        language: system
        entry: make format lint
        files: ^(docs|cookbook)/
        pass_filenames: false

fix: address line length linting issues
  libs/langchain/langchain/chat_models/base.py
Due: langchain

fix: strip think tags from content when reasoning=False
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix: resolve linting issues in _strip_think_tags function
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

fix(langchain): improve and fix typing
  libs/langchain/langchain/agents/output_parsers/tools.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/openai_functions/citation_fuzzy_match.py
  libs/langchain/langchain/retrievers/document_compressors/listwise_rerank.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/mock_servers/robot/server.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
  libs/langchain/tests/unit_tests/agents/test_openai_assistant.py
  libs/langchain/tests/unit_tests/output_parsers/test_retry.py
  libs/langchain/tests/unit_tests/smith/evaluation/test_runner_utils.py
  libs/langchain/tests/unit_tests/utils/test_iter.py
  libs/langchain/uv.lock
Due: langchain

chore: bump ruff version to 0.13
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/runnables/base.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/uv.lock
  libs/langchain/langchain/agents/openai_assistant/base.py
  libs/langchain/langchain/chains/combine_documents/reduce.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/evaluation/criteria/eval_chain.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/chains/test_base.py
  libs/langchain/tests/unit_tests/chains/test_conversation.py
  libs/langchain/tests/unit_tests/chains/test_sequential.py
  libs/langchain/tests/unit_tests/chains/test_transform.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/embeddings/test_base.py
  libs/langchain/tests/unit_tests/evaluation/comparison/test_eval_chain.py
  libs/langchain/tests/unit_tests/evaluation/criteria/test_eval_chain.py
  libs/langchain/tests/unit_tests/evaluation/scoring/test_eval_chain.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
  libs/langchain/tests/unit_tests/memory/test_combined_memory.py
  libs/langchain/tests/unit_tests/output_parsers/test_boolean_parser.py
  libs/langchain/tests/unit_tests/test_formatting.py
  libs/langchain/tests/unit_tests/test_utils.py
  libs/langchain/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
  libs/standard-tests/uv.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Due: core, langchain, standard-tests, text-splitters

fix imports
  docs/docs/integrations/tools/stripe.ipynb
Due: root

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

added the first progress of dissecting PromptTemplate function
  LEARNING_PLAN.md
  langchain_practice/00_Setting_Up_the_Environment/pytest_-q_output.txt
  langchain_practice/01_Understand_Prompt_Template/README.md
  langchain_practice/01_Understand_Prompt_Template/setup_check.py
  langchain_practice/01_Understand_Prompt_Template/step1_basic_prompts.py
  langchain_practice/01_Understand_Prompt_Template/step2_advanced_prompts.py
Due: none

[FEAT] Update with new tools
  docs/docs/integrations/providers/valyu.ipynb
  docs/docs/integrations/retrievers/valyu.ipynb
  docs/docs/integrations/tools/valyu_search.ipynb
Due: root

[FIX] Lint errors
  docs/docs/integrations/retrievers/valyu.ipynb
  docs/docs/integrations/tools/valyu_search.ipynb
Due: root

docs: fix stripe toolkit import in the guide (#33044)
  docs/docs/integrations/tools/stripe.ipynb
Due: root

initial pass
  libs/core/langchain_core/messages/block_translators/google_genai.py
Due: core

tests: Test Added
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

chore: Reasoning Added
  libs/core/langchain_core/messages/utils.py
Due: core

chore: Double QUotes
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

look in reverse order
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

updating test
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

prepping for release
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

don't change conditional
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

fix(langchain): HITL bug causing dupe interrupt (#33052)
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/uv.lock
Due: none

laying foundations
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

fix edge
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

get rid of dynamic system prompt
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/dynamic_system_prompt.py
Due: none

chore(infra): fix ping pong pr labeler config
  .github/pr-title-labeler.yml
Due: none

chore(infra): fix ping pong pr labeler config (#33054)
  .github/pr-title-labeler.yml
Due: none

proof of concept
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/uv.lock
Due: none

.
  libs/core/langchain_core/messages/block_translators/google_genai.py
  libs/core/langchain_core/messages/block_translators/google_vertexai.py
Due: core

fix: core version equality check
  libs/langchain_v1/langchain/__init__.py
Due: none

.
  libs/core/langchain_core/messages/block_translators/google_genai.py
Due: core

naming changes
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

also empty list
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

linting and updating tests
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

update tests
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

basic docstrings
  libs/langchain_v1/langchain/agents/middleware/types.py
Due: none

fixing typing, adding tests
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Due: none

audit - update comments, add frontmatter explanations
  .github/actions/people/action.yml
  .github/actions/uv_setup/action.yml
  .github/pr-file-labeler.yml
  .github/pr-title-labeler.yml
  .github/scripts/check_diff.py
  .github/scripts/check_prerelease_dependencies.py
  .github/scripts/get_min_versions.py
  .github/scripts/prep_api_docs_build.py
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_doc_imports.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/api_doc_build.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_diffs.yml
  .github/workflows/check_new_docs.yml
  .github/workflows/people.yml
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
  .github/workflows/pr_lint.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
  docs/scripts/check_imports.py
Due: root

remove unnecessary milvus handling since in different repo now
  .github/scripts/check_diff.py
Due: none

run unit tests only after checking for prerelease version
  .github/workflows/_release.yml
Due: none
