Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

release(anthropic): 1.5.6
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

release(anthropic): 1.5.6 (#39622)
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix: Support structured output with Pydantic models in `langchain-huggingface`
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface

chore(model-profiles): refresh model profile data
  libs/partners/deepseek/langchain_deepseek/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
  libs/partners/xai/langchain_xai/data/_profiles.py
Due: none

re-order smoke tests
  libs/partners/openai/Makefile
Due: openai

feat(openai): support openai 3.0 SDK (#39613)
  libs/partners/openai/Makefile
  libs/partners/openai/langchain_openai/_compat.py
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/chat_models/test_client_utils.py
  libs/partners/openai/tests/unit_tests/test_compat.py
  libs/partners/openai/uv.lock
Due: openai

bump core and increment version
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

release(openai): 1.5.0 (#39629)
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

fix(core): respect pydantic aliases when validating tool inputs (#39572)
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

update docstring
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

chore(langchain): update docs on error handling for json schema (#39632)
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

fix(core): attach the JSON fallbacks via Annotated, not @field_serializer
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): make StructuredTool JSON-serializable
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): raise ValueError when ids length does not match texts length in add_texts
  libs/core/langchain_core/vectorstores/base.py
Due: core

fix(core): don't hand the str builtin to PlainSerializer
  libs/core/langchain_core/tools/structured.py
Due: core

clean up
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/iter.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_iter.py
Due: core

test(openai): trim stateless reasoning fixture
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(core): make abatch_iterate consistent with batch_iterate for None and zero size (#39367)
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/iter.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_iter.py
Due: core

update cassettes
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard.test_stream_time.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_agent_loop.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_agent_loop_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_citations.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_code_execution.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_code_execution_old.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_compaction.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_compaction_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_context_management.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_programmatic_tool_use.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_programmatic_tool_use_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_redacted_thinking.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_remote_mcp.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_response_format_in_agent.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_search_result_tool_message.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_streaming_tool_call_v1_v2_parity.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_strict_tool_use.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_thinking.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_tool_search.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_fetch.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_fetch_v1.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_search.yaml.gz
Due: anthropic

skip legacy tests for gateway
  libs/partners/anthropic/tests/integration_tests/test_llms.py
Due: anthropic

Revert "delete secrets for providers supporting the gateway"
  .github/workflows/_release.yml
  .github/workflows/integration_tests.yml
Due: none

update test
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

test(openai): refresh stateless reasoning cassette
  libs/partners/openai/tests/cassettes/test_mcp_builtin_zdr.yaml.gz
Due: openai

fix(openai): skip empty chunk for reasoning without encrypted content
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: openai

fix(core): preserve existing entries when updating full cache
  libs/core/langchain_core/caches.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
Due: core

revert changes to cassettes and update conftest to ignore uri
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard.test_stream_time.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_agent_loop.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_agent_loop_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_citations.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_code_execution.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_code_execution_old.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_compaction.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_compaction_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_context_management.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_programmatic_tool_use.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_programmatic_tool_use_streaming.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_redacted_thinking.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_remote_mcp.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_response_format_in_agent.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_search_result_tool_message.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_streaming_tool_call_v1_v2_parity.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_strict_tool_use.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_thinking.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_tool_search.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_fetch.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_fetch_v1.yaml.gz
  libs/partners/anthropic/tests/cassettes/test_web_search.yaml.gz
  libs/partners/anthropic/tests/conftest.py
Due: anthropic

fix openai tests
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

fix stream_usage test
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

fix: `aadd_texts() got multiple values for keyword argument 'ids'`
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore_ids.py
Due: core

docs: fix typo in README.md
  README.md
Due: none

docs: fix typo in README
  README.md
Due: none

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/huggingface/langchain_huggingface/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks, huggingface

fix(huggingface): remove retired IPEX backend
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/utils/import_utils.py
Due: huggingface

fix(qdrant): add AsyncQdrantClient support and custom IDs handling in aadd_documents (#32283)
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/tests/unit_tests/test_vectorstores.py
Due: qdrant

fix(langchain): handle shell command output without trailing newline in ShellSession
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
Due: none

chore(infra): support langsmith gateway in CI (#39651)
  .github/workflows/_release.yml
  .github/workflows/integration_tests.yml
  libs/partners/anthropic/tests/conftest.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_llms.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: anthropic, openai

add end-to-end test
  libs/partners/openai/tests/cassettes/test_stream_encrypted_reasoning.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Due: openai

fix(openai): preserve streamed encrypted reasoning (#39635)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_mcp_builtin_zdr.yaml.gz
  libs/partners/openai/tests/cassettes/test_stream_encrypted_reasoning.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: openai

increment version
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

release(openai): 1.5.1 (#39653)
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
