Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

lock upgrade
  libs/langchain_v1/uv.lock
Due: none

linting
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
Due: none

chore(langchain): drop Python 3.9 to prep for v1 (#32704)
  .github/scripts/check_diff.py
  libs/langchain_v1/langchain/_internal/_documents.py
  libs/langchain_v1/langchain/_internal/_prompts.py
  libs/langchain_v1/langchain/_internal/_typing.py
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/embeddings/base.py
  libs/langchain_v1/langchain/embeddings/cache.py
  libs/langchain_v1/langchain/storage/encoder_backed.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/test_imports.py
  libs/langchain_v1/uv.lock
Due: none

initial agents commit
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/_internal/__init__.py
  libs/langchain_v1/langchain/agents/_internal/_typing.py
  libs/langchain_v1/langchain/agents/chat_agent_executor.py
  libs/langchain_v1/langchain/agents/interrupt.py
  libs/langchain_v1/langchain/agents/responses.py
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/pyproject.toml
Due: none

.
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Due: core

initial tests
  libs/langchain_v1/Makefile
  libs/langchain_v1/langchain/agents/chat_agent_executor.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/__init__.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_react_agent_graph.ambr
  libs/langchain_v1/tests/unit_tests/agents/any_str.py
  libs/langchain_v1/tests/unit_tests/agents/compose-postgres.yml
  libs/langchain_v1/tests/unit_tests/agents/compose-redis.yml
  libs/langchain_v1/tests/unit_tests/agents/conftest.py
  libs/langchain_v1/tests/unit_tests/agents/conftest_checkpointer.py
  libs/langchain_v1/tests/unit_tests/agents/conftest_store.py
  libs/langchain_v1/tests/unit_tests/agents/memory_assert.py
  libs/langchain_v1/tests/unit_tests/agents/messages.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/specifications/responses.json
  libs/langchain_v1/tests/unit_tests/agents/specifications/return_direct.json
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent_graph.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/utils.py
  libs/langchain_v1/uv.lock
Due: none

initial tests working
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

.
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: core, openai

.
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

.
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_output_version.py
Due: core

ss
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

fix(core): `_should_stream` respects `streaming` param
  libs/core/langchain_core/language_models/chat_models.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Due: core, openai

fix: openai
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

fix: anthropic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: anthropic, openai

switch order
  libs/core/langchain_core/language_models/chat_models.py
Due: core

fix: add stream_usage
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix: fix the FBT001 warning
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix: fix the positional arg err
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

fix: fix the line
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

Update in_memory.py
  libs/core/langchain_core/vectorstores/in_memory.py
Due: core

apply formatter
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Due: huggingface

Reformat in_memory.py to match linting standard.
  libs/core/langchain_core/vectorstores/in_memory.py
Due: core

renaming
  libs/langchain_v1/langchain/agents/react_agent.py
Due: none

more renaming
  libs/langchain_v1/langchain/agents/structured_output.py
Due: none

remove chains for now
  libs/langchain_v1/langchain/chains/__init__.py
  libs/langchain_v1/langchain/chains/documents/__init__.py
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
  libs/langchain_v1/langchain/globals.py
Due: none

chore(langchain): remove untested chains for first alpha (#32710)
  libs/langchain_v1/langchain/chains/__init__.py
  libs/langchain_v1/langchain/chains/documents/__init__.py
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
  libs/langchain_v1/langchain/globals.py
Due: none

renaming, removing blockbuster, fixing tests
  libs/langchain_v1/Makefile
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/agents/__init__.py
  libs/langchain_v1/tests/integration_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/langchain_v1/uv.lock
Due: none

lint exceptions
  libs/langchain_v1/pyproject.toml
Due: none

fix
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
Due: none

fix(langchain): (v1) delete unused chains (#32711)
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
Due: none

update core
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

update openai and anthropic
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: anthropic, openai

base chat model
  libs/langchain_v1/langchain/agents/react_agent.py
Due: none

linting
  libs/langchain_v1/langchain/agents/react_agent.py
Due: none

response format refinement
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

update workflows
  .github/scripts/check_diff.py
  .github/workflows/scheduled_test.yml
Due: none

using source
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/agents/tool_node.py
Due: none
