Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

fix(core): stop dropping list-content messages in list/XML parser streaming
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
  libs/core/tests/unit_tests/output_parsers/test_xml_parser.py
Due: core

fix(anthropic): preserve `response_metadata` when `stream_usage` is disabled
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(core): accept non-dict `Mapping` inputs in prompt templates
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Due: core

fix(core): make `convert_to_openai_function` handle callables and non-dict mappings
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(core): dispatch on_llm_start to non-inline handlers when inline handlers exist
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
Due: core

fix(openai): preserve streamed refusals
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

chore(model-profiles): refresh model profile data
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: none

fix(core): allow deserializing `RunnablePick`
  libs/core/langchain_core/load/mapping.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

fix(core): exclude `args_schema` from tool dumps
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

fix(core): dump `args_schema` as its own JSON schema
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

feat(langchain): support custom token_counter in ContextEditingMiddleware
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

feat(langchain): support custom token_counter in ContextEditingMiddleware (#39754)
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

cr (rename ModelServerError -> ModelAPIError)
  libs/core/langchain_core/exceptions.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: core, anthropic, fireworks, mistralai, openai

fix(core): filter injected args before validation in strict args_schema
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Due: core

wire in exception types
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Due: anthropic, fireworks, mistralai

tests
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: anthropic, fireworks, mistralai, openai

fix(core): ensure langchain_core.tools is loaded before attribute access (gh-39749)
  libs/core/langchain_core/utils/function_calling.py
Due: core

clean up
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(core): make `convert_to_openai_function` handle callables and non-dict mappings (#39750)
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

soften docstring on ModelInvalidRequestError
  libs/core/langchain_core/exceptions.py
Due: core

fix(core): allow deserializing `RunnablePick` (#39753)
  libs/core/langchain_core/load/mapping.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

feat(core): add standard model exception types (#39538)
  libs/core/langchain_core/exceptions.py
  libs/langchain_v1/langchain/agents/middleware/_retry.py
  libs/langchain_v1/langchain/agents/middleware/model_retry.py
  libs/langchain_v1/langchain/agents/middleware/tool_retry.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: core, anthropic, fireworks, mistralai, openai

increment version
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

fix(core): resolve postponed annotations in `StructuredTool._injected_args_keys` (#39602)
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/test_tools_postponed_annotations.py
Due: core

drop snapshot version checks
  libs/core/scripts/check_version.py
Due: core

fix(core): support all Mapping types as prompt template inputs (#39743)
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Due: core

release(core): 1.6.0 (#39760)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/scripts/check_version.py
  libs/core/uv.lock
Due: core, core-version

bump core and increment version
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

bump core and increment version
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(langchain): accept non-list config sequences in `batch_as_completed`
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Due: none

fix(langchain): support singleton tuple config in _ConfigurableModel batch and batch_as_completed (#39765)
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Due: none

fix(core): accept Mapping inputs in BasePromptTemplate._validate_input (#39743)
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Due: core

fix(fireworks): require explicit FIREWORKS_API_KEY to prevent credential leakage
  libs/partners/fireworks/langchain_fireworks/rerank.py
Due: fireworks

fix(langchain): frame custom HITL rejection reasons
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

release(openai): 1.6.0 (#39762)
  libs/partners/openai/langchain_openai/_version.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Due: openai

release(anthropic): 1.6.0 (#39763)
  libs/partners/anthropic/langchain_anthropic/_version.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(perplexity): include type="message" on Responses input items
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models_responses.py
Due: none

fix(langchain): simplify bare HITL rejection guidance
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

fix(core): retry batches when the exception is falsey
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

fix(core): allow deserializing `ImagePromptValue`
  libs/core/langchain_core/load/mapping.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
