Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

ci(model-profiles): extract reusable workflow for cross-repo profile refresh
  .github/workflows/_refresh_model_profiles.yml
  .github/workflows/refresh_model_profiles.yml
Due: none

ci(model-profiles): extract reusable workflow for cross-repo profile refresh (#36038)
  .github/workflows/_refresh_model_profiles.yml
  .github/workflows/refresh_model_profiles.yml
Due: none

chore(model-profiles): refresh model profile data
  libs/partners/openai/langchain_openai/data/_profiles.py
Due: openai

fix(core): support float values in _dict_int_op
  libs/core/langchain_core/utils/usage.py
Due: core

fix: handle float values in streaming aggregation
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

ci: consolidate PR labeling into unified workflows
  .github/pr-file-labeler.yml
  .github/scripts/pr-labeler-config.json
  .github/scripts/pr-labeler.js
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
  .github/workflows/pr_size_labeler.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-contributions.yml
  .github/workflows/tag-external-issues.yml
  AGENTS.md
  CLAUDE.md
Due: none

cr
  .github/scripts/pr-labeler.js
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-issues.yml
  CLAUDE.md
Due: none

cr
  AGENTS.md
Due: none

.
  AGENTS.md
Due: none

fix: handle non-dict tool arguments as invalid tool calls
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

cr
  .github/scripts/pr-labeler-config.json
  .github/scripts/pr-labeler.js
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_lint.yml
  .github/workflows/tag-external-issues.yml
Due: none

cr
  .github/workflows/require_issue_link.yml
Due: none

fix(core): support float values in merge_dicts and _dict_int_op
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/usage.py
Due: core

cr
  .github/scripts/pr-labeler-config.json
  .github/scripts/pr-labeler.js
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-issues.yml
Due: none

fix(usage): support float values in _dict_int_op
  libs/core/langchain_core/utils/usage.py
Due: core

ci: consolidate PR labeling into unified workflows (#36042)
  .github/pr-file-labeler.yml
  .github/scripts/pr-labeler-config.json
  .github/scripts/pr-labeler.js
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
  .github/workflows/pr_lint.yml
  .github/workflows/pr_size_labeler.yml
  .github/workflows/require_issue_link.yml
  .github/workflows/tag-external-contributions.yml
  .github/workflows/tag-external-issues.yml
  AGENTS.md
  CLAUDE.md
Due: none

ci(lint): avoid unnecessary dep installs in lint targets
  libs/core/Makefile
  libs/langchain_v1/Makefile
  libs/model-profiles/Makefile
  libs/model-profiles/scripts/lint_imports.sh
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/scripts/lint_imports.sh
  libs/partners/chroma/Makefile
  libs/partners/chroma/scripts/lint_imports.sh
  libs/partners/deepseek/Makefile
  libs/partners/deepseek/scripts/lint_imports.sh
  libs/partners/exa/Makefile
  libs/partners/exa/scripts/lint_imports.sh
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/scripts/lint_imports.sh
  libs/partners/groq/Makefile
  libs/partners/groq/scripts/lint_imports.sh
  libs/partners/huggingface/Makefile
  libs/partners/huggingface/scripts/lint_imports.sh
  libs/partners/mistralai/Makefile
  libs/partners/mistralai/scripts/lint_imports.sh
  libs/partners/nomic/Makefile
  libs/partners/nomic/scripts/lint_imports.sh
  libs/partners/ollama/Makefile
  libs/partners/ollama/scripts/lint_imports.sh
  libs/partners/openai/Makefile
  libs/partners/openai/scripts/lint_imports.sh
  libs/partners/openrouter/Makefile
  libs/partners/openrouter/scripts/lint_imports.sh
  libs/partners/perplexity/Makefile
  libs/partners/perplexity/scripts/lint_imports.sh
  libs/partners/qdrant/Makefile
  libs/partners/qdrant/scripts/lint_imports.sh
  libs/partners/xai/Makefile
  libs/partners/xai/scripts/lint_imports.sh
  libs/standard-tests/Makefile
  libs/standard-tests/scripts/lint_imports.sh
  libs/text-splitters/Makefile
  libs/text-splitters/scripts/lint_imports.sh
Due: core, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant

nit
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_labeler_backfill.yml
Due: none

cr
  libs/core/Makefile
  libs/langchain_v1/Makefile
  libs/model-profiles/Makefile
  libs/partners/anthropic/Makefile
  libs/partners/chroma/Makefile
  libs/partners/deepseek/Makefile
  libs/partners/exa/Makefile
  libs/partners/fireworks/Makefile
  libs/partners/groq/Makefile
  libs/partners/huggingface/Makefile
  libs/partners/mistralai/Makefile
  libs/partners/nomic/Makefile
  libs/partners/ollama/Makefile
  libs/partners/openai/Makefile
  libs/partners/openrouter/Makefile
  libs/partners/perplexity/Makefile
  libs/partners/qdrant/Makefile
  libs/partners/xai/Makefile
  libs/standard-tests/Makefile
  libs/text-splitters/Makefile
Due: core, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant

cr
  libs/partners/huggingface/Makefile
  libs/text-splitters/Makefile
  libs/text-splitters/pyproject.toml
Due: text-splitters, huggingface

cr
  libs/partners/huggingface/pyproject.toml
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters, huggingface

cr
  libs/partners/huggingface/Makefile
  libs/text-splitters/Makefile
Due: text-splitters, huggingface

ci: replace deprecated codspeed instrumentation mode with simulation
  .github/workflows/check_diffs.yml
Due: none

cr
  .github/workflows/check_diffs.yml
Due: none

ci: replace deprecated codspeed `instrumentation` mode with `simulation` (#36047)
  .github/workflows/check_diffs.yml
Due: none

fix: add float support to merge_dicts and merge_obj
  libs/core/langchain_core/utils/_merge.py
Due: core

ci: use codspeed `walltime` mode for slow partners
  .github/scripts/check_diff.py
  .github/workflows/check_diffs.yml
Due: none

ci: use codspeed `walltime` mode for slow partners (#36049)
  .github/scripts/check_diff.py
  .github/workflows/check_diffs.yml
Due: none

chore(text-splitters): speed up ci
  libs/text-splitters/Makefile
Due: text-splitters

cr
  libs/text-splitters/Makefile
Due: text-splitters

chore(text-splitters): speed up ci (#36050)
  libs/text-splitters/Makefile
Due: text-splitters

ci: decouple codspeed from ci gate
  .github/workflows/check_diffs.yml
Due: none

cr
  .github/workflows/check_diffs.yml
  .github/workflows/codspeed.yml
Due: none

fix(openai): treat non-dict JSON tool arguments as invalid tool calls
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

cr
  .github/workflows/codspeed.yml
Due: none

ci: decouple codspeed from ci gate (#36051)
  .github/workflows/check_diffs.yml
  .github/workflows/codspeed.yml
Due: none

fix(core): handle float type in merge_dicts, merge_obj, and _dict_int_op
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

ci(infra): drop redundant opened trigger from issue-link check
  .github/workflows/require_issue_link.yml
Due: none

ci(infra): drop redundant opened trigger from issue-link check (#36054)
  .github/workflows/require_issue_link.yml
Due: none
