Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: core
        name: format and lint core
        language: system
        entry: make -C libs/core format lint
        files: ^libs/core/
        pass_filenames: false
      - id: langchain
        name: format and lint langchain
        language: system
        entry: make -C libs/langchain format lint
        files: ^libs/langchain/
        pass_filenames: false
      - id: standard-tests
        name: format and lint standard-tests
        language: system
        entry: make -C libs/standard-tests format lint
        files: ^libs/standard-tests/
        pass_filenames: false
      - id: text-splitters
        name: format and lint text-splitters
        language: system
        entry: make -C libs/text-splitters format lint
        files: ^libs/text-splitters/
        pass_filenames: false
      - id: anthropic
        name: format and lint partners/anthropic
        language: system
        entry: make -C libs/partners/anthropic format lint
        files: ^libs/partners/anthropic/
        pass_filenames: false
      - id: chroma
        name: format and lint partners/chroma
        language: system
        entry: make -C libs/partners/chroma format lint
        files: ^libs/partners/chroma/
        pass_filenames: false
      - id: exa
        name: format and lint partners/exa
        language: system
        entry: make -C libs/partners/exa format lint
        files: ^libs/partners/exa/
        pass_filenames: false
      - id: fireworks
        name: format and lint partners/fireworks
        language: system
        entry: make -C libs/partners/fireworks format lint
        files: ^libs/partners/fireworks/
        pass_filenames: false
      - id: groq
        name: format and lint partners/groq
        language: system
        entry: make -C libs/partners/groq format lint
        files: ^libs/partners/groq/
        pass_filenames: false
      - id: huggingface
        name: format and lint partners/huggingface
        language: system
        entry: make -C libs/partners/huggingface format lint
        files: ^libs/partners/huggingface/
        pass_filenames: false
      - id: mistralai
        name: format and lint partners/mistralai
        language: system
        entry: make -C libs/partners/mistralai format lint
        files: ^libs/partners/mistralai/
        pass_filenames: false
      - id: nomic
        name: format and lint partners/nomic
        language: system
        entry: make -C libs/partners/nomic format lint
        files: ^libs/partners/nomic/
        pass_filenames: false
      - id: ollama
        name: format and lint partners/ollama
        language: system
        entry: make -C libs/partners/ollama format lint
        files: ^libs/partners/ollama/
        pass_filenames: false
      - id: openai
        name: format and lint partners/openai
        language: system
        entry: make -C libs/partners/openai format lint
        files: ^libs/partners/openai/
        pass_filenames: false
      - id: prompty
        name: format and lint partners/prompty
        language: system
        entry: make -C libs/partners/prompty format lint
        files: ^libs/partners/prompty/
        pass_filenames: false
      - id: qdrant
        name: format and lint partners/qdrant
        language: system
        entry: make -C libs/partners/qdrant format lint
        files: ^libs/partners/qdrant/
        pass_filenames: false

fix(core): don't mask exceptions (#33959)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

docs: Fix doc links (#33964)
  libs/langchain_v1/langchain/chat_models/base.py
Due: none

fix: adding missing async hooks (#33957)
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/model_call_limit.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_file_search.py
Due: anthropic

nits
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
Due: anthropic

bash improvements
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

lint
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

refactor
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

shell tool
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

gitignore
  .gitignore
Due: none

fix: shell tools of all sorts (#33972)
  .gitignore
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

resolve code review
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

release(core): 1.0.5
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

.
  libs/core/langchain_core/version.py
Due: core

release(core): 1.0.5 (#33973)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core

add model-profiles to test dependencies
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

read model profile in _supports_provider_strategy
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
Due: none

add gpt-4o to hard-coded list
  libs/langchain_v1/langchain/agents/factory.py
Due: none

fix(anthropic): execute bash + file tools via tool node (#33960)
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
Due: anthropic

model retry
  libs/langchain/uv.lock
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/model_retry.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_model_retry.py
Due: langchain

fix: add filesystem middleware in init (#33955)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
Due: none

lc bump
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

release(anthropic): 1.0.3 (#33935)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

uca bump
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

fix: cherry picking fixes for langchain + langchain-anthropic releases (#33975)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/model_call_limit.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
  libs/partners/anthropic/langchain_anthropic/middleware/anthropic_tools.py
  libs/partners/anthropic/langchain_anthropic/middleware/bash.py
  libs/partners/anthropic/langchain_anthropic/middleware/file_search.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/unit_tests/middleware/test_bash.py
  libs/partners/anthropic/tests/unit_tests/middleware/test_file_search.py
  libs/partners/anthropic/uv.lock
Due: anthropic

chore: increase coverage for shell, filesystem, and summarization middleware (#33928)
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_file_search.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

summarization edits
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

docs
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

cleanup
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

Revert "cleanup"
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

cr
  libs/langchain_v1/langchain/agents/factory.py
Due: none

feat(langchain): reference model profiles for provider strategy (#33974)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/uv.lock
Due: none

parametrize
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

readable tests
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

context trimming
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/_context.py
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

resumable shell
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
  libs/langchain_v1/uv.lock
Due: none

helpers
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
Due: none

skip json schema annotation
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
Due: none
