Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

chore: update commit standards to enforce lowercase titles and required scopes (#34847)
  .github/workflows/pr_lint.yml
  AGENTS.md
  CLAUDE.md
Due: none

fix: Tool Choice to Required for Azure Deployment
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

chore: Update outdated GitHub Actions versions
  .github/workflows/tag-external-contributions.yml
Due: none

docs: add example to create_message function docstring
  libs/core/langchain_core/exceptions.py
Due: core

docs: fix broken link in AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

Update libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

feat: dynamic tool registration via middleware (#34842)
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_dynamic_tools.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_tools.py
  libs/langchain_v1/uv.lock
Due: none

bumpo
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

release: langchain 1.2.7 (#34854)
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

infra
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/pr-file-labeler.yml
  .github/scripts/check_diff.py
  .github/workflows/auto-label-by-package.yml
  .github/workflows/pr_lint.yml
  AGENTS.md
  CLAUDE.md
Due: none

fix(docs): remove extra asterisk from heading in AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

fix(text-splitters): fix typo 'seperator' -> 'separator' in test docstring
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(text-splitters): fix typo 'seperator' -> 'separator' in test docs… (#34857)
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(docs): remove extra asterisk from heading in AGENTS.md and CLAUDE.md (#34856)
  AGENTS.md
  CLAUDE.md
Due: none

fix(docs): broken link in AGENTS.md and CLAUDE.md (#34852)
  AGENTS.md
  CLAUDE.md
Due: none

Apply suggestion from @mdrxy
  .github/workflows/tag-external-contributions.yml
Due: none

chore: Update outdated GitHub Actions versions (#34850)
  .github/workflows/tag-external-contributions.yml
Due: none

fix(langchain): fix typo 'safegaurd' -> 'safeguard' (#34789)
  libs/langchain/langchain_classic/smith/evaluation/runner_utils.py
Due: langchain

test(langchain): use blockbuster to detect blocking calls in the async event loop (#34777)
  libs/langchain_v1/langchain/agents/middleware/shell_tool.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/langchain_v1/uv.lock
Due: none

docs: add Chat LangChain link and highlight Deep Agents
  README.md
Due: none

docs: add Chat LangChain link and highlight Deep Agents (#34858)
  README.md
Due: none

feat(community): add MeshtasticSendTool for offline LoRa mesh communication
  PR_DESCRIPTION.md
  libs/community/langchain_community/__init__.py
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/meshtastic_tool.py
  libs/community/tests/__init__.py
  libs/community/tests/unit_tests/__init__.py
  libs/community/tests/unit_tests/tools/__init__.py
  libs/community/tests/unit_tests/tools/test_meshtastic_tool.py
Due: none

feat(infra): add langchain-meshtastic partner package for LoRa mesh communication
  PR_DESCRIPTION.md
  libs/community/langchain_community/__init__.py
  libs/community/langchain_community/tools/__init__.py
  libs/community/tests/__init__.py
  libs/community/tests/unit_tests/__init__.py
  libs/community/tests/unit_tests/tools/__init__.py
  libs/partners/meshtastic/.gitignore
  libs/partners/meshtastic/LICENSE
  libs/partners/meshtastic/Makefile
  libs/partners/meshtastic/README.md
  libs/partners/meshtastic/langchain_meshtastic/__init__.py
  libs/partners/meshtastic/langchain_meshtastic/py.typed
  libs/partners/meshtastic/langchain_meshtastic/tools.py
  libs/partners/meshtastic/pyproject.toml
  libs/partners/meshtastic/scripts/check_imports.py
  libs/partners/meshtastic/scripts/lint_imports.sh
  libs/partners/meshtastic/tests/__init__.py
  libs/partners/meshtastic/tests/integration_tests/__init__.py
  libs/partners/meshtastic/tests/integration_tests/test_compile.py
  libs/partners/meshtastic/tests/unit_tests/__init__.py
  libs/partners/meshtastic/tests/unit_tests/test_imports.py
  libs/partners/meshtastic/tests/unit_tests/test_tools.py
Due: none

chore(infra): add uv.lock for langchain-meshtastic
  libs/partners/meshtastic/uv.lock
Due: none

docs: clarify @tool decorator argument and return type requirements
  libs/core/langchain_core/tools/convert.py
Due: core

fix(infra): address lint issues in langchain-meshtastic
  libs/partners/meshtastic/langchain_meshtastic/tools.py
  libs/partners/meshtastic/pyproject.toml
  libs/partners/meshtastic/scripts/check_imports.py
Due: none

fix(infra): use specific exception types in meshtastic tests
  libs/partners/meshtastic/tests/unit_tests/test_tools.py
Due: none

fix(infra): add lint_package target to meshtastic Makefile
  libs/partners/meshtastic/Makefile
Due: none

fix(infra): fix line length in meshtastic docstring
  libs/partners/meshtastic/langchain_meshtastic/tools.py
Due: none

fix(core): google docstring parsing validation with no-arguments
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

fix(infra): add ignore_missing_imports for mypy in meshtastic
  libs/partners/meshtastic/pyproject.toml
Due: none

fix(infra): add noqa comment for long line in docstring
  libs/partners/meshtastic/langchain_meshtastic/tools.py
Due: none

fix(infra): fix generator return type in meshtastic tests
  libs/partners/meshtastic/tests/unit_tests/test_tools.py
Due: none

.
  libs/core/extended_testing_deps.txt
Due: core

.
  libs/core/Makefile
Due: core

style(langchain): lint
  libs/langchain_v1/README.md
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/embeddings/base.py
Due: none

style(model-profiles): lint
  libs/model-profiles/README.md
  libs/model-profiles/langchain_model_profiles/cli.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
