Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant, root

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

couchbase:
  name: format and lint partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

prompty:
  name: format and lint partners/prompty
  language: system
  entry: make -C libs/partners/prompty format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

root:
  name: format and lint docs, cookbook
  language: system
  entry: make format lint
  pass_filenames: false

annoying comments
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

unused
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

fix: lift openai version constraints across packages
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
Due: fireworks, openai

fix langchain anthropic tests
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

fix: lift openai version constraints across packages (#33088)
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
Due: fireworks, openai

fix(langchain): need to inject all state for tools registered by middleware (#33087)
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

style: repo linting pass (#33089)
  libs/langchain_v1/pyproject.toml
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/langchain_exa/tools.py
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/langchain_fireworks/embeddings.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/pyproject.toml
  libs/partners/perplexity/pyproject.toml
  libs/partners/prompty/pyproject.toml
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/qdrant/pyproject.toml
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/pyproject.toml
Due: anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, prompty, qdrant

feat(langchain): improvements to anthropic prompt caching (#33058)
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

release
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

release(langchain): 1.0.0a8 (#33090)
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: none

.
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

.
  docs/docs/how_to/index.mdx
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/prompt_values.py
Due: core, root

.
  libs/core/langchain_core/messages/base.py
Due: core

chore: update link for monorepo structure
  SECURITY.md
Due: none

chore: update link for monorepo structure (#33091)
  SECURITY.md
Due: none

.
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/system.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
Due: core

ss
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Due: core

.
  libs/core/langchain_core/language_models/fake_chat_models.py
Due: core

.
  libs/core/tests/unit_tests/stubs.py
Due: core

.
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
Due: core

.
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/tool.py
Due: core

.
  libs/core/langchain_core/messages/ai.py
Due: core

.
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/uv.lock
Due: core

.
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/utils.py
Due: core

.
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

style: update workflow name for version equality check
  .github/workflows/check_core_versions.yml
Due: none

style(core): typo/docs lint pass (#33093)
  docs/docs/how_to/index.mdx
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/system.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/prompt_values.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/stubs.py
  libs/core/uv.lock
Due: core, root

style: update workflow name for version equality check (#33094)
  .github/workflows/check_core_versions.yml
Due: none

add note
  libs/langchain_v1/langchain/__init__.py
Due: none

fix(langchain_v1): version equality check
  libs/langchain_v1/langchain/__init__.py
Due: none

fix(langchain_v1): version equality check (#33095)
  libs/langchain_v1/langchain/__init__.py
Due: none

anthropic fix
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
Due: none

chore: update `pull_request_target` types, harden
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
Due: none

chore: update `pull_request_target` types, harden (#33096)
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
Due: none

also moving to end
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

anotha fix
  libs/langchain_v1/langchain/agents/middleware_agent.py
Due: none

linting
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

linting
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
Due: none

fix(langchain): extra arg for anthropic caching, `__end__` -> `end` for `jump_to` (#33097)
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Due: none

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  root: any of: ^(docs|cookbook)/
