Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

retrievers: update to use a pydantic field
  libs/langchain/langchain/retrievers/time_weighted_retriever.py
Due: langchain

add
  .github/workflows/pr_lint.yml
Due: none

chore: add PR title linting (#31943)
  .github/workflows/pr_lint.yml
Due: none

chore: clean up capitalization in workflow names
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/api_doc_build.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_new_docs.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Due: none

chore: clean up capitalization in workflow names (#31944)
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/api_doc_build.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_new_docs.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Due: none

chore[langchain]: fix broad base except in crawler.py (#31941)
  libs/langchain/langchain/chains/natbot/crawler.py
Due: langchain

Checkpoint before follow-up message
  ticket_broker/config/settings.py
  ticket_broker/data_collectors/billboard_collector.py
  ticket_broker/data_collectors/spotify_collector.py
  ticket_broker/models/event_models.py
  ticket_broker/requirements.txt
Due: none

Add comprehensive ticket broker optimization system implementation
  SYSTEM_OVERVIEW.md
  example_analysis.py
  install.sh
  ticket_broker/.env.example
  ticket_broker/README.md
  ticket_broker/__init__.py
  ticket_broker/config/__init__.py
  ticket_broker/data_collectors/__init__.py
  ticket_broker/data_collectors/showsonsale_collector.py
  ticket_broker/main.py
  ticket_broker/models/__init__.py
  ticket_broker/utils/__init__.py
  ticket_broker/utils/scoring_engine.py
Due: none

Create comprehensive slide deck for Ticket Broker Pro UI presentation
  Ticket_Broker_UI_Slide_Deck.md
Due: none

test type narrowing option
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

capitalization
  libs/core/langchain_core/vectorstores/utils.py
Due: core

capitalization
  libs/core/tests/unit_tests/vectorstores/test_utils.py
Due: core

fix[core]: added error message if the query vector or embedding contains NaN values (#31822)
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/tests/unit_tests/vectorstores/test_utils.py
Due: core

text-splitters: Add ruff rules FBT (#31935)
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Due: text-splitters

[chore]: Dynamic Upgrade of Max Tokens for Anthropic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

Add packaging and sharing infrastructure for Ticket Broker Pro
  MANIFEST.in
  README_SHARING.md
  SHARING_GUIDE.md
  package_for_sharing.sh
  setup.py
Due: none

feat: 添加消息优先级和过期时间支持，增强配置版本管理功能
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/schema.py
  libs/core/langchain_core/tools/simple.py
Due: core

fix
  libs/core/langchain_core/runnables/config.py
Due: core

fix2
  libs/core/langchain_core/runnables/config.py
Due: core

fix tests
  libs/core/langchain_core/runnables/config.py
Due: core

refactor(config): 重构 RunnableConfig 类
  libs/core/langchain_core/runnables/config.py
Due: core

lint fix
  libs/core/langchain_core/runnables/config.py
Due: core

lint fix
  libs/core/langchain_core/runnables/schema.py
  libs/core/langchain_core/tools/simple.py
Due: core

lint fix
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/runnables/schema.py
  libs/core/langchain_core/tools/simple.py
Due: core

fix
  libs/core/langchain_core/runnables/schema.py
Due: core

fix
  libs/core/langchain_core/tools/simple.py
Due: core

fix: add payload conversion for ToolMessage in ChatDeepSeek to stringify lists
  libs/partners/deepseek/langchain_deepseek/chat_models.py
Due: none

fix: resolve linting errors - remove whitespace and add type hints
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

test: add unit tests for ToolMessage payload conversion in ChatDeepSeek
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
Due: none

docs updates
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/xai/langchain_xai/chat_models.py
Due: groq, openai

more docs
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/xai/langchain_xai/chat_models.py
Due: root

test slight refactor
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/tests/unit_tests/test_secrets.py
Due: none

docs: enhance documentation for token limits and reasoning support in ChatXAI
  libs/partners/xai/langchain_xai/chat_models.py
Due: none

docs: update reasoning content documentation and adjust test model names
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Due: none

refactor: fix tests
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Due: none

docs(xai): update for Grok 4 (#31953)
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/tests/unit_tests/test_secrets.py
Due: groq, openai, root
