Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

increment version
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Due: text-splitters

release(text-splitters): 1.1.2 (#36822)
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Due: text-splitters

add deprecations
  libs/langchain/langchain_classic/chains/openai_functions/openapi.py
Due: langchain

chore(langchain-classic): add deprecations (#36826)
  libs/langchain/langchain_classic/chains/openai_functions/openapi.py
Due: langchain

bump deps and increment version
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

release(langchain-classic): 1.0.4 (#36827)
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Due: langchain

x
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Due: core

x
  libs/core/uv.lock
Due: core

feat(core): Add chat model and LLM invocation params to traceable metadata (#36771)
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/llms/test_base.py
  libs/core/uv.lock
Due: core

feat(core): add content-block-centric streaming (v2)
  libs/core/langchain_core/language_models/_compat_bridge.py
  libs/core/langchain_core/language_models/chat_model_stream.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/language_models/test_chat_model_stream.py
  libs/core/tests/unit_tests/language_models/test_chat_model_streamer.py
  libs/core/tests/unit_tests/language_models/test_compat_bridge.py
  libs/core/tests/unit_tests/language_models/test_stream_v2.py
  libs/core/tests/unit_tests/language_models/test_v1_parity.py
  libs/core/uv.lock
Due: core, core-version

fix(core): forward bound kwargs through RunnableBinding.stream_v2
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/language_models/test_chat_model_streamer.py
Due: core

x
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_config.py
Due: core

chore(core): keep checkpoint_ns behavior in streaming metadata for backwards compat (#36828)
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_config.py
Due: core

x
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

x
  libs/core/langchain_core/version.py
Due: core, core-version

release(core): 1.3.0a3 (#36829)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

harden hostname validation and reject URLs in repo_id
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Due: huggingface

fix(huggingface): harden hostname validation and reject URLs in repo_id (#36831)
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Due: huggingface

bump core and increment version
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Due: huggingface

release(huggingface): 1.2.2 (#36832)
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Due: huggingface

bump langchain-protocol to 0.0.8 from pypi
  libs/core/pyproject.toml
  libs/core/uv.lock
Due: core, core-version

populate on_llm_end, propagate cancellation, add message_to_events
  libs/core/langchain_core/language_models/_compat_bridge.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/test_chat_model_streamer.py
  libs/core/tests/unit_tests/language_models/test_compat_bridge.py
Due: core

bump sdk
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Due: anthropic

pull model profile data
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
Due: anthropic

add augmentation for structured output
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
  libs/partners/anthropic/langchain_anthropic/data/profile_augmentations.toml
Due: anthropic

add on_stream_event callback for v2 protocol events
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/test_chat_model_streamer.py
Due: core

format message_to_events per ruff
  libs/core/langchain_core/language_models/_compat_bridge.py
Due: core

simplify AsyncProjection with asyncio.Event
  libs/core/langchain_core/language_models/chat_model_stream.py
Due: core

promote projection and stream producer API to public
  libs/core/langchain_core/language_models/chat_model_stream.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/test_chat_model_stream.py
  libs/core/tests/unit_tests/language_models/test_chat_model_streamer.py
  libs/core/tests/unit_tests/language_models/test_compat_bridge.py
  libs/core/tests/unit_tests/language_models/test_stream_v2.py
Due: core

perf(core): lazy-import transformers in get_tokenizer()
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/language_models/test_base_lazy_imports.py
Due: core

docs: add OnCell integration — persistent sandboxed environments for agents
  docs/docs/integrations/providers/oncell.mdx
Due: none

fixed the condition in _root_to_dict
  libs/core/langchain_core/output_parsers/xml.py
Due: core

updated the method and added an unit test
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/tests/unit_tests/output_parsers/test_xml_parser.py
Due: core

fixed mypy
  libs/core/langchain_core/output_parsers/xml.py
Due: core

chore(model-profiles): refresh model profile data
  libs/partners/anthropic/langchain_anthropic/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: anthropic
