Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/
      pass_filenames: false
    - id: anthropic
      name: format partners/anthropic
      language: system
      entry: make -C libs/partners/anthropic format
      files: ^libs/partners/anthropic/
      pass_filenames: false
    - id: chroma
      name: format partners/chroma
      language: system
      entry: make -C libs/partners/chroma format
      files: ^libs/partners/chroma/
      pass_filenames: false
    - id: couchbase
      name: format partners/couchbase
      language: system
      entry: make -C libs/partners/couchbase format
      files: ^libs/partners/couchbase/
      pass_filenames: false
    - id: exa
      name: format partners/exa
      language: system
      entry: make -C libs/partners/exa format
      files: ^libs/partners/exa/
      pass_filenames: false
    - id: fireworks
      name: format partners/fireworks
      language: system
      entry: make -C libs/partners/fireworks format
      files: ^libs/partners/fireworks/
      pass_filenames: false
    - id: groq
      name: format partners/groq
      language: system
      entry: make -C libs/partners/groq format
      files: ^libs/partners/groq/
      pass_filenames: false
    - id: huggingface
      name: format partners/huggingface
      language: system
      entry: make -C libs/partners/huggingface format
      files: ^libs/partners/huggingface/
      pass_filenames: false
    - id: mistralai
      name: format partners/mistralai
      language: system
      entry: make -C libs/partners/mistralai format
      files: ^libs/partners/mistralai/
      pass_filenames: false
    - id: nomic
      name: format partners/nomic
      language: system
      entry: make -C libs/partners/nomic format
      files: ^libs/partners/nomic/
      pass_filenames: false
    - id: ollama
      name: format partners/ollama
      language: system
      entry: make -C libs/partners/ollama format
      files: ^libs/partners/ollama/
      pass_filenames: false
    - id: openai
      name: format partners/openai
      language: system
      entry: make -C libs/partners/openai format
      files: ^libs/partners/openai/
      pass_filenames: false
    - id: pinecone
      name: format partners/pinecone
      language: system
      entry: make -C libs/partners/pinecone format
      files: ^libs/partners/pinecone/
      pass_filenames: false
    - id: prompty
      name: format partners/prompty
      language: system
      entry: make -C libs/partners/prompty format
      files: ^libs/partners/prompty/
      pass_filenames: false
    - id: qdrant
      name: format partners/qdrant
      language: system
      entry: make -C libs/partners/qdrant format
      files: ^libs/partners/qdrant/
      pass_filenames: false
    - id: voyageai
      name: format partners/voyageai
      language: system
      entry: make -C libs/partners/voyageai format
      files: ^libs/partners/voyageai/
      pass_filenames: false
    - id: root
      name: format docs, cookbook
      language: system
      entry: make format
      files: ^(docs|cookbook)/
      pass_filenames: false

docs(docs): fix broken link in Google Gemini text embedding integration (#32082)
  docs/src/theme/FeatureTables.js
Due: root

feat(docs): add Slack community link to footer (#32053)
  docs/docusaurus.config.js
Due: root

.
  docs/docs/integrations/text_embedding/ai21.ipynb
  docs/src/theme/FeatureTables.js
Due: root

refactor(langchain): remove `model_rebuild` (#32080)
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/memory/summary.py
Due: langchain

fix(docs): fix broken links (#32083)
  docs/docs/integrations/text_embedding/ai21.ipynb
  docs/src/theme/FeatureTables.js
Due: root

feat(langchain): add ruff rules PL
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/agents/format_scratchpad/xml.py
  libs/langchain/langchain/agents/openai_assistant/base.py
  libs/langchain/langchain/agents/react/base.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/combine_documents/map_reduce.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/combine_documents/reduce.py
  libs/langchain/langchain/chains/combine_documents/refine.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/natbot/crawler.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/base.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/globals.py
  libs/langchain/langchain/output_parsers/combining.py
  libs/langchain/langchain/output_parsers/pandas_dataframe.py
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/retrievers/test_multi_query.py
  libs/langchain/tests/unit_tests/stubs.py
  libs/langchain/uv.lock
Due: langchain

add msgpack as explicit test dep
  pyproject.toml
  uv.lock
Due: none

docs: remove AI21 embeddings section // no longer exists
  docs/docs/integrations/providers/ai21.mdx
  docs/docs/integrations/text_embedding/ai21.ipynb
Due: root

v2 refactor
  libs/core/langchain_core/messages/content_blocks.py
Due: core

docs: remove AI21 embeddings section (#32084)
  docs/docs/integrations/providers/ai21.mdx
  docs/docs/integrations/text_embedding/ai21.ipynb
Due: root

fix: `create_tool_calling_agent` typeof `llm` should be BaseChatModel
  libs/langchain/langchain/agents/tool_calling_agent/base.py
Due: langchain

update cassettes
  docs/cassettes/qa_chat_history_0907cef3-05cb-45c7-ab46-382c58c52eb1.msgpack.zlib
  docs/cassettes/qa_chat_history_4fbca953-970d-4271-be30-6c7799893dd1.msgpack.zlib
  docs/cassettes/qa_chat_history_5c7e1717-d262-4947-a64d-6b116e53856a.msgpack.zlib
  docs/cassettes/qa_chat_history_9ab78984-d7fa-40e1-a440-c041a6456c1f.msgpack.zlib
  docs/cassettes/qa_chat_history_a2f48f92-bd91-4033-a01b-7bd0667e3d87.msgpack.zlib
  docs/cassettes/qa_chat_history_b4369949-39f1-4cdc-b652-179e0b891b51.msgpack.zlib
  docs/cassettes/qa_chat_history_c6d16477-52f5-4755-83d1-60eebddfaaa0.msgpack.zlib
  docs/cassettes/qa_chat_history_c9d6f0ee-b5a9-4141-9f6f-ad86a04e083f.msgpack.zlib
  docs/cassettes/qa_chat_history_ffe06d69-33c9-4ca3-98fb-8c70cde9dba2.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_032e2b45-a78b-4778-afb5-f2f2ef296ad4.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_1fdbb4bb-8a28-47d9-b3db-1cd9a543ebc4.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_6ccf0204-6e64-413f-a110-e5dcb8a1c329.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_73920571-8c26-4988-adf1-b0f695fee50a.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_820244ae-74b4-4593-b392-822979dd91b8.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_e59541dd-405b-4032-847f-73becf6aefd0.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_e5aeea66-9653-49c9-98d8-113e54eb72cb.msgpack.zlib
  docs/cassettes/qa_chat_history_how_to_f48c5f7b-5281-4a03-84ed-d2e0cbd228a2.msgpack.zlib
  docs/cassettes/qa_citations_182362b0-075a-4d45-ad05-c4f39d410624.msgpack.zlib
  docs/cassettes/qa_citations_2903c47d-aae1-4662-bc1e-ee73ff774e88.msgpack.zlib
  docs/cassettes/qa_citations_315df7b2-bf7e-4d1c-9363-be753a6d590f.msgpack.zlib
  docs/cassettes/qa_citations_3376deae-9fea-4aaa-861a-d37d9121926c.msgpack.zlib
  docs/cassettes/qa_citations_37eaab79-74cd-4806-bdbd-7340652c425a.msgpack.zlib
  docs/cassettes/qa_citations_56f4b74f-36b6-4df5-ac95-f9e856401251.msgpack.zlib
  docs/cassettes/qa_citations_688b43cc-2766-4216-a9b5-245c18eb5675.msgpack.zlib
  docs/cassettes/qa_citations_a02d494e-2ba4-4626-b982-3fac8e65d0af.msgpack.zlib
  docs/cassettes/qa_citations_aef87758-c785-4484-ba59-9a784e5e1252.msgpack.zlib
  docs/cassettes/qa_citations_daad793f-f08d-4b56-90e8-3f015a79a88e.msgpack.zlib
Due: root

run some notebooks without cassettes
  docs/cassettes/qa_sources_24a69b8c-024e-4e34-b827-9c9de46512a3.msgpack.zlib
  docs/cassettes/qa_sources_53911d2e-f9b9-44b8-9baf-1c308201a7d0.msgpack.zlib
  docs/cassettes/qa_sources_95b6b784-8584-4b02-8307-8f2d93d4a166.msgpack.zlib
  docs/cassettes/qa_sources_a21bad79-3773-48b4-9d77-406e29b0cbf2.msgpack.zlib
  docs/cassettes/qa_sources_cd7dde97-25c6-49ce-9a0a-4cd36e36da2d.msgpack.zlib
  docs/cassettes/qa_sources_dacfd0b1-fbd8-4cd2-b429-34c47e0bafb0.msgpack.zlib
  docs/cassettes/qa_sources_def66576-2309-45b5-8699-f0287df8ca9e.msgpack.zlib
  docs/cassettes/qa_sources_dfc82ead-8504-4ae8-b593-9b69f23e5a57.msgpack.zlib
  docs/cassettes/qa_streaming_10b34088-2daf-4a66-86bb-d3a560d1015e.msgpack.zlib
  docs/cassettes/qa_streaming_249e71c6-6cc5-40c0-b58f-7ec949c6a28f.msgpack.zlib
  docs/cassettes/qa_streaming_3d8a2e68-7849-4c7e-ae6b-31f1f65f9b59.msgpack.zlib
  docs/cassettes/qa_streaming_8807d58d-7581-4360-8bd5-619e99ff3ce9.msgpack.zlib
  docs/cassettes/qa_streaming_e313d2c2-b2bb-4f84-8227-b91d988ded24.msgpack.zlib
  docs/cassettes/qa_streaming_e89a5def-f040-4fd6-a34b-6815eae5ed9a.msgpack.zlib
  docs/cassettes/rag_00d455e1-c681-4665-9470-58dbeca050d4.msgpack.zlib
  docs/cassettes/rag_28625cc3-0f77-4143-af51-ce0fd6682120.msgpack.zlib
  docs/cassettes/rag_46f378c5-858c-488f-8aef-8b59a6280791.msgpack.zlib
  docs/cassettes/rag_663b93ba-f0a7-44c4-a894-fe895bd5b009.msgpack.zlib
  docs/cassettes/rag_7b0971b5-8579-4a89-bd2e-9029dda4c4f1.msgpack.zlib
  docs/cassettes/rag_8a92d539-f85d-434b-b911-51a1cf9b81da.msgpack.zlib
  docs/cassettes/rag_8b420650-2d9e-4f5e-a8d8-ec36ae07423c.msgpack.zlib
  docs/cassettes/rag_e6314a96-aab8-4ecc-bbf9-094fa2aa0e50.msgpack.zlib
  docs/cassettes/rag_ebb3cbd7-7c75-4cc0-a198-ff7c54a0c43a.msgpack.zlib
  docs/cassettes/rag_feabc04f-b509-4452-8e2b-d7c7b7585a18.msgpack.zlib
  docs/scripts/prepare_notebooks_for_ci.py
Due: root

update permitted PR name scopes
  .github/workflows/pr_lint.yml
Due: none

delete new files
  debug_schemas.py
  debug_skip_keys.py
  fix_formatting.py
  test_fix.py
  test_fix2.py
  test_fix_verification.py
  test_issue_reproduction.py
Due: none

lint
  libs/core/langchain_core/utils/json_schema.py
  libs/core/tests/unit_tests/utils/test_json_schema.py
Due: core

fix
  libs/core/langchain_core/utils/json_schema.py
Due: core

fix: rename `block_type` to `annotation_type` in citation classes and update ReasoningContentBlock structure
  libs/core/langchain_core/messages/content_blocks.py
Due: core

refactor: remove unused import of _infer_skip_keys from json_schema.py
  libs/langchain/langchain/utils/json_schema.py
Due: langchain

Update pr_lint.yml
  .github/workflows/pr_lint.yml
Due: none

chore: update PR lint (#32091)
  .github/workflows/pr_lint.yml
Due: none

.
  libs/core/langchain_core/messages/content_blocks.py
Due: core

add to package registry
  libs/packages.yml
Due: none

nit
  docs/docs/integrations/providers/tensorlake.mdx
Due: root

Update tools.mdx
  docs/docs/concepts/tools.mdx
Due: root

docs: add tensorlake provider (#32046)
  docs/docs/integrations/providers/tensorlake.mdx
  libs/packages.yml
Due: root

Update FeatureTables.js
  docs/src/theme/FeatureTables.js
Due: root

docs(docs): correct package name from langchain-google_vertexai to langchain-google-vertexai for VertexAILLM (#32095)
  docs/src/theme/FeatureTables.js
Due: root

fix(docs): fix broken link in VertexAILLM and NVIDIA LLM integrations (#32096)
  docs/src/theme/FeatureTables.js
Due: root

Instead of nesting `tool_calls` within the `ReasoningContentBlock`, treat each step as a distinct block in a list
  libs/core/langchain_core/messages/content_blocks.py
Due: core

fix: rename `reasoning_effort` to `effort` in ReasoningContentBlock
  libs/core/langchain_core/messages/content_blocks.py
Due: core

feat: add ToolOutputContentBlock for tool call results
  libs/core/langchain_core/messages/content_blocks.py
Due: core

fix: update NonStandardContentBlock documentation and remove unnecessary fields
  libs/core/langchain_core/messages/content_blocks.py
Due: core

x
  libs/core/langchain_core/messages/v2.py
Due: core
