Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$

feat(langchain): add LangSmith provider to `init_chat_model` (#39224)
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

add aliases for bedrock mantle chat models
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(langchain): add aliases for bedrock mantle chat models (#39260)
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

tests
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

fix(huggingface): support Pydantic schemas in \with_structured_output"
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Due: huggingface

fix(langchain): make internal-call raw-log test shape-agnostic
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
Due: none

fix(langchain): synthesize ToolMessages for pending parallel calls in ToolCallLimitMiddleware
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

nits
  libs/langchain_v1/langchain/agents/_internal_call_transformer.py
Due: none

fix(langchain): stop end-behavior parallel calls from consuming thread quota
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

ntis
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
Due: none

`aadd_texts() got multiple values for keyword argument 'ids'`
  libs/core/langchain_core/vectorstores/base.py
Due: core

test(langchain): add end-to-end internal-call filtering tests
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
Due: none

fix(langchain): redact `PIIMiddleware` tool-call args and structured content in state hooks
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

fix(langchain): prevent orphaned `tool_calls` in `ToolCallLimitMiddleware` end behavior (#39258)
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_call_limit.py
Due: none

fix(langchain): persist `ClearToolUsesEdit` clears via `after_model`
  libs/langchain_v1/langchain/agents/middleware/context_editing.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_context_editing.py
Due: none

fix(langchain): suppress whole-message internal-call events too
  libs/langchain_v1/langchain/agents/_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
Due: none

Update base.py
  libs/core/langchain_core/vectorstores/base.py
Due: core

Refactor score_threshold validation for clarity
  libs/core/langchain_core/vectorstores/base.py
Due: core

test(langchain): add regression test for shell tool + checkpointer msgpack error
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_shell_tool.py
Due: none

fix(langchain): preserve history when `SummarizationMiddleware` summary generation fails
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(langchain): make `SummarizationMiddleware._find_safe_cutoff_point` cover full tool runs and thinking turns
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(langchain): make HITL interrupt() work without an ambient config context
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

test(langchain): add e2e regression test for summary-failure history loss
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

fix(anthropic): drop top-level `oneOf`/`anyOf`/`allOf` in `convert_to_anthropic_tool`
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

nits
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
Due: none

refactor(langchain): scope InternalCallTransformer to offending middleware
  libs/langchain_v1/langchain/agents/_internal_call_transformer.py
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
Due: none

fix(langchain): make internal-call marker unforgeable
  libs/langchain_v1/langchain/agents/_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

fix(langchain): handle malformed structured-output responses (#39245)
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

fix(anthropic): drop tools with unsupported top-level schema composition in `bind_tools`
  libs/partners/anthropic/langchain_anthropic/__init__.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(core): parse tool call args strictly once the stream has ended
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/messages/test_ai.py
Due: core

fix(anthropic): validate `tool_choice` against the filtered tool list
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

chore(anthropic): update lockfile
  libs/partners/anthropic/uv.lock
Due: anthropic

fix(anthropic): clarify invalid forced tool choices
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

refactor(anthropic): use builtin `UserWarning` for dropped tools
  libs/partners/anthropic/langchain_anthropic/__init__.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

fix(anthropic): preserve thinking fallback for filtered tools
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic

nits
  libs/langchain_v1/langchain/agents/middleware/summarization.py
Due: none

feat(langchain): make InternalCallTransformer public, fix dedup, preserve raw events
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/internal_call_transformer.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/tool_emulator.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/core/test_internal_call_transformer.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_summarization.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_emulator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_tool_selection.py
Due: none

fix(anthropic): raise when tool filtering leaves no usable tool
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: anthropic
