Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, anthropic, chroma, couchbase, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, pinecone, prompty, qdrant, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

qdrant:
  name: format partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format
  pass_filenames: false

voyageai:
  name: format partners/voyageai
  language: system
  entry: make -C libs/partners/voyageai format
  pass_filenames: false

root:
  name: format docs, cookbook
  language: system
  entry: make format
  pass_filenames: false

x
  libs/langchain_v1/.dockerignore
  libs/langchain_v1/langchain/chat_models/__init__.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/memory/__init__.py
  libs/langchain_v1/langchain/prompts/__init__.py
  libs/langchain_v1/langchain/storage/__init__.py
  libs/langchain_v1/langchain/storage/_lc_store.py
  libs/langchain_v1/langchain/storage/file_system.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_imports.py
  libs/langchain_v1/tests/unit_tests/prompts/__init__.py
  libs/langchain_v1/tests/unit_tests/prompts/test_imports.py
  libs/langchain_v1/tests/unit_tests/storage/test_filesystem.py
  libs/langchain_v1/tests/unit_tests/storage/test_imports.py
  libs/langchain_v1/tests/unit_tests/storage/test_lc_store.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Due: none

x
  .github/workflows/pr_lint.yml
Due: none

fix(text-splitters): update lock for release
  libs/text-splitters/uv.lock
Due: text-splitters

fix(text-splitters): update langchain-core version to 0.3.72
  libs/text-splitters/pyproject.toml
Due: text-splitters

fix(langchain): update deps
  libs/langchain/pyproject.toml
Due: langchain

chore(langchain_v1): clean anything uncertain (#32228)
  .github/workflows/pr_lint.yml
  libs/langchain_v1/.dockerignore
  libs/langchain_v1/langchain/chat_models/__init__.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/memory/__init__.py
  libs/langchain_v1/langchain/prompts/__init__.py
  libs/langchain_v1/langchain/storage/__init__.py
  libs/langchain_v1/langchain/storage/_lc_store.py
  libs/langchain_v1/langchain/storage/file_system.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_imports.py
  libs/langchain_v1/tests/unit_tests/prompts/__init__.py
  libs/langchain_v1/tests/unit_tests/prompts/test_imports.py
  libs/langchain_v1/tests/unit_tests/storage/test_filesystem.py
  libs/langchain_v1/tests/unit_tests/storage/test_imports.py
  libs/langchain_v1/tests/unit_tests/storage/test_lc_store.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Due: none

x
  libs/langchain_v1/langchain/messages/__init__.py
Due: none

chore: update copilot development guidelines for clarity and structure
  .github/copilot-instructions.md
Due: none

chore: update copilot development guidelines for clarity and structure (#32230)
  .github/copilot-instructions.md
Due: none

refactor(langchain): refactor unit test stub classes (#32209)
  libs/langchain/tests/unit_tests/stubs.py
Due: langchain

feat: ensure Unicode characters are preserved in tool call arguments
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
Due: core, fireworks, groq, huggingface, mistralai, openai

fix: remove unused 'DOC' option from flake8 select list in multiple pyproject.toml files
  libs/cli/pyproject.toml
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/pyproject.toml
Due: anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama

fix: update langchain-core version to 0.3.72 and adjust packaging dependency specifier
  libs/partners/fireworks/uv.lock
  libs/partners/groq/uv.lock
  libs/partners/mistralai/uv.lock
Due: fireworks, groq, mistralai

WIP: Add new BaseChatModelFast class
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/language_models/fast_chat_models.py
  libs/core/langchain_core/messages/v1.py
Due: core

move best-effort v1 conversion
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/prompt_values.py
Due: core

remove type ignores for eugene
  libs/core/langchain_core/messages/utils.py
Due: core

Revert "copy BaseChatModel to language_models.v1"
  libs/core/langchain_core/language_models/v1/chat_models.py
Due: core

feat(standard-tests): add unicode_customer tool and integration test for Unicode character handling
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

fix tests
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
  libs/standard-tests/uv.lock
  uv.lock
Due: standard-tests

bump cli lock
  libs/cli/uv.lock
Due: none

lint
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
Due: standard-tests

Update base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

markdownlint
  README.md
  libs/partners/anthropic/README.md
  libs/partners/exa/README.md
  libs/partners/fireworks/README.md
  libs/partners/groq/README.md
  libs/partners/huggingface/README.md
  libs/partners/mistralai/README.md
  libs/partners/nomic/README.md
  libs/partners/openai/README.md
  libs/partners/perplexity/README.md
  libs/partners/prompty/README.md
  libs/standard-tests/README.md
Due: standard-tests, anthropic, exa, fireworks, groq, huggingface, mistralai, nomic, openai, prompty

remove duplicate header
  libs/partners/exa/README.md
Due: exa

bump
  pyproject.toml
  uv.lock
Due: none

formatting
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

docs(openai): add comprehensive documentation and examples for `extra_body` + others (#32149)
  README.md
  libs/partners/anthropic/README.md
  libs/partners/exa/README.md
  libs/partners/fireworks/README.md
  libs/partners/groq/README.md
  libs/partners/huggingface/README.md
  libs/partners/mistralai/README.md
  libs/partners/nomic/README.md
  libs/partners/openai/README.md
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
  libs/partners/perplexity/README.md
  libs/partners/prompty/README.md
  libs/standard-tests/README.md
  pyproject.toml
  uv.lock
Due: standard-tests, anthropic, exa, fireworks, groq, huggingface, mistralai, nomic, openai, prompty

fix: capitalization, codeblock formatting, and hyperlinks, note blocks
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/document_loaders/langsmith.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/tracers/context.py
  libs/langchain/langchain/pydantic_v1/__init__.py
  libs/langchain/tests/README.md
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/prompty/langchain_prompty/langchain.py
  libs/partners/prompty/langchain_prompty/utils.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: core, langchain, standard-tests, anthropic, chroma, fireworks, groq, huggingface, mistralai, ollama, openai, prompty, qdrant

lint
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fix(docs): capitalization, codeblock formatting, and hyperlinks, note blocks (#32235)
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/document_loaders/langsmith.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/tracers/context.py
  libs/langchain/langchain/pydantic_v1/__init__.py
  libs/langchain/tests/README.md
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/prompty/langchain_prompty/langchain.py
  libs/partners/prompty/langchain_prompty/utils.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Due: core, langchain, standard-tests, anthropic, chroma, fireworks, groq, huggingface, mistralai, ollama, openai, prompty, qdrant

test(ChatModelIntegrationTests): skip test if tool calling support is not available
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

markdownlint
  libs/partners/exa/README.md
Due: exa

fix: LLM mimicking Unicode responses due to forced Unicode conversion of non-ASCII characters. (#32222)
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/deepseek/pyproject.toml
  libs/partners/exa/README.md
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
  libs/standard-tests/uv.lock
Due: core, standard-tests, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai

start on openai
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/messages/v1.py
  libs/core/langchain_core/prompt_values.py
  libs/core/pyproject.toml
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base_v1.py
  libs/partners/openai/pyproject.toml
Due: core, openai

x
  libs/partners/openai/langchain_openai/chat_models/base_v1.py
Due: openai

move module
  libs/core/langchain_core/language_models/v1/chat_models.py
Due: core

fix(json): raise OutputParserException for non-dict JSON outputs
  libs/core/langchain_core/utils/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
Due: core

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook)/
