Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, langchain, standard-tests, text-splitters, anthropic, chroma, exa, fireworks, groq, huggingface, mistralai, nomic, ollama, openai, qdrant, core-version, langchain-v1-version

core:
  name: format and lint core
  language: system
  entry: make -C libs/core format lint
  pass_filenames: false

langchain:
  name: format and lint langchain
  language: system
  entry: make -C libs/langchain format lint
  pass_filenames: false

standard-tests:
  name: format and lint standard-tests
  language: system
  entry: make -C libs/standard-tests format lint
  pass_filenames: false

text-splitters:
  name: format and lint text-splitters
  language: system
  entry: make -C libs/text-splitters format lint
  pass_filenames: false

anthropic:
  name: format and lint partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format lint
  pass_filenames: false

chroma:
  name: format and lint partners/chroma
  language: system
  entry: make -C libs/partners/chroma format lint
  pass_filenames: false

exa:
  name: format and lint partners/exa
  language: system
  entry: make -C libs/partners/exa format lint
  pass_filenames: false

fireworks:
  name: format and lint partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format lint
  pass_filenames: false

groq:
  name: format and lint partners/groq
  language: system
  entry: make -C libs/partners/groq format lint
  pass_filenames: false

huggingface:
  name: format and lint partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format lint
  pass_filenames: false

mistralai:
  name: format and lint partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format lint
  pass_filenames: false

nomic:
  name: format and lint partners/nomic
  language: system
  entry: make -C libs/partners/nomic format lint
  pass_filenames: false

ollama:
  name: format and lint partners/ollama
  language: system
  entry: make -C libs/partners/ollama format lint
  pass_filenames: false

openai:
  name: format and lint partners/openai
  language: system
  entry: make -C libs/partners/openai format lint
  pass_filenames: false

qdrant:
  name: format and lint partners/qdrant
  language: system
  entry: make -C libs/partners/qdrant format lint
  pass_filenames: false

core-version:
  name: check core version consistency
  language: system
  entry: make -C libs/core check_version
  pass_filenames: false

langchain-v1-version:
  name: check langchain version consistency
  language: system
  entry: make -C libs/langchain_v1 check_version
  pass_filenames: false

docs(core): document multimodal input formats in ModelProfile
  libs/core/langchain_core/language_models/model_profile.py
Due: core

fix(core): ignore synthetic v2 root in RunnableParallel input schema
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

cherry-pick from #40410
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

(temporary) point langgraph-prebuilt dep to branch
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

update ToolMessage to relay what tool and args was executed
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
Due: none

fix(openrouter): format ToolMessage content blocks to OpenRouter wire format (#40435)
  libs/partners/openrouter/langchain_openrouter/chat_models.py
  libs/partners/openrouter/tests/unit_tests/test_chat_models.py
Due: none

update tests
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

append -> prepend
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

nit: update notice
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

fix(core): render inverted sections nested in list sections correctly
  libs/core/langchain_core/utils/mustache.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Due: core

docs(openwiki): clarify uv virtual environment management
  openwiki/quickstart.md
Due: none

update dependency overrides
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

docs(core,partners,standard-tests,text-splitters): fix README inconsistencies and errors
  libs/core/README.md
  libs/partners/fireworks/README.md
  libs/partners/groq/README.md
  libs/partners/ollama/README.md
  libs/standard-tests/README.md
  libs/text-splitters/README.md
Due: core, standard-tests, text-splitters, fireworks, groq, ollama

cr
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

fix(langchain): allow Windows-compatible error message in MCPAdapter test
  libs/langchain_v1/tests/unit_tests/mcp/test_adapter.py
Due: none

lint
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
Due: none

fix(text-splitters): handle non-character overlap in start index
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

fix(langchain): detect IPv6 addresses in `PIIMiddleware` ip type
  libs/langchain_v1/langchain/agents/middleware/_redaction.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_pii.py
Due: none

fix(langchain): answer invalid tool calls in agents
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_invalid_tool_calls.py
Due: none

Add GitHub Actions workflow for Python application
  .github/workflows/python-app.yml
Due: none

fix(langchain): avoid retrying invalid tool calls
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_invalid_tool_calls.py
Due: none

fix(langchain): repair historical invalid tool calls
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_invalid_tool_calls.py
Due: none

fix(langchain): preserve open MCP object arguments (#40414)
  libs/langchain_v1/langchain/mcp/tools.py
  libs/langchain_v1/tests/unit_tests/mcp/test_schema.py
Due: none

test(core): expand string utilities test coverage for primitives and edge cases
  libs/core/tests/unit_tests/utils/test_strings.py
Due: core

test(core): add strict formatter tests for extra kwargs and typed values
  libs/core/tests/unit_tests/utils/test_formatting.py
Due: core

test(core): add tests for env_var_is_set and tuple key fallback lookups
  libs/core/tests/unit_tests/utils/test_env.py
Due: core

test(core): add tests for uuid7 version property and explicit timestamp passing
  libs/core/tests/unit_tests/utils/test_uuid_utils.py
Due: core

test(core): add tests for Tee class indexing, slicing, and context management
  libs/core/tests/unit_tests/utils/test_iter.py
Due: core

release(langchain): 1.4.1
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

chore(model-profiles): refresh model profile data
  libs/partners/fireworks/langchain_fireworks/data/_profiles.py
  libs/partners/openrouter/langchain_openrouter/data/_profiles.py
Due: fireworks

test(core): add unit tests for string utilities and dict formatting [skip ci]
  libs/core/tests/unit_tests/utils/test_strings_formatting.py
Due: core

test(vectorstore): add deletion edge cases and empty identifier handling tests [skip ci]
  libs/core/tests/unit_tests/vectorstores/test_in_memory_delete_bounds.py
Due: core

test(messages): add message serialization and type dispatch tests [skip ci]
  libs/core/tests/unit_tests/messages/test_messages_serialization_bounds.py
Due: core

test(runnables): add unit tests for RunnablePassthrough identity and assignment [skip ci]
  libs/core/tests/unit_tests/runnables/test_passthrough_identity_bounds.py
Due: core

use ToolCallRequest.available_tools in langchain
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/implementations/test_human_in_the_loop.py
  libs/langchain_v1/uv.lock
Due: none

test(runnables): add unit tests for RunnableLambda execution and exception propagation [skip ci]
  libs/core/tests/unit_tests/runnables/test_lambda_error_bounds.py
Due: core

test(prompts): add unit tests for ChatPromptTemplate message tuples and partials [skip ci]
  libs/core/tests/unit_tests/prompts/test_chat_prompt_tuples_bounds.py
Due: core

test(output_parsers): add unit tests for StrOutputParser with messages and plain strings [skip ci]
  libs/core/tests/unit_tests/output_parsers/test_str_parser_bounds.py
Due: core

test(output_parsers): add unit tests for JsonOutputParser clean and markdown code blocks [skip ci]
  libs/core/tests/unit_tests/output_parsers/test_json_parser_bounds.py
Due: core

revert changes to deps
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Due: langchain-v1-version

Path conditions:
  core: any of: ^libs/core/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  anthropic: any of: ^libs/partners/anthropic/
  chroma: any of: ^libs/partners/chroma/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  mistralai: any of: ^libs/partners/mistralai/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  qdrant: any of: ^libs/partners/qdrant/
  core-version: any of: ^libs/core/(pyproject\.toml|langchain_core/version\.py)$
  langchain-v1-version: any of: ^libs/langchain_v1/(pyproject\.toml|langchain/__init__\.py)$
